<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LongSwordAttackBegin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{22,19}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{22,19}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>LongSwordAttackBegin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,64},{20,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>LongSwordAttackBegin10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{24,19}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,19}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>LongSwordAttackBegin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,25}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>LongSwordAttackBegin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{24,21}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{24,21}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>LongSwordAttackBegin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,25},{16,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>LongSwordAttackBegin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{22,21}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{22,21}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>LongSwordAttackBegin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,25}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>LongSwordAttackBegin7.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{26,21}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{26,21}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>LongSwordAttackBegin8.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,96},{20,19}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{20,19}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>LongSwordAttackBegin9.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,43},{24,19}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,19}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LongSwordAttackBegin.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11ef803850574740b4b14d30ce43fc4a:779ad84f965cb308c95f226c084ca979:ab8c1c57dcff259f5bdaee26f0fcb7a6$</string>
            <key>textureFileName</key>
            <string>LongSwordAttackBegin.png</string>
        </dict>
    </dict>
</plist>
