*.o
*.d
*.vs*
Server/LogicServer/LogicServer
*workspace.xml
*Debug.win32*
Common/protobuf-2.5.0/vsprojects*
Common/protobuf-2.5.0/gtest*
Client/bingdianranshao/frameworks/runtime-src/proj.win32/bingdianranshao.VC.opend*
Client/bingdianranshao/frameworks/cocos2d-x/tools/tojs/userconf.ini
Client/bingdianranshao/.idea/workspace*
Client/bingdianranshao/frameworks/runtime-src/proj.android/assets*
Client/bingdianranshao/frameworks/runtime-src/proj.android/bin*
Client/bingdianranshao/frameworks/runtime-src/proj.android/gen*
Client/bingdianranshao/frameworks/runtime-src/proj.android/libs*
Client/bingdianranshao/frameworks/runtime-src/proj.android/obj*
Client/bingdianranshao/frameworks/cocos2d-x/cocos/platform/android/java/bin*
Client/bingdianranshao/frameworks/runtime-src/proj.win32/bingdianranshao.VC.db
Client/bingdianranshao/frameworks/runtime-src/proj.win32/bingdianranshao.VC.VC.opendb
Client/bingdianranshao/frameworks/runtime-src/proj.win32/bingdianranshao.sdf
Client/bingdianranshao/simulator/*