<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PylonAttackBegin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,294},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{77,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin10.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,371},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin11.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,294},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{77,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin13.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,221},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin14.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,221},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin15.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,221},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin16.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,375},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin17.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,298},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{77,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin19.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,221},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,148},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin20.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,148},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin21.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,148},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin22.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,148},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin23.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{77,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin24.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,229},{75,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin25.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,152},{75,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin26.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,75},{75,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,75},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,75},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,75},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,75},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin7.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{77,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin8.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,383},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackBegin9.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,306},{75,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackEnd0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{75,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackEnd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{75,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackEnd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{77,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackEnd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{77,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackEnd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{77,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>PylonAttackEnd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pylon.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:901188bcf3ae0ba00c112888689c5d57:8fe3718884d7f506300b483c709b185c:bb5a3a35e7b8d92ddfc433a0567eefee$</string>
            <key>textureFileName</key>
            <string>pylon.png</string>
        </dict>
    </dict>
</plist>
