<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RangedAttackBeigin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,15}</string>
            </dict>
            <key>RangedAttackBeigin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,15}</string>
            </dict>
            <key>RangedAttackBeigin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,19},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,15}</string>
            </dict>
            <key>RangedAttackBeigin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,19},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,15}</string>
            </dict>
            <key>RangedAttackBeigin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,15}</string>
            </dict>
            <key>RangedAttackBeigin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RangedAttackBeigin.png</string>
            <key>size</key>
            <string>{32,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5796a73dc2803d194b9ca2023d724d3c:409ca1bb33405be8ebda270ea9a4dcd7:63cbb5dc6d627eb5282be4386a25eaf3$</string>
            <key>textureFileName</key>
            <string>RangedAttackBeigin.png</string>
        </dict>
    </dict>
</plist>
