<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TurretAttackBegin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,157},{78,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,53}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>TurretAttackBegin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,57},{80,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,53}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>TurretAttackBegin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,53}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>TurretAttackBegin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{80,51}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{80,51}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>TurretAttackBegin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,57},{80,49}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{80,49}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>TurretAttackBegin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,112},{80,47}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{80,47}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>TurretAttackBegin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,108},{80,47}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{80,47}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>TurretAttackBegin7.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,53}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>TurretAttackBegin8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,59}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>TurretAttackBegin9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{78,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,59}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TurretAttackBegin.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd0726844e6bd3dc3d5676108aa3594f:d581c5212527400ce8905d4e830e679e:3141ef853a9492222b40ea960316a01f$</string>
            <key>textureFileName</key>
            <string>TurretAttackBegin.png</string>
        </dict>
    </dict>
</plist>
