<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AxeSoldiersAttackBegin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,114},{34,42}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,35},{34,42}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersAttackBegin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{44,34}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,43},{44,34}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersAttackBegin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{46,34}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,43},{46,34}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersAttackBegin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,74},{46,34}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,43},{46,34}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersAttackBegin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,38},{46,34}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,43},{46,34}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersAttackBegin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,52}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{70,52}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersAttackEnd0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,30},{62,48}}</string>
                <key>offset</key>
                <string>{20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{62,48}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersAttackEnd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,30},{64,48}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{64,48}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersAttackEnd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{66,26}}</string>
                <key>offset</key>
                <string>{21,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,51},{66,26}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersAttackEnd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{66,26}}</string>
                <key>offset</key>
                <string>{21,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,51},{66,26}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersAttackEnd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{58,26}}</string>
                <key>offset</key>
                <string>{18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,51},{58,26}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersAttackEnd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,80},{54,32}}</string>
                <key>offset</key>
                <string>{15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{54,32}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersDeath0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{34,38}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,39},{34,38}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersDeath1.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,192},{32,34}}</string>
                <key>offset</key>
                <string>{-14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,41},{32,34}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersDeath2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{32,34}}</string>
                <key>offset</key>
                <string>{-15,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,41},{32,34}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersDeath3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,118},{32,30}}</string>
                <key>offset</key>
                <string>{-16,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,45},{32,30}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersDeath4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,118},{34,30}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,47},{34,30}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersDeath5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{34,26}}</string>
                <key>offset</key>
                <string>{-16,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,56},{34,26}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersWalking0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,116},{34,40}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,37},{34,40}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersWalking1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,110},{34,42}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,35},{34,42}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersWalking2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,80},{36,40}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,37},{36,40}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersWalking3.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,150},{34,38}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,39},{34,38}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersWalking4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{34,40}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,37},{34,40}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>AxeSoldiersWalking5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,80},{34,42}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,35},{34,42}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AxeSoldiers.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdae9f5f1cf867a54e6f7efcfbfbab27:219eac549609fead38d687ae2fe068ce:7c052b1795522420b44424c220b84f61$</string>
            <key>textureFileName</key>
            <string>AxeSoldiers.png</string>
        </dict>
    </dict>
</plist>
