<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillAttack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{10,23}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{10,23}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>skillAttack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{20,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{20,23}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>skillAttack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,69},{22,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{22,23}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>skillAttack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,42},{22,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{22,25}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>skillAttack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,92},{26,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{26,29}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>skillAttack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{32,35}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>skillAttack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{38,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,41}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>skillAttack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>skillAttack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xxmftskill.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc316e8f3769c1b1770eec819346ef80:c318bfbb766e23e94bf6a8a99a4115be:f8f3aef48e291d8314852f89244d83cc$</string>
            <key>textureFileName</key>
            <string>xxmftskill.png</string>
        </dict>
    </dict>
</plist>
