<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SkeletonAttack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,134},{22,29}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{22,29}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonAttack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{20,31}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonAttack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,48},{32,31}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonAttack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,31}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonAttack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,26},{32,31}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonAttack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{32,31}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonAttack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,105},{30,27}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{30,27}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonAttack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,154},{28,27}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{28,27}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonAttack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{22,29}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{22,29}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonAttack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,134},{22,29}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{22,29}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonDeath0.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,26},{20,33}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonDeath1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{22,33}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonDeath2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,123},{24,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{24,29}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonDeath3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,92},{24,29}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{24,29}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonDeath4.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,149},{22,27}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{22,27}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonDeath5.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,125},{22,29}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{22,29}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonDeath6.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,173},{22,21}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{22,21}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonDeath7.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,158},{22,21}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{22,21}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonDeath8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{22,21}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{22,21}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonWalking0.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,59},{22,31}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{22,31}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonWalking1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,59},{22,31}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{22,31}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonWalking2.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,103},{20,31}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{20,31}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonWalking3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,83},{20,31}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{20,31}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonWalking4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{20,31}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{20,31}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonWalking5.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,81},{20,31}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{20,31}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonWalking6.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{22,33}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>SkeletonWalking7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{22,31}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{22,31}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Skeleton.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cec77f841216d8a0252e8b3609ba7a3:73c4076a2276ef3614358a19d4e9227a:ce2e4bf3ac52445ac8403f911e85bd80$</string>
            <key>textureFileName</key>
            <string>Skeleton.png</string>
        </dict>
    </dict>
</plist>
