<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LoadingAnimate0.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,183},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>LoadingAnimate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>LoadingAnimate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>LoadingAnimate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,48},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>LoadingAnimate4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,138},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>LoadingAnimate5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>LoadingAnimate6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>LoadingAnimate7.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>LoadingAnimate8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>LoadingAnimate9.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,93},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LoadingAnimate.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50d3aa1421c4a7886438d6acb94a7323:8a4b7b7528128e63d552be98d9446a2e:93c01fc65f35add849506cc45748a833$</string>
            <key>textureFileName</key>
            <string>LoadingAnimate.png</string>
        </dict>
    </dict>
</plist>
