<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MusketAttackBegin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,94},{28,26}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{28,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackBegin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,58},{30,26}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{30,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackBegin10.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,90},{28,26}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{28,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackBegin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,30},{32,26}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{32,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackBegin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{32,26}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{32,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackBegin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,34},{40,30}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{40,30}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackBegin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{50,30}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{50,30}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackBegin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,32}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{52,32}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackBegin7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,32}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{52,32}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackBegin8.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{52,28}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{52,28}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackBegin9.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,32},{50,28}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{50,28}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackEnd0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,90},{28,26}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{28,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackEnd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,118},{26,26}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{26,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackEnd10.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,90},{28,26}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{28,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackEnd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,66},{28,26}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{28,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackEnd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,66},{28,26}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{28,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackEnd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{28,26}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{28,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackEnd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,86},{28,26}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{28,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackEnd6.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,94},{26,26}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{26,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackEnd7.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,66},{28,26}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{28,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackEnd8.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,62},{28,26}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{28,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketAttackEnd9.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,94},{26,26}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{26,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketDeath0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{26,26}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{26,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketDeath1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,114},{26,26}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{26,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketDeath2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,118},{26,24}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{26,24}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketDeath3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,66},{24,20}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,38},{24,20}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketDeath4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,58},{24,16}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,41},{24,16}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketDeath5.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,58},{24,16}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,41},{24,16}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketWalking0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,90},{28,26}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{28,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketWalking1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,62},{28,26}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{28,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketWalking2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,36},{28,28}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{28,28}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketWalking3.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,36},{28,28}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{28,28}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketWalking4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{28,28}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{28,28}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketWalking5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,114},{28,24}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,29},{28,24}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>MusketWalking6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,94},{28,26}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{28,26}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Musket.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38d8ae0f3dab59e4dad7cc9bb8effc4a:6d29e24db02d129daf0973f0063dc6b6:16ff8e7ca66a67b31efe148847434330$</string>
            <key>textureFileName</key>
            <string>Musket.png</string>
        </dict>
    </dict>
</plist>
