<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A001_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,137}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{110,137}}</string>
                <key>sourceSize</key>
                <string>{132,171}</string>
            </dict>
            <key>A001_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{159,120}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{159,120}}</string>
                <key>sourceSize</key>
                <string>{187,148}</string>
            </dict>
            <key>A001_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{86,70}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{86,70}}</string>
                <key>sourceSize</key>
                <string>{130,92}</string>
            </dict>
            <key>A001_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{179,270}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{179,270}}</string>
                <key>sourceSize</key>
                <string>{217,282}</string>
            </dict>
            <key>A001_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{258,271}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,271}}</string>
                <key>sourceSize</key>
                <string>{288,281}</string>
            </dict>
            <key>A001_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{297,233}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,233}}</string>
                <key>sourceSize</key>
                <string>{329,243}</string>
            </dict>
            <key>A001_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,275},{212,216}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{212,216}}</string>
                <key>sourceSize</key>
                <string>{252,226}</string>
            </dict>
            <key>A001_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,275},{308,267}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,267}}</string>
                <key>sourceSize</key>
                <string>{334,277}</string>
            </dict>
            <key>A001_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{313,267}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,267}}</string>
                <key>sourceSize</key>
                <string>{341,277}</string>
            </dict>
            <key>A001_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,544},{179,254}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{179,254}}</string>
                <key>sourceSize</key>
                <string>{217,264}</string>
            </dict>
            <key>A001_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,544},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A001_attacks.png</string>
            <key>size</key>
            <string>{825,813}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09b51102e39f6ddecd937c99917fe330$</string>
            <key>textureFileName</key>
            <string>A001_attacks.png</string>
        </dict>
    </dict>
</plist>
