<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A002_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{136,167}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{136,167}}</string>
                <key>sourceSize</key>
                <string>{144,173}</string>
            </dict>
            <key>A002_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{189,167}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{189,167}}</string>
                <key>sourceSize</key>
                <string>{197,173}</string>
            </dict>
            <key>A002_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{108,259}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{108,259}}</string>
                <key>sourceSize</key>
                <string>{122,265}</string>
            </dict>
            <key>A002_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{100,256}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,256}}</string>
                <key>sourceSize</key>
                <string>{122,262}</string>
            </dict>
            <key>A002_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,263},{145,210}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,210}}</string>
                <key>sourceSize</key>
                <string>{157,216}</string>
            </dict>
            <key>A002_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{185,135}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,135}}</string>
                <key>sourceSize</key>
                <string>{185,141}</string>
            </dict>
            <key>A002_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,475},{187,134}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{187,134}}</string>
                <key>sourceSize</key>
                <string>{197,140}</string>
            </dict>
            <key>A002_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{203,167}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{203,167}}</string>
                <key>sourceSize</key>
                <string>{213,173}</string>
            </dict>
            <key>A002_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,612},{195,180}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,180}}</string>
                <key>sourceSize</key>
                <string>{209,186}</string>
            </dict>
            <key>A002_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,263},{152,154}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{152,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>A002_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{221,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{221,14}}</string>
                <key>sourceSize</key>
                <string>{227,20}</string>
            </dict>
            <key>A002_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{79,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,98}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>A002_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{125,58}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{125,58}}</string>
                <key>sourceSize</key>
                <string>{135,74}</string>
            </dict>
            <key>A002_rageskill_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,794},{209,75}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{209,75}}</string>
                <key>sourceSize</key>
                <string>{229,77}</string>
            </dict>
            <key>A002_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A002_rageskill.png</string>
            <key>size</key>
            <string>{441,979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77b6421eb3a01ca62e84f1ba92fbcf84$</string>
            <key>textureFileName</key>
            <string>A002_rageskill.png</string>
        </dict>
    </dict>
</plist>
