<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A004_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,159}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{95,159}}</string>
                <key>sourceSize</key>
                <string>{115,165}</string>
            </dict>
            <key>A004_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{104,158}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,158}}</string>
                <key>sourceSize</key>
                <string>{116,164}</string>
            </dict>
            <key>A004_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{103,150}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,150}}</string>
                <key>sourceSize</key>
                <string>{115,156}</string>
            </dict>
            <key>A004_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{123,108}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,108}}</string>
                <key>sourceSize</key>
                <string>{135,114}</string>
            </dict>
            <key>A004_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{109,108}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,108}}</string>
                <key>sourceSize</key>
                <string>{121,114}</string>
            </dict>
            <key>A004_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,163},{97,134}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{97,134}}</string>
                <key>sourceSize</key>
                <string>{115,140}</string>
            </dict>
            <key>A004_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,163},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>A004_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,163},{84,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,33}}</string>
                <key>sourceSize</key>
                <string>{84,33}</string>
            </dict>
            <key>A004_rageskill_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,163},{108,129}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{108,129}}</string>
                <key>sourceSize</key>
                <string>{124,157}</string>
            </dict>
            <key>A004_rageskill_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,163},{66,100}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{66,100}}</string>
                <key>sourceSize</key>
                <string>{78,108}</string>
            </dict>
            <key>A004_rageskill_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{53,78}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{53,78}}</string>
                <key>sourceSize</key>
                <string>{63,82}</string>
            </dict>
            <key>A004_rageskill_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,299},{98,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{98,101}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>A004_rageskill_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,299},{62,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{62,64}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>A004_rageskill_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,299},{36,36}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>A004_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,299},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A004_rageskill.png</string>
            <key>size</key>
            <string>{501,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a0c23c69d860d8c776b9ef90bd32a85$</string>
            <key>textureFileName</key>
            <string>A004_rageskill.png</string>
        </dict>
    </dict>
</plist>
