<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A004_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,79}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{82,79}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>A004_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{95,159}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{95,159}}</string>
                <key>sourceSize</key>
                <string>{115,165}</string>
            </dict>
            <key>A004_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{104,216}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,216}}</string>
                <key>sourceSize</key>
                <string>{116,222}</string>
            </dict>
            <key>A004_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{143,235}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{143,235}}</string>
                <key>sourceSize</key>
                <string>{151,239}</string>
            </dict>
            <key>A004_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{164,111}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{164,111}}</string>
                <key>sourceSize</key>
                <string>{172,117}</string>
            </dict>
            <key>A004_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,239},{97,155}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{97,155}}</string>
                <key>sourceSize</key>
                <string>{115,161}</string>
            </dict>
            <key>A004_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,239},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A004_attacks.png</string>
            <key>size</key>
            <string>{434,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26bde63a922984f155ec84d41448be53$</string>
            <key>textureFileName</key>
            <string>A004_attacks.png</string>
        </dict>
    </dict>
</plist>
