<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A006_rageskill_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>A006_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{105,141}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{105,141}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>A006_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{115,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,122}}</string>
                <key>sourceSize</key>
                <string>{115,126}</string>
            </dict>
            <key>A006_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{101,123}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,123}}</string>
                <key>sourceSize</key>
                <string>{101,127}</string>
            </dict>
            <key>A006_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{94,123}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,123}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>A006_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{71,138}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,138}}</string>
                <key>sourceSize</key>
                <string>{79,142}</string>
            </dict>
            <key>A006_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{71,132}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,132}}</string>
                <key>sourceSize</key>
                <string>{79,136}</string>
            </dict>
            <key>A006_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,145},{71,132}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,132}}</string>
                <key>sourceSize</key>
                <string>{79,136}</string>
            </dict>
            <key>A006_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,145},{81,141}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{81,141}}</string>
                <key>sourceSize</key>
                <string>{85,145}</string>
            </dict>
            <key>A006_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,145},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>A006_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,145},{197,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{197,90}}</string>
                <key>sourceSize</key>
                <string>{197,92}</string>
            </dict>
            <key>A006_rageskill_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{44,47}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,47}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>A006_rageskill_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,288},{150,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,167}}</string>
                <key>sourceSize</key>
                <string>{150,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A006_rageskill.png</string>
            <key>size</key>
            <string>{500,457}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aec68b6aeeaf18b46ef9ff522393f9e4$</string>
            <key>textureFileName</key>
            <string>A006_rageskill.png</string>
        </dict>
    </dict>
</plist>
