<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A006_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,141}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{105,141}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>A006_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{96,145}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{96,145}}</string>
                <key>sourceSize</key>
                <string>{102,149}</string>
            </dict>
            <key>A006_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A006_block.png</string>
            <key>size</key>
            <string>{209,149}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc4c323df131487094cd3525f3f3ef9c$</string>
            <key>textureFileName</key>
            <string>A006_block.png</string>
        </dict>
    </dict>
</plist>
