<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A006_attacks_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>A006_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{126,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,122}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>A006_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{81,131}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,131}}</string>
                <key>sourceSize</key>
                <string>{99,135}</string>
            </dict>
            <key>A006_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{123,124}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{123,124}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>A006_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{132,127}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,127}}</string>
                <key>sourceSize</key>
                <string>{140,131}</string>
            </dict>
            <key>A006_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,261},{105,141}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{105,141}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A006_attacks.png</string>
            <key>size</key>
            <string>{243,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6765bbae27ef767ff70e58f698fc983d$</string>
            <key>textureFileName</key>
            <string>A006_attacks.png</string>
        </dict>
    </dict>
</plist>
