<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A006_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,141}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{105,141}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>A006_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{128,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,139}}</string>
                <key>sourceSize</key>
                <string>{128,139}</string>
            </dict>
            <key>A006_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A006_jump.png</string>
            <key>size</key>
            <string>{241,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e18297e2d5a95278c2be8592a86a3c9$</string>
            <key>textureFileName</key>
            <string>A006_jump.png</string>
        </dict>
    </dict>
</plist>
