<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A010_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,136}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{71,136}}</string>
                <key>sourceSize</key>
                <string>{87,140}</string>
            </dict>
            <key>A010_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{77,130}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{77,130}}</string>
                <key>sourceSize</key>
                <string>{87,134}</string>
            </dict>
            <key>A010_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A010_block.png</string>
            <key>size</key>
            <string>{156,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49bba8e6f9487e8bb9ce40724f880965$</string>
            <key>textureFileName</key>
            <string>A010_block.png</string>
        </dict>
    </dict>
</plist>
