<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A011_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,101}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,101}}</string>
                <key>sourceSize</key>
                <string>{99,107}</string>
            </dict>
            <key>A011_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{89,98}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{89,98}}</string>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>A011_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,105},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A011_block.png</string>
            <key>size</key>
            <string>{95,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c02d7e691ee6a14466c0468ef21706b2$</string>
            <key>textureFileName</key>
            <string>A011_block.png</string>
        </dict>
    </dict>
</plist>
