<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A011_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{81,37}}</string>
                <key>sourceSize</key>
                <string>{85,41}</string>
            </dict>
            <key>A011_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>A011_rageskill_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{81,101}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,101}}</string>
                <key>sourceSize</key>
                <string>{99,107}</string>
            </dict>
            <key>A011_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{81,98}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,98}}</string>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>A011_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,105},{81,89}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,89}}</string>
                <key>sourceSize</key>
                <string>{99,95}</string>
            </dict>
            <key>A011_rageskill_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,105},{81,89}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,89}}</string>
                <key>sourceSize</key>
                <string>{99,95}</string>
            </dict>
            <key>A011_rageskill_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{81,88}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,88}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>A011_rageskill_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,205},{81,88}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,88}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>A011_rageskill_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,205},{81,85}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,85}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>A011_rageskill_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{81,85}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{81,85}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>A011_rageskill_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,295},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>A011_rageskill_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,295},{73,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>A011_rageskill_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{40,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,54}</string>
            </dict>
            <key>A011_rageskill_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,382},{67,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,83}}</string>
                <key>sourceSize</key>
                <string>{67,83}</string>
            </dict>
            <key>A011_rageskill_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,382},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>A011_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,382},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A011_rageskill.png</string>
            <key>size</key>
            <string>{251,467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8d87c8cd2ee12dc128158f1776a6221$</string>
            <key>textureFileName</key>
            <string>A011_rageskill.png</string>
        </dict>
    </dict>
</plist>
