<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A012_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,152}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{111,152}}</string>
                <key>sourceSize</key>
                <string>{127,170}</string>
            </dict>
            <key>A012_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{114,150}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,150}}</string>
                <key>sourceSize</key>
                <string>{124,156}</string>
            </dict>
            <key>A012_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{123,152}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,152}}</string>
                <key>sourceSize</key>
                <string>{135,158}</string>
            </dict>
            <key>A012_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{203,132}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{203,132}}</string>
                <key>sourceSize</key>
                <string>{211,138}</string>
            </dict>
            <key>A012_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{111,40}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{111,40}}</string>
                <key>sourceSize</key>
                <string>{123,74}</string>
            </dict>
            <key>A012_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,444},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A012_attacks.png</string>
            <key>size</key>
            <string>{231,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f1a5460f9eb127ed6ef91ac96455d92$</string>
            <key>textureFileName</key>
            <string>A012_attacks.png</string>
        </dict>
    </dict>
</plist>
