<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A012_rageskill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{100,27}}</string>
                <key>sourceSize</key>
                <string>{122,35}</string>
            </dict>
            <key>A012_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{111,152}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{111,152}}</string>
                <key>sourceSize</key>
                <string>{127,170}</string>
            </dict>
            <key>A012_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{104,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,118}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>A012_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{162,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,135}}</string>
                <key>sourceSize</key>
                <string>{162,135}</string>
            </dict>
            <key>A012_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{95,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,163}}</string>
                <key>sourceSize</key>
                <string>{95,163}</string>
            </dict>
            <key>A012_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,156},{166,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,139}}</string>
                <key>sourceSize</key>
                <string>{166,139}</string>
            </dict>
            <key>A012_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,156},{95,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,163}}</string>
                <key>sourceSize</key>
                <string>{95,163}</string>
            </dict>
            <key>A012_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,156},{93,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>A012_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{81,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{81,75}</string>
            </dict>
            <key>A012_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,321},{84,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{84,78}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>A012_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,321},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A012_rageskill.png</string>
            <key>size</key>
            <string>{487,401}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:068411b8b920078b98652e8674761fd5$</string>
            <key>textureFileName</key>
            <string>A012_rageskill.png</string>
        </dict>
    </dict>
</plist>
