<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A012_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,152}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{111,152}}</string>
                <key>sourceSize</key>
                <string>{127,170}</string>
            </dict>
            <key>A012_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{136,152}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,152}}</string>
                <key>sourceSize</key>
                <string>{148,158}</string>
            </dict>
            <key>A012_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A012_block.png</string>
            <key>size</key>
            <string>{255,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bafcb2c734f1f50a1d97f0c0dd9e0223$</string>
            <key>textureFileName</key>
            <string>A012_block.png</string>
        </dict>
    </dict>
</plist>
