<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A013_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{74,136}}</string>
                <key>sourceSize</key>
                <string>{90,144}</string>
            </dict>
            <key>A013_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{194,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,100}}</string>
                <key>sourceSize</key>
                <string>{194,100}</string>
            </dict>
            <key>A013_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{194,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,103}}</string>
                <key>sourceSize</key>
                <string>{194,103}</string>
            </dict>
            <key>A013_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{190,105}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,105}}</string>
                <key>sourceSize</key>
                <string>{190,109}</string>
            </dict>
            <key>A013_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,140},{190,102}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,102}}</string>
                <key>sourceSize</key>
                <string>{190,106}</string>
            </dict>
            <key>A013_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,140},{89,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,120}}</string>
                <key>sourceSize</key>
                <string>{89,124}</string>
            </dict>
            <key>A013_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{91,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,135}}</string>
                <key>sourceSize</key>
                <string>{91,135}</string>
            </dict>
            <key>A013_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,262},{209,79}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,8},{209,79}}</string>
                <key>sourceSize</key>
                <string>{289,103}</string>
            </dict>
            <key>A013_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,262},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A013_attacks.png</string>
            <key>size</key>
            <string>{477,399}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2fd549cf9982bfd2a85057d2dd4ddbc$</string>
            <key>textureFileName</key>
            <string>A013_attacks.png</string>
        </dict>
    </dict>
</plist>
