<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A014_rageskill_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>A014_rageskill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{100,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{100,27}}</string>
                <key>sourceSize</key>
                <string>{122,35}</string>
            </dict>
            <key>A014_rageskill_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{73,136}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{73,136}}</string>
                <key>sourceSize</key>
                <string>{97,146}</string>
            </dict>
            <key>A014_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{45,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,128}}</string>
                <key>sourceSize</key>
                <string>{45,128}</string>
            </dict>
            <key>A014_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{55,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,128}}</string>
                <key>sourceSize</key>
                <string>{55,128}</string>
            </dict>
            <key>A014_rageskill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{128,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,57}}</string>
                <key>sourceSize</key>
                <string>{128,57}</string>
            </dict>
            <key>A014_rageskill_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{181,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{181,82}}</string>
                <key>sourceSize</key>
                <string>{183,82}</string>
            </dict>
            <key>A014_rageskill_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{365,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,102}}</string>
                <key>sourceSize</key>
                <string>{365,102}</string>
            </dict>
            <key>A014_rageskill_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{170,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,64}}</string>
                <key>sourceSize</key>
                <string>{170,64}</string>
            </dict>
            <key>A014_rageskill_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,328},{101,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>A014_rageskill_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{252,244}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{252,244}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A014_rageskill.png</string>
            <key>size</key>
            <string>{415,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ec8b0ac27340de4880541cd4df94b62$</string>
            <key>textureFileName</key>
            <string>A014_rageskill.png</string>
        </dict>
    </dict>
</plist>
