<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A014_attacks_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>A014_attacks_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{100,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{100,27}}</string>
                <key>sourceSize</key>
                <string>{122,35}</string>
            </dict>
            <key>A014_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>A014_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>A014_attacks_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{315,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,138}}</string>
                <key>sourceSize</key>
                <string>{315,138}</string>
            </dict>
            <key>A014_attacks_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,204},{73,136}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{73,136}}</string>
                <key>sourceSize</key>
                <string>{97,146}</string>
            </dict>
            <key>A014_attacks_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,204},{45,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,128}}</string>
                <key>sourceSize</key>
                <string>{45,128}</string>
            </dict>
            <key>A014_attacks_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,204},{55,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,128}}</string>
                <key>sourceSize</key>
                <string>{55,128}</string>
            </dict>
            <key>A014_attacks_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{100,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,174}}</string>
                <key>sourceSize</key>
                <string>{100,174}</string>
            </dict>
            <key>A014_attacks_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,344},{79,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,116}}</string>
                <key>sourceSize</key>
                <string>{79,116}</string>
            </dict>
            <key>A014_attacks_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,344},{81,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,145}}</string>
                <key>sourceSize</key>
                <string>{81,145}</string>
            </dict>
            <key>A014_attacks_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,344},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>A014_attacks_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>A014_attacks_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,520},{142,158}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{142,158}}</string>
                <key>sourceSize</key>
                <string>{152,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A014_attacks.png</string>
            <key>size</key>
            <string>{498,740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f812c10bfafcc82e36279472cf3eddd$</string>
            <key>textureFileName</key>
            <string>A014_attacks.png</string>
        </dict>
    </dict>
</plist>
