<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A015_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,161}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{102,161}}</string>
                <key>sourceSize</key>
                <string>{122,167}</string>
            </dict>
            <key>A015_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{116,135}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,135}}</string>
                <key>sourceSize</key>
                <string>{130,141}</string>
            </dict>
            <key>A015_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{128,147}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{156,153}</string>
            </dict>
            <key>A015_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{144,146}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{156,152}</string>
            </dict>
            <key>A015_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{165,152}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{165,152}}</string>
                <key>sourceSize</key>
                <string>{167,158}</string>
            </dict>
            <key>A015_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,165},{202,125}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,125}}</string>
                <key>sourceSize</key>
                <string>{202,131}</string>
            </dict>
            <key>A015_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{229,128}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,128}}</string>
                <key>sourceSize</key>
                <string>{229,134}</string>
            </dict>
            <key>A015_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,319},{259,136}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,136}}</string>
                <key>sourceSize</key>
                <string>{275,142}</string>
            </dict>
            <key>A015_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{111,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{111,34}}</string>
                <key>sourceSize</key>
                <string>{115,36}</string>
            </dict>
            <key>A015_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,457},{115,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{115,41}}</string>
                <key>sourceSize</key>
                <string>{119,45}</string>
            </dict>
            <key>A015_attacks_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,457},{102,45}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{102,45}}</string>
                <key>sourceSize</key>
                <string>{104,55}</string>
            </dict>
            <key>A015_attacks_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,457},{57,25}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,25}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>A015_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,457},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A015_attacks.png</string>
            <key>size</key>
            <string>{500,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d4385bf875dc19d7efa6f859b85cde2$</string>
            <key>textureFileName</key>
            <string>A015_attacks.png</string>
        </dict>
    </dict>
</plist>
