<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A016_attacks_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,45}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{179,45}}</string>
                <key>sourceSize</key>
                <string>{185,47}</string>
            </dict>
            <key>A016_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{60,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,53}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>A016_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{135,176}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{135,176}}</string>
                <key>sourceSize</key>
                <string>{165,182}</string>
            </dict>
            <key>A016_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{135,176}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{135,176}}</string>
                <key>sourceSize</key>
                <string>{165,182}</string>
            </dict>
            <key>A016_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{134,164}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{134,164}}</string>
                <key>sourceSize</key>
                <string>{162,170}</string>
            </dict>
            <key>A016_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{226,166}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{242,172}</string>
            </dict>
            <key>A016_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{147,167}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{147,167}}</string>
                <key>sourceSize</key>
                <string>{165,173}</string>
            </dict>
            <key>A016_attacks_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,747},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,55}}</string>
                <key>sourceSize</key>
                <string>{38,55}</string>
            </dict>
            <key>A016_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,747},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A016_attacks.png</string>
            <key>size</key>
            <string>{245,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e61aff8a36369d8cd46bda2b179bb2b3$</string>
            <key>textureFileName</key>
            <string>A016_attacks.png</string>
        </dict>
    </dict>
</plist>
