<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A016_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,176}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{135,176}}</string>
                <key>sourceSize</key>
                <string>{165,182}</string>
            </dict>
            <key>A016_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{151,162}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{151,162}}</string>
                <key>sourceSize</key>
                <string>{165,168}</string>
            </dict>
            <key>A016_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,180},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A016_block.png</string>
            <key>size</key>
            <string>{157,344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a69fdf4bd6b6a2600c846d9e35faf36a$</string>
            <key>textureFileName</key>
            <string>A016_block.png</string>
        </dict>
    </dict>
</plist>
