<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A016_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,176}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{135,176}}</string>
                <key>sourceSize</key>
                <string>{165,182}</string>
            </dict>
            <key>A016_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{135,178}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{135,178}}</string>
                <key>sourceSize</key>
                <string>{165,184}</string>
            </dict>
            <key>A016_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,180},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A016_beattack.png</string>
            <key>size</key>
            <string>{141,360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36af19a66a86bc30a404c0483550b1b2$</string>
            <key>textureFileName</key>
            <string>A016_beattack.png</string>
        </dict>
    </dict>
</plist>
