<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A017_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,134}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{96,134}}</string>
                <key>sourceSize</key>
                <string>{118,140}</string>
            </dict>
            <key>A017_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{106,105}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{106,105}}</string>
                <key>sourceSize</key>
                <string>{118,111}</string>
            </dict>
            <key>A017_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{112,121}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{112,121}}</string>
                <key>sourceSize</key>
                <string>{120,127}</string>
            </dict>
            <key>A017_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{100,154}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{100,154}}</string>
                <key>sourceSize</key>
                <string>{118,160}</string>
            </dict>
            <key>A017_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{119,133}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,133}}</string>
                <key>sourceSize</key>
                <string>{131,139}</string>
            </dict>
            <key>A017_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,158},{153,114}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{153,114}}</string>
                <key>sourceSize</key>
                <string>{161,120}</string>
            </dict>
            <key>A017_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,158},{98,108}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{98,108}}</string>
                <key>sourceSize</key>
                <string>{118,114}</string>
            </dict>
            <key>A017_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,158},{100,109}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{100,109}}</string>
                <key>sourceSize</key>
                <string>{118,115}</string>
            </dict>
            <key>A017_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>A017_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,293},{134,94}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{134,94}}</string>
                <key>sourceSize</key>
                <string>{148,102}</string>
            </dict>
            <key>A017_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,293},{104,115}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{104,115}}</string>
                <key>sourceSize</key>
                <string>{116,125}</string>
            </dict>
            <key>A017_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,293},{97,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{97,98}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>A017_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,293},{91,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{91,74}}</string>
                <key>sourceSize</key>
                <string>{97,82}</string>
            </dict>
            <key>A017_rageskill_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{61,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{61,73}}</string>
                <key>sourceSize</key>
                <string>{69,77}</string>
            </dict>
            <key>A017_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,410},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A017_rageskill.png</string>
            <key>size</key>
            <string>{503,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3eaa23507fd2dbcbf983bc8ecc399c24$</string>
            <key>textureFileName</key>
            <string>A017_rageskill.png</string>
        </dict>
    </dict>
</plist>
