<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A017_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,134}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{96,134}}</string>
                <key>sourceSize</key>
                <string>{118,140}</string>
            </dict>
            <key>A017_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{96,134}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{96,134}}</string>
                <key>sourceSize</key>
                <string>{118,140}</string>
            </dict>
            <key>A017_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{96,132}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{96,132}}</string>
                <key>sourceSize</key>
                <string>{118,140}</string>
            </dict>
            <key>A017_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,274},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A017_stand.png</string>
            <key>size</key>
            <string>{102,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a7b4d1c46a66454532f0ee1c1907337$</string>
            <key>textureFileName</key>
            <string>A017_stand.png</string>
        </dict>
    </dict>
</plist>
