<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A018_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,154}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{108,154}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>A018_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{108,154}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{108,154}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>A018_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{106,152}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{106,152}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>A018_stand_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,314},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>A018_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,314},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A018_stand.png</string>
            <key>size</key>
            <string>{127,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07d4700eaf790048fbe860d5fdee43fa$</string>
            <key>textureFileName</key>
            <string>A018_stand.png</string>
        </dict>
    </dict>
</plist>
