<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A018_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,154}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{108,154}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>A018_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{116,142}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,142}}</string>
                <key>sourceSize</key>
                <string>{130,148}</string>
            </dict>
            <key>A018_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{116,143}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,143}}</string>
                <key>sourceSize</key>
                <string>{130,149}</string>
            </dict>
            <key>A018_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{125,143}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{125,143}}</string>
                <key>sourceSize</key>
                <string>{133,149}</string>
            </dict>
            <key>A018_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{250,120}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{250,120}}</string>
                <key>sourceSize</key>
                <string>{260,126}</string>
            </dict>
            <key>A018_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,158},{165,120}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{165,120}}</string>
                <key>sourceSize</key>
                <string>{175,126}</string>
            </dict>
            <key>A018_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{112,140}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{112,140}}</string>
                <key>sourceSize</key>
                <string>{130,146}</string>
            </dict>
            <key>A018_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,280},{176,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,60}}</string>
                <key>sourceSize</key>
                <string>{176,60}</string>
            </dict>
            <key>A018_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,280},{135,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,68}}</string>
                <key>sourceSize</key>
                <string>{135,68}</string>
            </dict>
            <key>A018_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{111,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,77}}</string>
                <key>sourceSize</key>
                <string>{111,77}</string>
            </dict>
            <key>A018_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,422},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>A018_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,422},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>A018_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,422},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>A018_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,422},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A018_attacks.png</string>
            <key>size</key>
            <string>{475,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:845afe5f99feed52c5cdbfc906509244$</string>
            <key>textureFileName</key>
            <string>A018_attacks.png</string>
        </dict>
    </dict>
</plist>
