<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A018_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,154}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{108,154}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>A018_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{128,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,153}}</string>
                <key>sourceSize</key>
                <string>{128,153}</string>
            </dict>
            <key>A018_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A018_jump.png</string>
            <key>size</key>
            <string>{244,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:009352ec1d5704bbdddeb433f4973347$</string>
            <key>textureFileName</key>
            <string>A018_jump.png</string>
        </dict>
    </dict>
</plist>
