<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A019_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,161}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{106,161}}</string>
                <key>sourceSize</key>
                <string>{122,167}</string>
            </dict>
            <key>A019_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{126,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,159}}</string>
                <key>sourceSize</key>
                <string>{126,159}</string>
            </dict>
            <key>A019_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A019_jump.png</string>
            <key>size</key>
            <string>{240,165}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:390678eae7aab33d7a7557066f08165c$</string>
            <key>textureFileName</key>
            <string>A019_jump.png</string>
        </dict>
    </dict>
</plist>
