<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A019_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,161}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{106,161}}</string>
                <key>sourceSize</key>
                <string>{122,167}</string>
            </dict>
            <key>A019_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{106,159}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{106,159}}</string>
                <key>sourceSize</key>
                <string>{122,167}</string>
            </dict>
            <key>A019_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{106,159}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{106,159}}</string>
                <key>sourceSize</key>
                <string>{122,167}</string>
            </dict>
            <key>A019_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,326},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A019_stand.png</string>
            <key>size</key>
            <string>{112,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:429e0dd364b4eff9e79bd40bac71b7e1$</string>
            <key>textureFileName</key>
            <string>A019_stand.png</string>
        </dict>
    </dict>
</plist>
