<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A020_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,132}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,132}}</string>
                <key>sourceSize</key>
                <string>{114,138}</string>
            </dict>
            <key>A020_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{111,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,131}}</string>
                <key>sourceSize</key>
                <string>{111,131}</string>
            </dict>
            <key>A020_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A020_jump.png</string>
            <key>size</key>
            <string>{213,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:132691224b0573cf9a380ac6dba82b07$</string>
            <key>textureFileName</key>
            <string>A020_jump.png</string>
        </dict>
    </dict>
</plist>
