<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A020_rageskill_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>A020_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{63,128}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{63,128}}</string>
                <key>sourceSize</key>
                <string>{83,152}</string>
            </dict>
            <key>A020_rageskill_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{68,95}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{68,95}}</string>
                <key>sourceSize</key>
                <string>{84,111}</string>
            </dict>
            <key>A020_rageskill_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{71,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{71,110}}</string>
                <key>sourceSize</key>
                <string>{91,132}</string>
            </dict>
            <key>A020_rageskill_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{94,132}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,132}}</string>
                <key>sourceSize</key>
                <string>{114,138}</string>
            </dict>
            <key>A020_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{94,131}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,131}}</string>
                <key>sourceSize</key>
                <string>{114,137}</string>
            </dict>
            <key>A020_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{94,131}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,131}}</string>
                <key>sourceSize</key>
                <string>{114,137}</string>
            </dict>
            <key>A020_rageskill_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{94,131}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,131}}</string>
                <key>sourceSize</key>
                <string>{114,137}</string>
            </dict>
            <key>A020_rageskill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,136},{142,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,95}}</string>
                <key>sourceSize</key>
                <string>{142,95}</string>
            </dict>
            <key>A020_rageskill_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,136},{253,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,112}}</string>
                <key>sourceSize</key>
                <string>{253,112}</string>
            </dict>
            <key>A020_rageskill_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{251,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,290}}</string>
                <key>sourceSize</key>
                <string>{251,290}</string>
            </dict>
            <key>A020_rageskill_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{300,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,343}}</string>
                <key>sourceSize</key>
                <string>{300,343}</string>
            </dict>
            <key>A020_rageskill_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,561},{45,33}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{45,33}}</string>
                <key>sourceSize</key>
                <string>{53,39}</string>
            </dict>
            <key>A020_rageskill_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,561},{74,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{74,64}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>A020_rageskill_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,561},{75,69}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{75,69}}</string>
                <key>sourceSize</key>
                <string>{91,89}</string>
            </dict>
            <key>A020_rageskill_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{79,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{79,74}}</string>
                <key>sourceSize</key>
                <string>{93,86}</string>
            </dict>
            <key>A020_rageskill_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,906},{72,67}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{72,67}}</string>
                <key>sourceSize</key>
                <string>{92,83}</string>
            </dict>
            <key>A020_rageskill_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,906},{5,38}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{5,38}}</string>
                <key>sourceSize</key>
                <string>{11,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A020_rageskill.png</string>
            <key>size</key>
            <string>{504,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc13135efa822873ed20bee263140cd6$</string>
            <key>textureFileName</key>
            <string>A020_rageskill.png</string>
        </dict>
    </dict>
</plist>
