<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A021_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,152}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{122,152}}</string>
                <key>sourceSize</key>
                <string>{162,174}</string>
            </dict>
            <key>A021_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,139}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{122,139}}</string>
                <key>sourceSize</key>
                <string>{148,145}</string>
            </dict>
            <key>A021_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A021_block.png</string>
            <key>size</key>
            <string>{252,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c28c8563527cf18eab76dd9b7f92b1fb$</string>
            <key>textureFileName</key>
            <string>A021_block.png</string>
        </dict>
    </dict>
</plist>
