<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A021_rageskill_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>A021_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{122,152}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{122,152}}</string>
                <key>sourceSize</key>
                <string>{162,174}</string>
            </dict>
            <key>A021_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{122,161}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{122,161}}</string>
                <key>sourceSize</key>
                <string>{148,167}</string>
            </dict>
            <key>A021_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{122,188}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{122,188}}</string>
                <key>sourceSize</key>
                <string>{148,194}</string>
            </dict>
            <key>A021_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{122,186}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{122,186}}</string>
                <key>sourceSize</key>
                <string>{148,192}</string>
            </dict>
            <key>A021_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{174,134}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,134}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>A021_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{170,169}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,169}}</string>
                <key>sourceSize</key>
                <string>{186,175}</string>
            </dict>
            <key>A021_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{315,180}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,180}}</string>
                <key>sourceSize</key>
                <string>{315,186}</string>
            </dict>
            <key>A021_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,192},{89,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>A021_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,192},{266,292}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{266,292}}</string>
                <key>sourceSize</key>
                <string>{280,318}</string>
            </dict>
            <key>A021_rageskill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,192},{127,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,89}}</string>
                <key>sourceSize</key>
                <string>{127,89}</string>
            </dict>
            <key>A021_rageskill_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,192},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>A021_rageskill_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{262,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,214}}</string>
                <key>sourceSize</key>
                <string>{262,214}</string>
            </dict>
            <key>A021_rageskill_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,486},{255,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,35}}</string>
                <key>sourceSize</key>
                <string>{255,35}</string>
            </dict>
            <key>A021_rageskill_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,486},{64,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,116}}</string>
                <key>sourceSize</key>
                <string>{64,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A021_rageskill.png</string>
            <key>size</key>
            <string>{863,702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0501b876d74eba7d7d1746a6bfc2ccb$</string>
            <key>textureFileName</key>
            <string>A021_rageskill.png</string>
        </dict>
    </dict>
</plist>
