<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A022_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,178}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{183,178}}</string>
                <key>sourceSize</key>
                <string>{223,198}</string>
            </dict>
            <key>A022_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{174,177}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{174,177}}</string>
                <key>sourceSize</key>
                <string>{212,187}</string>
            </dict>
            <key>A022_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,182},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A022_beattack.png</string>
            <key>size</key>
            <string>{187,361}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a24f048345fa6bd7820d24395ec656e$</string>
            <key>textureFileName</key>
            <string>A022_beattack.png</string>
        </dict>
    </dict>
</plist>
