<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A022_rageskill_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>A022_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{183,178}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{183,178}}</string>
                <key>sourceSize</key>
                <string>{223,198}</string>
            </dict>
            <key>A022_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{178,207}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{178,207}}</string>
                <key>sourceSize</key>
                <string>{212,217}</string>
            </dict>
            <key>A022_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{198,212}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,212}}</string>
                <key>sourceSize</key>
                <string>{216,222}</string>
            </dict>
            <key>A022_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,216},{265,272}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,272}}</string>
                <key>sourceSize</key>
                <string>{265,282}</string>
            </dict>
            <key>A022_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,216},{275,177}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,177}}</string>
                <key>sourceSize</key>
                <string>{275,187}</string>
            </dict>
            <key>A022_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{89,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>A022_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,216},{266,292}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{266,292}}</string>
                <key>sourceSize</key>
                <string>{280,318}</string>
            </dict>
            <key>A022_rageskill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{148,162}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{148,162}}</string>
                <key>sourceSize</key>
                <string>{168,178}</string>
            </dict>
            <key>A022_rageskill_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>A022_rageskill_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{204,257}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{204,257}}</string>
                <key>sourceSize</key>
                <string>{220,257}</string>
            </dict>
            <key>A022_rageskill_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{304,376}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{304,376}}</string>
                <key>sourceSize</key>
                <string>{380,426}</string>
            </dict>
            <key>A022_rageskill_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,510},{580,342}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{580,342}}</string>
                <key>sourceSize</key>
                <string>{580,368}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A022_rageskill.png</string>
            <key>size</key>
            <string>{1020,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af88a9428b12b7f5605a7d84818bbfea$</string>
            <key>textureFileName</key>
            <string>A022_rageskill.png</string>
        </dict>
    </dict>
</plist>
