<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A022_attacks_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>A022_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{183,178}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{183,178}}</string>
                <key>sourceSize</key>
                <string>{223,198}</string>
            </dict>
            <key>A022_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{190,162}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{190,162}}</string>
                <key>sourceSize</key>
                <string>{212,172}</string>
            </dict>
            <key>A022_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{188,174}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{188,174}}</string>
                <key>sourceSize</key>
                <string>{212,184}</string>
            </dict>
            <key>A022_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,182},{200,189}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{200,189}}</string>
                <key>sourceSize</key>
                <string>{212,199}</string>
            </dict>
            <key>A022_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{204,210}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,210}}</string>
                <key>sourceSize</key>
                <string>{226,220}</string>
            </dict>
            <key>A022_attacks_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,373},{47,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,165}}</string>
                <key>sourceSize</key>
                <string>{47,165}</string>
            </dict>
            <key>A022_attacks_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,373},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{82,82}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>A022_attacks_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,373},{113,115}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{113,115}}</string>
                <key>sourceSize</key>
                <string>{131,139}</string>
            </dict>
            <key>A022_attacks_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{135,116}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{135,116}}</string>
                <key>sourceSize</key>
                <string>{149,116}</string>
            </dict>
            <key>A022_attacks_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,585},{65,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,198}}</string>
                <key>sourceSize</key>
                <string>{65,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A022_attacks.png</string>
            <key>size</key>
            <string>{456,785}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:844fac17a04878357fbff82e1c7e79e4$</string>
            <key>textureFileName</key>
            <string>A022_attacks.png</string>
        </dict>
    </dict>
</plist>
