<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A023_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,172}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{102,172}}</string>
                <key>sourceSize</key>
                <string>{122,178}</string>
            </dict>
            <key>A023_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{124,159}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,159}}</string>
                <key>sourceSize</key>
                <string>{132,165}</string>
            </dict>
            <key>A023_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{142,114}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,114}}</string>
                <key>sourceSize</key>
                <string>{142,120}</string>
            </dict>
            <key>A023_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{127,160}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{127,160}}</string>
                <key>sourceSize</key>
                <string>{135,166}</string>
            </dict>
            <key>A023_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{129,159}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{129,159}}</string>
                <key>sourceSize</key>
                <string>{137,165}</string>
            </dict>
            <key>A023_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,176},{213,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,212}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>A023_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,176},{147,174}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{147,174}}</string>
                <key>sourceSize</key>
                <string>{157,180}</string>
            </dict>
            <key>A023_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{234,187}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{234,187}}</string>
                <key>sourceSize</key>
                <string>{248,195}</string>
            </dict>
            <key>A023_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,390},{79,98}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{79,98}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
            <key>A023_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,390},{54,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{54,74}}</string>
                <key>sourceSize</key>
                <string>{72,94}</string>
            </dict>
            <key>A023_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,390},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A023_rageskill.png</string>
            <key>size</key>
            <string>{505,579}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e92a5dcf95d5ecd2514afe30ea6d8c50$</string>
            <key>textureFileName</key>
            <string>A023_rageskill.png</string>
        </dict>
    </dict>
</plist>
