<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A024_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,138}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{94,138}}</string>
                <key>sourceSize</key>
                <string>{114,152}</string>
            </dict>
            <key>A024_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,138}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,138}}</string>
                <key>sourceSize</key>
                <string>{114,144}</string>
            </dict>
            <key>A024_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A024_block.png</string>
            <key>size</key>
            <string>{196,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8248be78f1844031b44da4c08d8ea2c$</string>
            <key>textureFileName</key>
            <string>A024_block.png</string>
        </dict>
    </dict>
</plist>
