<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A024_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{177,68}}</string>
                <key>sourceSize</key>
                <string>{237,90}</string>
            </dict>
            <key>A024_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{94,138}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{94,138}}</string>
                <key>sourceSize</key>
                <string>{114,152}</string>
            </dict>
            <key>A024_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{94,138}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,138}}</string>
                <key>sourceSize</key>
                <string>{114,144}</string>
            </dict>
            <key>A024_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{94,138}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,138}}</string>
                <key>sourceSize</key>
                <string>{114,144}</string>
            </dict>
            <key>A024_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{94,138}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,138}}</string>
                <key>sourceSize</key>
                <string>{114,144}</string>
            </dict>
            <key>A024_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,142},{94,138}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,138}}</string>
                <key>sourceSize</key>
                <string>{114,144}</string>
            </dict>
            <key>A024_attacks_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,142},{110,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,94}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
            <key>A024_attacks_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,142},{112,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,107}}</string>
                <key>sourceSize</key>
                <string>{112,107}</string>
            </dict>
            <key>A024_attacks_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{111,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,118}}</string>
                <key>sourceSize</key>
                <string>{111,118}</string>
            </dict>
            <key>A024_attacks_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,282},{124,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,109}}</string>
                <key>sourceSize</key>
                <string>{124,109}</string>
            </dict>
            <key>A024_attacks_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,282},{196,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,216}}</string>
                <key>sourceSize</key>
                <string>{196,216}</string>
            </dict>
            <key>A024_attacks_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{185,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,199}}</string>
                <key>sourceSize</key>
                <string>{185,199}</string>
            </dict>
            <key>A024_attacks_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,500},{206,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,256}}</string>
                <key>sourceSize</key>
                <string>{206,256}</string>
            </dict>
            <key>A024_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,500},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A024_attacks.png</string>
            <key>size</key>
            <string>{469,758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3856e944dad9f2e455779e85ae476975$</string>
            <key>textureFileName</key>
            <string>A024_attacks.png</string>
        </dict>
    </dict>
</plist>
