<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A025_rageskill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{100,27}}</string>
                <key>sourceSize</key>
                <string>{122,35}</string>
            </dict>
            <key>A025_rageskill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{76,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{76,39}}</string>
                <key>sourceSize</key>
                <string>{90,47}</string>
            </dict>
            <key>A025_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{46,132}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{46,132}}</string>
                <key>sourceSize</key>
                <string>{62,136}</string>
            </dict>
            <key>A025_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{44,132}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{44,132}}</string>
                <key>sourceSize</key>
                <string>{60,136}</string>
            </dict>
            <key>A025_rageskill_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{35,108}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{35,108}}</string>
                <key>sourceSize</key>
                <string>{37,112}</string>
            </dict>
            <key>A025_rageskill_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{22,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,110}}</string>
                <key>sourceSize</key>
                <string>{26,112}</string>
            </dict>
            <key>A025_rageskill_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{138,205}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,205}}</string>
                <key>sourceSize</key>
                <string>{150,211}</string>
            </dict>
            <key>A025_rageskill_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{136,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,203}}</string>
                <key>sourceSize</key>
                <string>{136,203}</string>
            </dict>
            <key>A025_rageskill_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,209},{132,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,171}}</string>
                <key>sourceSize</key>
                <string>{132,171}</string>
            </dict>
            <key>A025_rageskill_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,209},{129,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,194}}</string>
                <key>sourceSize</key>
                <string>{129,194}</string>
            </dict>
            <key>A025_rageskill_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{111,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,213}}</string>
                <key>sourceSize</key>
                <string>{111,213}</string>
            </dict>
            <key>A025_rageskill_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,414},{180,212}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{180,212}}</string>
                <key>sourceSize</key>
                <string>{208,242}</string>
            </dict>
            <key>A025_rageskill_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,414},{180,214}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{180,214}}</string>
                <key>sourceSize</key>
                <string>{206,242}</string>
            </dict>
            <key>A025_rageskill_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{120,112}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{120,112}}</string>
                <key>sourceSize</key>
                <string>{134,124}</string>
            </dict>
            <key>A025_rageskill_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,630},{102,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,96}}</string>
                <key>sourceSize</key>
                <string>{102,96}</string>
            </dict>
            <key>A025_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,630},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A025_rageskill.png</string>
            <key>size</key>
            <string>{479,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e5b978257e04da4bfcd7abec5a005d8$</string>
            <key>textureFileName</key>
            <string>A025_rageskill.png</string>
        </dict>
    </dict>
</plist>
