<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A025_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,205}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,205}}</string>
                <key>sourceSize</key>
                <string>{150,211}</string>
            </dict>
            <key>A025_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{125,208}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,208}}</string>
                <key>sourceSize</key>
                <string>{137,214}</string>
            </dict>
            <key>A025_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,209},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A025_block.png</string>
            <key>size</key>
            <string>{142,419}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7b243a5a847ab7088b7272ab258599f$</string>
            <key>textureFileName</key>
            <string>A025_block.png</string>
        </dict>
    </dict>
</plist>
