<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A027_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,156}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{102,156}}</string>
                <key>sourceSize</key>
                <string>{130,184}</string>
            </dict>
            <key>A027_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{117,155}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,155}}</string>
                <key>sourceSize</key>
                <string>{129,161}</string>
            </dict>
            <key>A027_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{134,151}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,151}}</string>
                <key>sourceSize</key>
                <string>{146,157}</string>
            </dict>
            <key>A027_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{116,150}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,150}}</string>
                <key>sourceSize</key>
                <string>{128,156}</string>
            </dict>
            <key>A027_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{161,141}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,141}}</string>
                <key>sourceSize</key>
                <string>{161,147}</string>
            </dict>
            <key>A027_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,160},{117,155}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,155}}</string>
                <key>sourceSize</key>
                <string>{129,161}</string>
            </dict>
            <key>A027_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,160},{95,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,65}}</string>
                <key>sourceSize</key>
                <string>{95,65}</string>
            </dict>
            <key>A027_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,160},{103,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,65}}</string>
                <key>sourceSize</key>
                <string>{103,65}</string>
            </dict>
            <key>A027_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{97,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,62}}</string>
                <key>sourceSize</key>
                <string>{97,64}</string>
            </dict>
            <key>A027_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,317},{98,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,76}}</string>
                <key>sourceSize</key>
                <string>{98,76}</string>
            </dict>
            <key>A027_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,317},{106,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,64}}</string>
                <key>sourceSize</key>
                <string>{106,64}</string>
            </dict>
            <key>A027_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,317},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A027_attacks.png</string>
            <key>size</key>
            <string>{486,395}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c536c4c5ab268f8500b2b624a078c416$</string>
            <key>textureFileName</key>
            <string>A027_attacks.png</string>
        </dict>
    </dict>
</plist>
