<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A028_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,36}}</string>
                <key>sourceSize</key>
                <string>{92,36}</string>
            </dict>
            <key>A028_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{143,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,151}}</string>
                <key>sourceSize</key>
                <string>{143,151}</string>
            </dict>
            <key>A028_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{137,148}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{137,148}}</string>
                <key>sourceSize</key>
                <string>{145,154}</string>
            </dict>
            <key>A028_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{126,144}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{134,150}</string>
            </dict>
            <key>A028_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{103,138}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{103,138}}</string>
                <key>sourceSize</key>
                <string>{111,144}</string>
            </dict>
            <key>A028_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,155},{91,135}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{91,135}}</string>
                <key>sourceSize</key>
                <string>{111,141}</string>
            </dict>
            <key>A028_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,155},{91,157}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{91,157}}</string>
                <key>sourceSize</key>
                <string>{111,163}</string>
            </dict>
            <key>A028_attacks_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,155},{91,160}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{91,160}}</string>
                <key>sourceSize</key>
                <string>{111,166}</string>
            </dict>
            <key>A028_attacks_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,155},{111,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,159}}</string>
                <key>sourceSize</key>
                <string>{111,159}</string>
            </dict>
            <key>A028_attacks_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{177,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,13}}</string>
                <key>sourceSize</key>
                <string>{177,13}</string>
            </dict>
            <key>A028_attacks_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,317},{98,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,29}}</string>
                <key>sourceSize</key>
                <string>{98,29}</string>
            </dict>
            <key>A028_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,317},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A028_attacks.png</string>
            <key>size</key>
            <string>{508,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3461ff0cbb3607f0d829cdb2a059490a$</string>
            <key>textureFileName</key>
            <string>A028_attacks.png</string>
        </dict>
    </dict>
</plist>
