<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A028_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{80,21}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>A028_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{91,160}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{91,160}}</string>
                <key>sourceSize</key>
                <string>{111,166}</string>
            </dict>
            <key>A028_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{91,158}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{91,158}}</string>
                <key>sourceSize</key>
                <string>{111,164}</string>
            </dict>
            <key>A028_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{120,152}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,152}}</string>
                <key>sourceSize</key>
                <string>{132,158}</string>
            </dict>
            <key>A028_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{109,135}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,135}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
            <key>A028_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{91,157}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{91,157}}</string>
                <key>sourceSize</key>
                <string>{111,163}</string>
            </dict>
            <key>A028_rageskill_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,164},{85,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{85,85}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>A028_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,164},{107,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,23}}</string>
                <key>sourceSize</key>
                <string>{107,23}</string>
            </dict>
            <key>A028_rageskill_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,164},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>A028_rageskill_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,164},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>A028_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,164},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A028_rageskill.png</string>
            <key>size</key>
            <string>{503,323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58de50caf3f31c5052e4457729500034$</string>
            <key>textureFileName</key>
            <string>A028_rageskill.png</string>
        </dict>
    </dict>
</plist>
