<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A028_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,160}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{91,160}}</string>
                <key>sourceSize</key>
                <string>{111,166}</string>
            </dict>
            <key>A028_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{111,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,159}}</string>
                <key>sourceSize</key>
                <string>{111,159}</string>
            </dict>
            <key>A028_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A028_jump.png</string>
            <key>size</key>
            <string>{210,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfe338accf3805fc21a0f92aee3f5b50$</string>
            <key>textureFileName</key>
            <string>A028_jump.png</string>
        </dict>
    </dict>
</plist>
