<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A031_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,156}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{118,156}}</string>
                <key>sourceSize</key>
                <string>{144,168}</string>
            </dict>
            <key>A031_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{135,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,154}}</string>
                <key>sourceSize</key>
                <string>{135,154}</string>
            </dict>
            <key>A031_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,160},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A031_jump.png</string>
            <key>size</key>
            <string>{141,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b74cacd5625c2a8607f5bfe80cf2ebef$</string>
            <key>textureFileName</key>
            <string>A031_jump.png</string>
        </dict>
    </dict>
</plist>
