<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A032_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,158}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{100,158}}</string>
                <key>sourceSize</key>
                <string>{122,170}</string>
            </dict>
            <key>A032_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,156}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,156}}</string>
                <key>sourceSize</key>
                <string>{122,162}</string>
            </dict>
            <key>A032_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,141}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,141}}</string>
                <key>sourceSize</key>
                <string>{122,147}</string>
            </dict>
            <key>A032_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,145}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,145}}</string>
                <key>sourceSize</key>
                <string>{122,151}</string>
            </dict>
            <key>A032_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{137,137}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{145,143}</string>
            </dict>
            <key>A032_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,162},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>A032_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,162},{97,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,91}}</string>
                <key>sourceSize</key>
                <string>{97,93}</string>
            </dict>
            <key>A032_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,162},{124,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,112}}</string>
                <key>sourceSize</key>
                <string>{124,112}</string>
            </dict>
            <key>A032_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{125,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,116}}</string>
                <key>sourceSize</key>
                <string>{125,116}</string>
            </dict>
            <key>A032_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,301},{109,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,121}}</string>
                <key>sourceSize</key>
                <string>{109,121}</string>
            </dict>
            <key>A032_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,301},{74,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,55}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>A032_attacks_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,301},{75,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,56}}</string>
                <key>sourceSize</key>
                <string>{75,56}</string>
            </dict>
            <key>A032_attacks_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,301},{77,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,58}}</string>
                <key>sourceSize</key>
                <string>{77,58}</string>
            </dict>
            <key>A032_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,301},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A032_attacks.png</string>
            <key>size</key>
            <string>{474,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0be69311c1b3ff01d873cf8eaa50df35$</string>
            <key>textureFileName</key>
            <string>A032_attacks.png</string>
        </dict>
    </dict>
</plist>
