<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A033_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,163}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{111,163}}</string>
                <key>sourceSize</key>
                <string>{137,187}</string>
            </dict>
            <key>A033_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{109,162}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,162}}</string>
                <key>sourceSize</key>
                <string>{109,166}</string>
            </dict>
            <key>A033_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{116,161}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,161}}</string>
                <key>sourceSize</key>
                <string>{116,165}</string>
            </dict>
            <key>A033_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{154,159}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,159}}</string>
                <key>sourceSize</key>
                <string>{168,163}</string>
            </dict>
            <key>A033_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{154,159}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,159}}</string>
                <key>sourceSize</key>
                <string>{168,163}</string>
            </dict>
            <key>A033_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,167},{191,157}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,157}}</string>
                <key>sourceSize</key>
                <string>{191,161}</string>
            </dict>
            <key>A033_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{179,157}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,157}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>A033_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,328},{194,157}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,157}}</string>
                <key>sourceSize</key>
                <string>{194,161}</string>
            </dict>
            <key>A033_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,328},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>A033_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,328},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>A033_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>A033_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,487},{91,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,74}}</string>
                <key>sourceSize</key>
                <string>{91,74}</string>
            </dict>
            <key>A033_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,487},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>A033_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,487},{79,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,61}}</string>
                <key>sourceSize</key>
                <string>{79,61}</string>
            </dict>
            <key>A033_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,487},{97,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,53}}</string>
                <key>sourceSize</key>
                <string>{97,53}</string>
            </dict>
            <key>A033_attacks_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,487},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>A033_attacks_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{76,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,22}}</string>
                <key>sourceSize</key>
                <string>{76,22}</string>
            </dict>
            <key>A033_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,563},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A033_attacks.png</string>
            <key>size</key>
            <string>{500,587}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6e2afd521e6e015f9482172048c00c0$</string>
            <key>textureFileName</key>
            <string>A033_attacks.png</string>
        </dict>
    </dict>
</plist>
