<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A033_rageskill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{155,91}}</string>
                <key>sourceSize</key>
                <string>{157,91}</string>
            </dict>
            <key>A033_rageskill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{157,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,91}}</string>
                <key>sourceSize</key>
                <string>{157,91}</string>
            </dict>
            <key>A033_rageskill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{165,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,96}}</string>
                <key>sourceSize</key>
                <string>{165,96}</string>
            </dict>
            <key>A033_rageskill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{165,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,102}}</string>
                <key>sourceSize</key>
                <string>{165,102}</string>
            </dict>
            <key>A033_rageskill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,100},{165,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,153}}</string>
                <key>sourceSize</key>
                <string>{165,153}</string>
            </dict>
            <key>A033_rageskill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,100},{167,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,174}}</string>
                <key>sourceSize</key>
                <string>{167,174}</string>
            </dict>
            <key>A033_rageskill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{167,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,174}}</string>
                <key>sourceSize</key>
                <string>{167,174}</string>
            </dict>
            <key>A033_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,276},{111,163}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{111,163}}</string>
                <key>sourceSize</key>
                <string>{137,187}</string>
            </dict>
            <key>A033_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,276},{101,108}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{101,108}}</string>
                <key>sourceSize</key>
                <string>{137,128}</string>
            </dict>
            <key>A033_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,276},{81,56}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{81,56}}</string>
                <key>sourceSize</key>
                <string>{137,76}</string>
            </dict>
            <key>A033_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{136,127}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{136,127}}</string>
                <key>sourceSize</key>
                <string>{138,131}</string>
            </dict>
            <key>A033_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,452},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A033_rageskill.png</string>
            <key>size</key>
            <string>{505,581}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2a225f3cc9f3a3b04225fb7f6666467$</string>
            <key>textureFileName</key>
            <string>A033_rageskill.png</string>
        </dict>
    </dict>
</plist>
