<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A034_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,136}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{71,136}}</string>
                <key>sourceSize</key>
                <string>{87,140}</string>
            </dict>
            <key>A034_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{71,135}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{71,135}}</string>
                <key>sourceSize</key>
                <string>{87,139}</string>
            </dict>
            <key>A034_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{71,135}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{71,135}}</string>
                <key>sourceSize</key>
                <string>{87,139}</string>
            </dict>
            <key>A034_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{71,135}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{71,135}}</string>
                <key>sourceSize</key>
                <string>{87,139}</string>
            </dict>
            <key>A034_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,140},{71,135}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{71,135}}</string>
                <key>sourceSize</key>
                <string>{87,139}</string>
            </dict>
            <key>A034_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,140},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A034_attacks.png</string>
            <key>size</key>
            <string>{221,277}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73c9e5c5e7528f33aa158d9053380b10$</string>
            <key>textureFileName</key>
            <string>A034_attacks.png</string>
        </dict>
    </dict>
</plist>
