<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A035_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,135}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{134,135}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>A035_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{136,133}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{136,133}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>A035_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{136,133}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{136,133}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>A035_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,274},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A035_stand.png</string>
            <key>size</key>
            <string>{142,409}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88dfe84dd41aeeb1e553167fc1f1b3b1$</string>
            <key>textureFileName</key>
            <string>A035_stand.png</string>
        </dict>
    </dict>
</plist>
