<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A036_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,146}}</string>
                <key>sourceSize</key>
                <string>{200,146}</string>
            </dict>
            <key>A036_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{233,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,196}}</string>
                <key>sourceSize</key>
                <string>{233,196}</string>
            </dict>
            <key>A036_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{108,123}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{108,123}}</string>
                <key>sourceSize</key>
                <string>{132,131}</string>
            </dict>
            <key>A036_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,200},{112,113}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{112,113}}</string>
                <key>sourceSize</key>
                <string>{132,119}</string>
            </dict>
            <key>A036_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,200},{246,106}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{246,106}}</string>
                <key>sourceSize</key>
                <string>{256,124}</string>
            </dict>
            <key>A036_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{256,114}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{256,114}}</string>
                <key>sourceSize</key>
                <string>{270,124}</string>
            </dict>
            <key>A036_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,325},{249,123}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{249,123}}</string>
                <key>sourceSize</key>
                <string>{261,129}</string>
            </dict>
            <key>A036_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{62,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{62,64}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>A036_rageskill_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,450},{85,105}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,105}}</string>
                <key>sourceSize</key>
                <string>{89,109}</string>
            </dict>
            <key>A036_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,450},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A036_rageskill.png</string>
            <key>size</key>
            <string>{511,557}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1199de990987beaec500fe23ea0583aa$</string>
            <key>textureFileName</key>
            <string>A036_rageskill.png</string>
        </dict>
    </dict>
</plist>
