<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A036_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,123}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{108,123}}</string>
                <key>sourceSize</key>
                <string>{132,131}</string>
            </dict>
            <key>A036_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,123}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{108,123}}</string>
                <key>sourceSize</key>
                <string>{132,131}</string>
            </dict>
            <key>A036_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{108,121}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{108,121}}</string>
                <key>sourceSize</key>
                <string>{132,131}</string>
            </dict>
            <key>A036_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,127},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A036_stand.png</string>
            <key>size</key>
            <string>{222,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:930f4c3eda8a819a622803fa35cf9b94$</string>
            <key>textureFileName</key>
            <string>A036_stand.png</string>
        </dict>
    </dict>
</plist>
