<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A039_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,150}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,150}}</string>
                <key>sourceSize</key>
                <string>{122,156}</string>
            </dict>
            <key>A039_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,150}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,150}}</string>
                <key>sourceSize</key>
                <string>{122,156}</string>
            </dict>
            <key>A039_rageskill_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,103}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,103}}</string>
                <key>sourceSize</key>
                <string>{122,109}</string>
            </dict>
            <key>A039_rageskill_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{112,119}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{112,119}}</string>
                <key>sourceSize</key>
                <string>{122,125}</string>
            </dict>
            <key>A039_rageskill_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{131,129}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{131,129}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>A039_rageskill_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,154},{100,99}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,99}}</string>
                <key>sourceSize</key>
                <string>{122,105}</string>
            </dict>
            <key>A039_rageskill_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,154},{148,135}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{148,135}}</string>
                <key>sourceSize</key>
                <string>{156,141}</string>
            </dict>
            <key>A039_rageskill_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,154},{114,140}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{114,140}}</string>
                <key>sourceSize</key>
                <string>{122,146}</string>
            </dict>
            <key>A039_rageskill_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{100,154}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,154}}</string>
                <key>sourceSize</key>
                <string>{122,160}</string>
            </dict>
            <key>A039_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,296},{131,146}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{131,146}}</string>
                <key>sourceSize</key>
                <string>{139,152}</string>
            </dict>
            <key>A039_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,296},{100,142}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,142}}</string>
                <key>sourceSize</key>
                <string>{122,148}</string>
            </dict>
            <key>A039_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,296},{116,139}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,139}}</string>
                <key>sourceSize</key>
                <string>{128,145}</string>
            </dict>
            <key>A039_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{100,159}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,159}}</string>
                <key>sourceSize</key>
                <string>{122,165}</string>
            </dict>
            <key>A039_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,452},{108,152}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{108,152}}</string>
                <key>sourceSize</key>
                <string>{122,158}</string>
            </dict>
            <key>A039_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,452},{100,138}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,138}}</string>
                <key>sourceSize</key>
                <string>{122,144}</string>
            </dict>
            <key>A039_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,452},{119,131}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{119,131}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>A039_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{139,126}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{139,126}}</string>
                <key>sourceSize</key>
                <string>{147,132}</string>
            </dict>
            <key>A039_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,613},{119,119}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>A039_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,613},{130,98}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{130,98}}</string>
                <key>sourceSize</key>
                <string>{156,126}</string>
            </dict>
            <key>A039_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,613},{64,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{64,72}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>A039_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{165,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{165,197}}</string>
                <key>sourceSize</key>
                <string>{167,199}</string>
            </dict>
            <key>A039_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,741},{112,129}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{112,129}}</string>
                <key>sourceSize</key>
                <string>{130,147}</string>
            </dict>
            <key>A039_rageskill_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,741},{75,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,130}}</string>
                <key>sourceSize</key>
                <string>{75,130}</string>
            </dict>
            <key>A039_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,741},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A039_rageskill.png</string>
            <key>size</key>
            <string>{503,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3daf2aff0ac1706763f63f8cbf5d55a1$</string>
            <key>textureFileName</key>
            <string>A039_rageskill.png</string>
        </dict>
    </dict>
</plist>
