<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A040_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,150}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{137,150}}</string>
                <key>sourceSize</key>
                <string>{149,158}</string>
            </dict>
            <key>A040_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{139,150}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{139,150}}</string>
                <key>sourceSize</key>
                <string>{149,158}</string>
            </dict>
            <key>A040_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{139,150}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{139,150}}</string>
                <key>sourceSize</key>
                <string>{149,158}</string>
            </dict>
            <key>A040_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,306},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A040_stand.png</string>
            <key>size</key>
            <string>{145,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29ae7cb71e991d75ef49dd802880a9c2$</string>
            <key>textureFileName</key>
            <string>A040_stand.png</string>
        </dict>
    </dict>
</plist>
