<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A041_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,180}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{123,180}}</string>
                <key>sourceSize</key>
                <string>{147,188}</string>
            </dict>
            <key>A041_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{144,178}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{144,178}}</string>
                <key>sourceSize</key>
                <string>{150,184}</string>
            </dict>
            <key>A041_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{129,201}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{129,201}}</string>
                <key>sourceSize</key>
                <string>{147,207}</string>
            </dict>
            <key>A041_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{183,234}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{183,234}}</string>
                <key>sourceSize</key>
                <string>{193,240}</string>
            </dict>
            <key>A041_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,205},{205,257}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{205,257}}</string>
                <key>sourceSize</key>
                <string>{215,263}</string>
            </dict>
            <key>A041_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{237,177}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{237,177}}</string>
                <key>sourceSize</key>
                <string>{249,183}</string>
            </dict>
            <key>A041_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,464},{249,95}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,95}}</string>
                <key>sourceSize</key>
                <string>{249,101}</string>
            </dict>
            <key>A041_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{181,132}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{181,132}}</string>
                <key>sourceSize</key>
                <string>{205,136}</string>
            </dict>
            <key>A041_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,643},{163,174}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{163,174}}</string>
                <key>sourceSize</key>
                <string>{175,180}</string>
            </dict>
            <key>A041_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,643},{100,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,93}}</string>
                <key>sourceSize</key>
                <string>{102,97}</string>
            </dict>
            <key>A041_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,643},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>A041_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>A041_rageskill_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,819},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,52}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>A041_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,819},{41,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>A041_rageskill_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,819},{43,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,56}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>A041_rageskill_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,819},{48,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>A041_rageskill_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,819},{50,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{50,59}</string>
            </dict>
            <key>A041_rageskill_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,819},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>A041_rageskill_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,819},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>A041_rageskill_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,879},{217,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,63}}</string>
                <key>sourceSize</key>
                <string>{217,63}</string>
            </dict>
            <key>A041_rageskill_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,879},{147,61}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{147,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>A041_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,879},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A041_rageskill.png</string>
            <key>size</key>
            <string>{493,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bded1249eb107278e8c90610681f44ca$</string>
            <key>textureFileName</key>
            <string>A041_rageskill.png</string>
        </dict>
    </dict>
</plist>
