<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A042_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,147}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,147}}</string>
                <key>sourceSize</key>
                <string>{133,153}</string>
            </dict>
            <key>A042_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{129,140}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,140}}</string>
                <key>sourceSize</key>
                <string>{141,146}</string>
            </dict>
            <key>A042_attacks_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{149,121}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,121}}</string>
                <key>sourceSize</key>
                <string>{165,127}</string>
            </dict>
            <key>A042_attacks_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{126,121}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{126,121}}</string>
                <key>sourceSize</key>
                <string>{152,127}</string>
            </dict>
            <key>A042_attacks_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,151},{144,116}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{144,116}}</string>
                <key>sourceSize</key>
                <string>{154,122}</string>
            </dict>
            <key>A042_attacks_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,151},{144,124}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{144,124}}</string>
                <key>sourceSize</key>
                <string>{154,130}</string>
            </dict>
            <key>A042_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{140,158}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{156,164}</string>
            </dict>
            <key>A042_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,277},{141,178}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,178}}</string>
                <key>sourceSize</key>
                <string>{157,184}</string>
            </dict>
            <key>A042_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,277},{163,142}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,142}}</string>
                <key>sourceSize</key>
                <string>{163,148}</string>
            </dict>
            <key>A042_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{132,137}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{132,137}}</string>
                <key>sourceSize</key>
                <string>{152,143}</string>
            </dict>
            <key>A042_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,457},{144,142}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{144,142}}</string>
                <key>sourceSize</key>
                <string>{154,148}</string>
            </dict>
            <key>A042_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{233,136}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,136}}</string>
                <key>sourceSize</key>
                <string>{233,142}</string>
            </dict>
            <key>A042_attacks_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,601},{140,151}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,151}}</string>
                <key>sourceSize</key>
                <string>{156,157}</string>
            </dict>
            <key>A042_attacks_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,601},{126,149}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{126,149}}</string>
                <key>sourceSize</key>
                <string>{152,155}</string>
            </dict>
            <key>A042_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{82,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,43}}</string>
                <key>sourceSize</key>
                <string>{82,43}</string>
            </dict>
            <key>A042_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,754},{85,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,47}}</string>
                <key>sourceSize</key>
                <string>{85,47}</string>
            </dict>
            <key>A042_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,754},{89,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,49}}</string>
                <key>sourceSize</key>
                <string>{89,49}</string>
            </dict>
            <key>A042_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,754},{76,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,54}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>A042_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,754},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>A042_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,754},{38,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,23}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>A042_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,754},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A042_attacks.png</string>
            <key>size</key>
            <string>{507,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a1405465139e0dc5899d8ef5e80df52$</string>
            <key>textureFileName</key>
            <string>A042_attacks.png</string>
        </dict>
    </dict>
</plist>
