<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A043_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,183}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{134,183}}</string>
                <key>sourceSize</key>
                <string>{152,191}</string>
            </dict>
            <key>A043_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{122,181}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,181}}</string>
                <key>sourceSize</key>
                <string>{136,187}</string>
            </dict>
            <key>A043_rageskill_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{133,182}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,182}}</string>
                <key>sourceSize</key>
                <string>{147,188}</string>
            </dict>
            <key>A043_rageskill_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{133,182}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,182}}</string>
                <key>sourceSize</key>
                <string>{147,188}</string>
            </dict>
            <key>A043_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{172,167}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{172,167}}</string>
                <key>sourceSize</key>
                <string>{182,173}</string>
            </dict>
            <key>A043_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{142,141}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{142,141}}</string>
                <key>sourceSize</key>
                <string>{152,147}</string>
            </dict>
            <key>A043_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{160,140}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,140}}</string>
                <key>sourceSize</key>
                <string>{174,146}</string>
            </dict>
            <key>A043_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{178,156}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,156}}</string>
                <key>sourceSize</key>
                <string>{186,162}</string>
            </dict>
            <key>A043_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,187},{138,229}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,229}}</string>
                <key>sourceSize</key>
                <string>{152,235}</string>
            </dict>
            <key>A043_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,187},{133,182}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,182}}</string>
                <key>sourceSize</key>
                <string>{147,188}</string>
            </dict>
            <key>A043_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,187},{133,182}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,182}}</string>
                <key>sourceSize</key>
                <string>{147,188}</string>
            </dict>
            <key>A043_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,187},{133,182}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,182}}</string>
                <key>sourceSize</key>
                <string>{147,188}</string>
            </dict>
            <key>A043_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,187},{81,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,76}}</string>
                <key>sourceSize</key>
                <string>{83,78}</string>
            </dict>
            <key>A043_rageskill_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,187},{61,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,72}}</string>
                <key>sourceSize</key>
                <string>{61,72}</string>
            </dict>
            <key>A043_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,187},{112,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,152}}</string>
                <key>sourceSize</key>
                <string>{112,152}</string>
            </dict>
            <key>A043_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{140,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,142}}</string>
                <key>sourceSize</key>
                <string>{140,142}</string>
            </dict>
            <key>A043_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,418},{150,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,145}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>A043_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,418},{161,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,144}}</string>
                <key>sourceSize</key>
                <string>{161,144}</string>
            </dict>
            <key>A043_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,418},{169,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,98}}</string>
                <key>sourceSize</key>
                <string>{169,98}</string>
            </dict>
            <key>A043_rageskill_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,418},{142,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,71}}</string>
                <key>sourceSize</key>
                <string>{142,71}</string>
            </dict>
            <key>A043_rageskill_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,418},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>A043_rageskill_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,418},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>A043_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,418},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A043_rageskill.png</string>
            <key>size</key>
            <string>{1012,565}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64dc3042000fae5dcb48be9aacdb24ea$</string>
            <key>textureFileName</key>
            <string>A043_rageskill.png</string>
        </dict>
    </dict>
</plist>
