<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A044_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,172}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{94,172}}</string>
                <key>sourceSize</key>
                <string>{114,180}</string>
            </dict>
            <key>A044_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{115,171}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,24},{115,171}}</string>
                <key>sourceSize</key>
                <string>{283,227}</string>
            </dict>
            <key>A044_rageskill_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{124,171}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,171}}</string>
                <key>sourceSize</key>
                <string>{132,177}</string>
            </dict>
            <key>A044_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{115,171}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,25},{115,171}}</string>
                <key>sourceSize</key>
                <string>{283,227}</string>
            </dict>
            <key>A044_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{102,170}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{102,170}}</string>
                <key>sourceSize</key>
                <string>{114,176}</string>
            </dict>
            <key>A044_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,176},{104,171}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{104,171}}</string>
                <key>sourceSize</key>
                <string>{114,177}</string>
            </dict>
            <key>A044_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,176},{106,170}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{106,170}}</string>
                <key>sourceSize</key>
                <string>{114,176}</string>
            </dict>
            <key>A044_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,176},{141,170}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{141,170}}</string>
                <key>sourceSize</key>
                <string>{149,176}</string>
            </dict>
            <key>A044_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{136,173}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{136,173}}</string>
                <key>sourceSize</key>
                <string>{144,177}</string>
            </dict>
            <key>A044_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,349},{146,171}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{146,171}}</string>
                <key>sourceSize</key>
                <string>{154,177}</string>
            </dict>
            <key>A044_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,349},{132,171}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,171}}</string>
                <key>sourceSize</key>
                <string>{140,177}</string>
            </dict>
            <key>A044_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{100,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,93}}</string>
                <key>sourceSize</key>
                <string>{102,97}</string>
            </dict>
            <key>A044_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,524},{22,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,47}}</string>
                <key>sourceSize</key>
                <string>{22,47}</string>
            </dict>
            <key>A044_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,524},{38,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,84}}</string>
                <key>sourceSize</key>
                <string>{38,84}</string>
            </dict>
            <key>A044_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,524},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>A044_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,524},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>A044_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,524},{106,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,43}}</string>
                <key>sourceSize</key>
                <string>{106,43}</string>
            </dict>
            <key>A044_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{151,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,118}}</string>
                <key>sourceSize</key>
                <string>{151,118}</string>
            </dict>
            <key>A044_rageskill_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,619},{155,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,124}}</string>
                <key>sourceSize</key>
                <string>{155,124}</string>
            </dict>
            <key>A044_rageskill_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,619},{155,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,141}}</string>
                <key>sourceSize</key>
                <string>{155,141}</string>
            </dict>
            <key>A044_rageskill_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{220,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,92}}</string>
                <key>sourceSize</key>
                <string>{220,92}</string>
            </dict>
            <key>A044_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,762},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A044_rageskill.png</string>
            <key>size</key>
            <string>{469,856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dd926999c5f5e472611e8945a93b068$</string>
            <key>textureFileName</key>
            <string>A044_rageskill.png</string>
        </dict>
    </dict>
</plist>
