<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A045_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,261}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{159,261}}</string>
                <key>sourceSize</key>
                <string>{187,269}</string>
            </dict>
            <key>A045_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{155,261}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{155,261}}</string>
                <key>sourceSize</key>
                <string>{187,269}</string>
            </dict>
            <key>A045_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{155,260}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{155,260}}</string>
                <key>sourceSize</key>
                <string>{187,268}</string>
            </dict>
            <key>A045_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{189,267}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{189,267}}</string>
                <key>sourceSize</key>
                <string>{229,275}</string>
            </dict>
            <key>A045_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{202,277}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{202,277}}</string>
                <key>sourceSize</key>
                <string>{246,285}</string>
            </dict>
            <key>A045_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{202,277}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{202,277}}</string>
                <key>sourceSize</key>
                <string>{246,285}</string>
            </dict>
            <key>A045_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,281},{202,273}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{202,273}}</string>
                <key>sourceSize</key>
                <string>{246,281}</string>
            </dict>
            <key>A045_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,281},{202,271}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{202,271}}</string>
                <key>sourceSize</key>
                <string>{246,279}</string>
            </dict>
            <key>A045_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,281},{231,261}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,261}}</string>
                <key>sourceSize</key>
                <string>{231,269}</string>
            </dict>
            <key>A045_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,281},{100,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,93}}</string>
                <key>sourceSize</key>
                <string>{102,97}</string>
            </dict>
            <key>A045_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,281},{28,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,9}}</string>
                <key>sourceSize</key>
                <string>{28,9}</string>
            </dict>
            <key>A045_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{48,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,22}</string>
            </dict>
            <key>A045_rageskill_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,560},{84,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,140}}</string>
                <key>sourceSize</key>
                <string>{84,140}</string>
            </dict>
            <key>A045_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,560},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>A045_rageskill_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,560},{57,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,102}}</string>
                <key>sourceSize</key>
                <string>{57,102}</string>
            </dict>
            <key>A045_rageskill_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,560},{61,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,120}}</string>
                <key>sourceSize</key>
                <string>{61,120}</string>
            </dict>
            <key>A045_rageskill_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,560},{64,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,123}}</string>
                <key>sourceSize</key>
                <string>{64,123}</string>
            </dict>
            <key>A045_rageskill_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,560},{85,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,132}}</string>
                <key>sourceSize</key>
                <string>{85,132}</string>
            </dict>
            <key>A045_rageskill_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,560},{78,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,129}}</string>
                <key>sourceSize</key>
                <string>{78,129}</string>
            </dict>
            <key>A045_rageskill_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,560},{73,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,132}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>A045_rageskill_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,560},{71,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,127}}</string>
                <key>sourceSize</key>
                <string>{71,127}</string>
            </dict>
            <key>A045_rageskill_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,560},{78,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>A045_rageskill_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,560},{81,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,99}}</string>
                <key>sourceSize</key>
                <string>{81,99}</string>
            </dict>
            <key>A045_rageskill_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,560},{95,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,98}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>A045_rageskill_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{103,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,58}}</string>
                <key>sourceSize</key>
                <string>{103,58}</string>
            </dict>
            <key>A045_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,702},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A045_rageskill.png</string>
            <key>size</key>
            <string>{979,762}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58ff3d44428bbb16f6c89b48405200ab$</string>
            <key>textureFileName</key>
            <string>A045_rageskill.png</string>
        </dict>
    </dict>
</plist>
