<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A046_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,225}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{178,225}}</string>
                <key>sourceSize</key>
                <string>{216,245}</string>
            </dict>
            <key>A046_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{192,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,224}}</string>
                <key>sourceSize</key>
                <string>{192,224}</string>
            </dict>
            <key>A046_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,229},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A046_jump.png</string>
            <key>size</key>
            <string>{198,455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1f562cd1f85c67c5ebfa5bb8baec1c8$</string>
            <key>textureFileName</key>
            <string>A046_jump.png</string>
        </dict>
    </dict>
</plist>
