<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A046_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,225}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{178,225}}</string>
                <key>sourceSize</key>
                <string>{216,245}</string>
            </dict>
            <key>A046_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,227}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{178,227}}</string>
                <key>sourceSize</key>
                <string>{216,237}</string>
            </dict>
            <key>A046_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{178,225}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{178,225}}</string>
                <key>sourceSize</key>
                <string>{216,235}</string>
            </dict>
            <key>A046_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{178,239}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{178,239}}</string>
                <key>sourceSize</key>
                <string>{216,249}</string>
            </dict>
            <key>A046_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{184,258}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{184,258}}</string>
                <key>sourceSize</key>
                <string>{216,268}</string>
            </dict>
            <key>A046_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{178,226}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{178,226}}</string>
                <key>sourceSize</key>
                <string>{216,236}</string>
            </dict>
            <key>A046_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,262},{178,226}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{178,226}}</string>
                <key>sourceSize</key>
                <string>{216,236}</string>
            </dict>
            <key>A046_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,262},{178,226}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{178,226}}</string>
                <key>sourceSize</key>
                <string>{216,236}</string>
            </dict>
            <key>A046_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,262},{178,225}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{178,225}}</string>
                <key>sourceSize</key>
                <string>{216,235}</string>
            </dict>
            <key>A046_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,262},{178,226}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{178,226}}</string>
                <key>sourceSize</key>
                <string>{216,236}</string>
            </dict>
            <key>A046_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,262},{87,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{87,82}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>A046_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{44,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,95}}</string>
                <key>sourceSize</key>
                <string>{44,95}</string>
            </dict>
            <key>A046_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,490},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>A046_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,490},{93,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>A046_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,490},{104,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,98}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>A046_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,490},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>A046_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,490},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>A046_rageskill_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,490},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>A046_rageskill_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,490},{33,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,33}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>A046_rageskill_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,490},{25,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>A046_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,490},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A046_rageskill.png</string>
            <key>size</key>
            <string>{991,590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9e41ce97b7cc7f2caf863a38a21fcbc$</string>
            <key>textureFileName</key>
            <string>A046_rageskill.png</string>
        </dict>
    </dict>
</plist>
