<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A047_block_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,202}}</string>
                <key>sourceSize</key>
                <string>{183,202}</string>
            </dict>
            <key>A047_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{561,513}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,17},{561,513}}</string>
                <key>sourceSize</key>
                <string>{683,563}</string>
            </dict>
            <key>A047_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{296,256}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{296,256}}</string>
                <key>sourceSize</key>
                <string>{342,272}</string>
            </dict>
            <key>A047_block_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,517},{160,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,63}}</string>
                <key>sourceSize</key>
                <string>{160,63}</string>
            </dict>
            <key>A047_block_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,517},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>A047_block_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,517},{158,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,64}}</string>
                <key>sourceSize</key>
                <string>{158,64}</string>
            </dict>
            <key>A047_block_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,517},{159,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,66}}</string>
                <key>sourceSize</key>
                <string>{159,66}</string>
            </dict>
            <key>A047_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,517},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A047_block.png</string>
            <key>size</key>
            <string>{945,775}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11a2d09d20aa379e8f4cea06882d7ae9$</string>
            <key>textureFileName</key>
            <string>A047_block.png</string>
        </dict>
    </dict>
</plist>
