<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A047_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{561,513}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,17},{561,513}}</string>
                <key>sourceSize</key>
                <string>{683,563}</string>
            </dict>
            <key>A047_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{280,256}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{280,256}}</string>
                <key>sourceSize</key>
                <string>{342,282}</string>
            </dict>
            <key>A047_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{282,256}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{282,256}}</string>
                <key>sourceSize</key>
                <string>{342,282}</string>
            </dict>
            <key>A047_stand_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,517},{160,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,63}}</string>
                <key>sourceSize</key>
                <string>{160,63}</string>
            </dict>
            <key>A047_stand_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,517},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>A047_stand_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,517},{158,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,64}}</string>
                <key>sourceSize</key>
                <string>{158,64}</string>
            </dict>
            <key>A047_stand_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,517},{159,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,66}}</string>
                <key>sourceSize</key>
                <string>{159,66}</string>
            </dict>
            <key>A047_stand_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,775},{160,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,66}}</string>
                <key>sourceSize</key>
                <string>{160,66}</string>
            </dict>
            <key>A047_stand_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,775},{157,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,65}}</string>
                <key>sourceSize</key>
                <string>{157,65}</string>
            </dict>
            <key>A047_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,775},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A047_stand.png</string>
            <key>size</key>
            <string>{929,843}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfb7ac9eef1a8ecadd58f2aa267a15f5$</string>
            <key>textureFileName</key>
            <string>A047_stand.png</string>
        </dict>
    </dict>
</plist>
