<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A047_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{561,513}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,17},{561,513}}</string>
                <key>sourceSize</key>
                <string>{683,563}</string>
            </dict>
            <key>A047_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{280,252}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{280,252}}</string>
                <key>sourceSize</key>
                <string>{342,268}</string>
            </dict>
            <key>A047_beattack_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,2},{160,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,63}}</string>
                <key>sourceSize</key>
                <string>{160,63}</string>
            </dict>
            <key>A047_beattack_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>A047_beattack_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,517},{158,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,64}}</string>
                <key>sourceSize</key>
                <string>{158,64}</string>
            </dict>
            <key>A047_beattack_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,517},{159,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,66}}</string>
                <key>sourceSize</key>
                <string>{159,66}</string>
            </dict>
            <key>A047_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,517},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A047_beattack.png</string>
            <key>size</key>
            <string>{1009,585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:315e0b5aae277ad4bc92bc18cd9b0227$</string>
            <key>textureFileName</key>
            <string>A047_beattack.png</string>
        </dict>
    </dict>
</plist>
