<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A047_attacks_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{100,27}}</string>
                <key>sourceSize</key>
                <string>{122,35}</string>
            </dict>
            <key>A047_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{89,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,34}}</string>
                <key>sourceSize</key>
                <string>{89,34}</string>
            </dict>
            <key>A047_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{90,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,35}}</string>
                <key>sourceSize</key>
                <string>{90,35}</string>
            </dict>
            <key>A047_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{95,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,35}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>A047_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{95,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,35}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>A047_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{95,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,31}}</string>
                <key>sourceSize</key>
                <string>{95,31}</string>
            </dict>
            <key>A047_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{561,513}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,17},{561,513}}</string>
                <key>sourceSize</key>
                <string>{683,563}</string>
            </dict>
            <key>A047_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,39},{186,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,228}}</string>
                <key>sourceSize</key>
                <string>{186,228}</string>
            </dict>
            <key>A047_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,39},{145,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,230}}</string>
                <key>sourceSize</key>
                <string>{145,230}</string>
            </dict>
            <key>A047_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{125,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,230}}</string>
                <key>sourceSize</key>
                <string>{125,230}</string>
            </dict>
            <key>A047_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,554},{126,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,229}}</string>
                <key>sourceSize</key>
                <string>{126,229}</string>
            </dict>
            <key>A047_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,554},{131,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,229}}</string>
                <key>sourceSize</key>
                <string>{131,229}</string>
            </dict>
            <key>A047_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,554},{221,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,214}}</string>
                <key>sourceSize</key>
                <string>{221,214}</string>
            </dict>
            <key>A047_attacks_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,554},{232,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,223}}</string>
                <key>sourceSize</key>
                <string>{232,223}</string>
            </dict>
            <key>A047_attacks_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,554},{165,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,227}}</string>
                <key>sourceSize</key>
                <string>{165,227}</string>
            </dict>
            <key>A047_attacks_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{160,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,63}}</string>
                <key>sourceSize</key>
                <string>{160,63}</string>
            </dict>
            <key>A047_attacks_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,786},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>A047_attacks_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,786},{158,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,64}}</string>
                <key>sourceSize</key>
                <string>{158,64}</string>
            </dict>
            <key>A047_attacks_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,786},{159,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,66}}</string>
                <key>sourceSize</key>
                <string>{159,66}</string>
            </dict>
            <key>A047_attacks_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,786},{160,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,66}}</string>
                <key>sourceSize</key>
                <string>{160,66}</string>
            </dict>
            <key>A047_attacks_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,786},{157,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,65}}</string>
                <key>sourceSize</key>
                <string>{157,65}</string>
            </dict>
            <key>A047_attacks_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{67,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{67,48}}</string>
                <key>sourceSize</key>
                <string>{77,50}</string>
            </dict>
            <key>A047_attacks_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,854},{74,53}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{74,53}}</string>
                <key>sourceSize</key>
                <string>{94,53}</string>
            </dict>
            <key>A047_attacks_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,854},{105,106}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,112}</string>
            </dict>
            <key>A047_attacks_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,854},{209,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,76}}</string>
                <key>sourceSize</key>
                <string>{209,76}</string>
            </dict>
            <key>A047_attacks_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,854},{116,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,75}}</string>
                <key>sourceSize</key>
                <string>{116,75}</string>
            </dict>
            <key>A047_attacks_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,854},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>A047_attacks_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,854},{112,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,52}}</string>
                <key>sourceSize</key>
                <string>{112,52}</string>
            </dict>
            <key>A047_attacks_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,854},{87,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,40}}</string>
                <key>sourceSize</key>
                <string>{87,40}</string>
            </dict>
            <key>A047_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,854},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A047_attacks.png</string>
            <key>size</key>
            <string>{1014,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d338589faa10ed6b6545732e6d07f2f$</string>
            <key>textureFileName</key>
            <string>A047_attacks.png</string>
        </dict>
    </dict>
</plist>
