<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A048_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,155}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{96,155}}</string>
                <key>sourceSize</key>
                <string>{112,161}</string>
            </dict>
            <key>A048_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{182,166}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,166}}</string>
                <key>sourceSize</key>
                <string>{184,170}</string>
            </dict>
            <key>A048_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,159},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A048_block.png</string>
            <key>size</key>
            <string>{188,327}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d7673f65e4cf9044a4b31b52fb83aae$</string>
            <key>textureFileName</key>
            <string>A048_block.png</string>
        </dict>
    </dict>
</plist>
