<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A048_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,155}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{96,155}}</string>
                <key>sourceSize</key>
                <string>{112,161}</string>
            </dict>
            <key>A048_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{93,150}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{93,150}}</string>
                <key>sourceSize</key>
                <string>{151,162}</string>
            </dict>
            <key>A048_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{115,138}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{115,138}}</string>
                <key>sourceSize</key>
                <string>{151,162}</string>
            </dict>
            <key>A048_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{151,132}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{151,132}}</string>
                <key>sourceSize</key>
                <string>{163,162}</string>
            </dict>
            <key>A048_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{145,136}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{145,136}}</string>
                <key>sourceSize</key>
                <string>{163,162}</string>
            </dict>
            <key>A048_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,159},{139,140}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{139,140}}</string>
                <key>sourceSize</key>
                <string>{163,162}</string>
            </dict>
            <key>A048_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,159},{133,152}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{133,152}}</string>
                <key>sourceSize</key>
                <string>{163,162}</string>
            </dict>
            <key>A048_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{99,154}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{99,154}}</string>
                <key>sourceSize</key>
                <string>{151,162}</string>
            </dict>
            <key>A048_attacks_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,313},{99,156}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{99,156}}</string>
                <key>sourceSize</key>
                <string>{151,162}</string>
            </dict>
            <key>A048_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,313},{106,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>A048_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,313},{185,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,184}}</string>
                <key>sourceSize</key>
                <string>{185,184}</string>
            </dict>
            <key>A048_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{109,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,157}}</string>
                <key>sourceSize</key>
                <string>{109,157}</string>
            </dict>
            <key>A048_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,499},{92,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,107}}</string>
                <key>sourceSize</key>
                <string>{92,107}</string>
            </dict>
            <key>A048_attacks_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,499},{64,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,43}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>A048_attacks_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,499},{167,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,130}}</string>
                <key>sourceSize</key>
                <string>{167,130}</string>
            </dict>
            <key>A048_attacks_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{81,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,96}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>A048_attacks_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,658},{56,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,63}}</string>
                <key>sourceSize</key>
                <string>{56,63}</string>
            </dict>
            <key>A048_attacks_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,658},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>A048_attacks_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,658},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,147}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>A048_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,658},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A048_attacks.png</string>
            <key>size</key>
            <string>{499,807}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9459158311e7a81aecafb3ae4cac12be$</string>
            <key>textureFileName</key>
            <string>A048_attacks.png</string>
        </dict>
    </dict>
</plist>
