<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A049_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,168}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{131,168}}</string>
                <key>sourceSize</key>
                <string>{137,176}</string>
            </dict>
            <key>A049_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{133,168}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{133,168}}</string>
                <key>sourceSize</key>
                <string>{137,176}</string>
            </dict>
            <key>A049_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{133,166}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{133,166}}</string>
                <key>sourceSize</key>
                <string>{137,176}</string>
            </dict>
            <key>A049_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,342},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A049_stand.png</string>
            <key>size</key>
            <string>{139,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e73584f4dda46ae35634decbaa6faf9$</string>
            <key>textureFileName</key>
            <string>A049_stand.png</string>
        </dict>
    </dict>
</plist>
