<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A049_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,168}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{131,168}}</string>
                <key>sourceSize</key>
                <string>{137,176}</string>
            </dict>
            <key>A049_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{107,187}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,20},{107,187}}</string>
                <key>sourceSize</key>
                <string>{295,213}</string>
            </dict>
            <key>A049_attacks_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{117,165}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,42},{117,165}}</string>
                <key>sourceSize</key>
                <string>{295,213}</string>
            </dict>
            <key>A049_attacks_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{111,191}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,16},{111,191}}</string>
                <key>sourceSize</key>
                <string>{295,213}</string>
            </dict>
            <key>A049_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{121,187}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,20},{121,187}}</string>
                <key>sourceSize</key>
                <string>{295,213}</string>
            </dict>
            <key>A049_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,195},{181,153}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,54},{181,153}}</string>
                <key>sourceSize</key>
                <string>{295,213}</string>
            </dict>
            <key>A049_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,195},{177,157}}</string>
                <key>offset</key>
                <string>{-18,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{177,157}}</string>
                <key>sourceSize</key>
                <string>{295,213}</string>
            </dict>
            <key>A049_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{169,205}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,2},{169,205}}</string>
                <key>sourceSize</key>
                <string>{295,213}</string>
            </dict>
            <key>A049_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,384},{217,149}}</string>
                <key>offset</key>
                <string>{-38,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,58},{217,149}}</string>
                <key>sourceSize</key>
                <string>{295,213}</string>
            </dict>
            <key>A049_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{165,149}}</string>
                <key>offset</key>
                <string>{31,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,58},{165,149}}</string>
                <key>sourceSize</key>
                <string>{295,213}</string>
            </dict>
            <key>A049_attacks_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,591},{197,175}}</string>
                <key>offset</key>
                <string>{46,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,32},{197,175}}</string>
                <key>sourceSize</key>
                <string>{295,213}</string>
            </dict>
            <key>A049_attacks_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{201,175}}</string>
                <key>offset</key>
                <string>{44,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,32},{201,175}}</string>
                <key>sourceSize</key>
                <string>{295,213}</string>
            </dict>
            <key>A049_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,768},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>A049_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,768},{81,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,50}}</string>
                <key>sourceSize</key>
                <string>{81,50}</string>
            </dict>
            <key>A049_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,768},{80,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>A049_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,768},{81,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,66}}</string>
                <key>sourceSize</key>
                <string>{81,66}</string>
            </dict>
            <key>A049_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,945},{73,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,67}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>A049_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,945},{72,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,69}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>A049_attacks_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,945},{67,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,72}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>A049_attacks_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,945},{50,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,75}}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>A049_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,945},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A049_attacks.png</string>
            <key>size</key>
            <string>{487,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1d7f93c36ca920aba5bd0330934d755$</string>
            <key>textureFileName</key>
            <string>A049_attacks.png</string>
        </dict>
    </dict>
</plist>
