<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A049_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,168}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{131,168}}</string>
                <key>sourceSize</key>
                <string>{137,176}</string>
            </dict>
            <key>A049_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{131,169}}</string>
                <key>offset</key>
                <string>{-23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,26},{131,169}}</string>
                <key>sourceSize</key>
                <string>{289,201}</string>
            </dict>
            <key>A049_rageskill_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{223,167}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,28},{223,167}}</string>
                <key>sourceSize</key>
                <string>{289,201}</string>
            </dict>
            <key>A049_rageskill_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{243,165}}</string>
                <key>offset</key>
                <string>{22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,30},{243,165}}</string>
                <key>sourceSize</key>
                <string>{289,201}</string>
            </dict>
            <key>A049_rageskill_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{147,153}}</string>
                <key>offset</key>
                <string>{-21,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,42},{147,153}}</string>
                <key>sourceSize</key>
                <string>{289,201}</string>
            </dict>
            <key>A049_rageskill_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{129,157}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,38},{129,157}}</string>
                <key>sourceSize</key>
                <string>{289,201}</string>
            </dict>
            <key>A049_rageskill_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{105,193}}</string>
                <key>offset</key>
                <string>{-24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,2},{105,193}}</string>
                <key>sourceSize</key>
                <string>{289,201}</string>
            </dict>
            <key>A049_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,173},{131,169}}</string>
                <key>offset</key>
                <string>{-23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,26},{131,169}}</string>
                <key>sourceSize</key>
                <string>{289,201}</string>
            </dict>
            <key>A049_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,173},{119,161}}</string>
                <key>offset</key>
                <string>{-27,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,34},{119,161}}</string>
                <key>sourceSize</key>
                <string>{289,201}</string>
            </dict>
            <key>A049_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,173},{159,171}}</string>
                <key>offset</key>
                <string>{-53,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{159,171}}</string>
                <key>sourceSize</key>
                <string>{289,201}</string>
            </dict>
            <key>A049_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,173},{175,149}}</string>
                <key>offset</key>
                <string>{-43,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,46},{175,149}}</string>
                <key>sourceSize</key>
                <string>{289,201}</string>
            </dict>
            <key>A049_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,173},{175,149}}</string>
                <key>offset</key>
                <string>{-41,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,46},{175,149}}</string>
                <key>sourceSize</key>
                <string>{289,201}</string>
            </dict>
            <key>A049_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{193,149}}</string>
                <key>offset</key>
                <string>{-39,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,46},{193,149}}</string>
                <key>sourceSize</key>
                <string>{289,201}</string>
            </dict>
            <key>A049_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,368},{165,151}}</string>
                <key>offset</key>
                <string>{-39,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,44},{165,151}}</string>
                <key>sourceSize</key>
                <string>{289,201}</string>
            </dict>
            <key>A049_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,368},{167,151}}</string>
                <key>offset</key>
                <string>{-58,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,44},{167,151}}</string>
                <key>sourceSize</key>
                <string>{289,201}</string>
            </dict>
            <key>A049_rageskill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,368},{81,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,77}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>A049_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,368},{35,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,15}}</string>
                <key>sourceSize</key>
                <string>{35,15}</string>
            </dict>
            <key>A049_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,368},{37,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,19}}</string>
                <key>sourceSize</key>
                <string>{37,19}</string>
            </dict>
            <key>A049_rageskill_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,368},{38,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,19}}</string>
                <key>sourceSize</key>
                <string>{38,19}</string>
            </dict>
            <key>A049_rageskill_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,368},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>A049_rageskill_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,368},{91,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,58}}</string>
                <key>sourceSize</key>
                <string>{91,58}</string>
            </dict>
            <key>A049_rageskill_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,368},{110,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,65}}</string>
                <key>sourceSize</key>
                <string>{110,65}</string>
            </dict>
            <key>A049_rageskill_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{114,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,55}}</string>
                <key>sourceSize</key>
                <string>{114,55}</string>
            </dict>
            <key>A049_rageskill_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,521},{35,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{35,11}}</string>
                <key>sourceSize</key>
                <string>{35,19}</string>
            </dict>
            <key>A049_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,521},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A049_rageskill.png</string>
            <key>size</key>
            <string>{1018,578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cf35ccf4bba6fcae8e7c4743e55b976$</string>
            <key>textureFileName</key>
            <string>A049_rageskill.png</string>
        </dict>
    </dict>
</plist>
