<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A050_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,154}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{118,154}}</string>
                <key>sourceSize</key>
                <string>{126,164}</string>
            </dict>
            <key>A050_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{163,152}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{163,152}}</string>
                <key>sourceSize</key>
                <string>{199,158}</string>
            </dict>
            <key>A050_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,158},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A050_beattack.png</string>
            <key>size</key>
            <string>{169,312}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95eed72ff8afc5f01029a0646436b4cf$</string>
            <key>textureFileName</key>
            <string>A050_beattack.png</string>
        </dict>
    </dict>
</plist>
