<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A050_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,154}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{118,154}}</string>
                <key>sourceSize</key>
                <string>{126,164}</string>
            </dict>
            <key>A050_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{145,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,153}}</string>
                <key>sourceSize</key>
                <string>{145,153}</string>
            </dict>
            <key>A050_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,158},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A050_jump.png</string>
            <key>size</key>
            <string>{151,313}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5430673bc3bb3dbcab2996a9ce5cd77$</string>
            <key>textureFileName</key>
            <string>A050_jump.png</string>
        </dict>
    </dict>
</plist>
