<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A050_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,154}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{118,154}}</string>
                <key>sourceSize</key>
                <string>{126,164}</string>
            </dict>
            <key>A050_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{121,170}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{121,170}}</string>
                <key>sourceSize</key>
                <string>{141,182}</string>
            </dict>
            <key>A050_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{129,152}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{129,152}}</string>
                <key>sourceSize</key>
                <string>{141,182}</string>
            </dict>
            <key>A050_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,174},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>A050_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,174},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>A050_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>A050_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,328},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>A050_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,328},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>A050_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>A050_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,415},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A050_attacks.png</string>
            <key>size</key>
            <string>{245,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7187b4649d8bb3213c7f262c6bf21ac$</string>
            <key>textureFileName</key>
            <string>A050_attacks.png</string>
        </dict>
    </dict>
</plist>
