<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A051_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,147}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{101,147}}</string>
                <key>sourceSize</key>
                <string>{147,157}</string>
            </dict>
            <key>A051_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{101,147}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{101,147}}</string>
                <key>sourceSize</key>
                <string>{147,157}</string>
            </dict>
            <key>A051_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{117,147}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{117,147}}</string>
                <key>sourceSize</key>
                <string>{147,157}</string>
            </dict>
            <key>A051_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{133,147}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{133,147}}</string>
                <key>sourceSize</key>
                <string>{147,157}</string>
            </dict>
            <key>A051_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{111,145}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{111,145}}</string>
                <key>sourceSize</key>
                <string>{147,157}</string>
            </dict>
            <key>A051_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,151},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>A051_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,151},{109,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,51}}</string>
                <key>sourceSize</key>
                <string>{109,51}</string>
            </dict>
            <key>A051_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,151},{37,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,69}}</string>
                <key>sourceSize</key>
                <string>{37,69}</string>
            </dict>
            <key>A051_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,151},{36,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,81}}</string>
                <key>sourceSize</key>
                <string>{36,81}</string>
            </dict>
            <key>A051_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,151},{100,147}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{100,147}}</string>
                <key>sourceSize</key>
                <string>{122,157}</string>
            </dict>
            <key>A051_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,151},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A051_attacks.png</string>
            <key>size</key>
            <string>{497,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4cebeaf032c3252408631ed7c2c6197$</string>
            <key>textureFileName</key>
            <string>A051_attacks.png</string>
        </dict>
    </dict>
</plist>
