<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A052_rageskill_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,20}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{32,20}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>A052_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{107,163}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{107,163}}</string>
                <key>sourceSize</key>
                <string>{131,171}</string>
            </dict>
            <key>A052_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{118,172}}</string>
                <key>offset</key>
                <string>{4,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,138},{118,172}}</string>
                <key>sourceSize</key>
                <string>{288,316}</string>
            </dict>
            <key>A052_rageskill_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{256,228}}</string>
                <key>offset</key>
                <string>{14,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,82},{256,228}}</string>
                <key>sourceSize</key>
                <string>{288,316}</string>
            </dict>
            <key>A052_rageskill_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{208,222}}</string>
                <key>offset</key>
                <string>{-17,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,88},{208,222}}</string>
                <key>sourceSize</key>
                <string>{288,316}</string>
            </dict>
            <key>A052_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,2},{180,218}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,92},{180,218}}</string>
                <key>sourceSize</key>
                <string>{288,316}</string>
            </dict>
            <key>A052_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{190,228}}</string>
                <key>offset</key>
                <string>{-17,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,82},{190,228}}</string>
                <key>sourceSize</key>
                <string>{288,316}</string>
            </dict>
            <key>A052_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{208,222}}</string>
                <key>offset</key>
                <string>{-17,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,88},{208,222}}</string>
                <key>sourceSize</key>
                <string>{288,316}</string>
            </dict>
            <key>A052_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,232},{208,260}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,50},{208,260}}</string>
                <key>sourceSize</key>
                <string>{288,316}</string>
            </dict>
            <key>A052_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,232},{206,300}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{206,300}}</string>
                <key>sourceSize</key>
                <string>{288,316}</string>
            </dict>
            <key>A052_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,232},{238,230}}</string>
                <key>offset</key>
                <string>{7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,80},{238,230}}</string>
                <key>sourceSize</key>
                <string>{288,316}</string>
            </dict>
            <key>A052_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{214,278}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,32},{214,278}}</string>
                <key>sourceSize</key>
                <string>{288,316}</string>
            </dict>
            <key>A052_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,534},{194,308}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{194,308}}</string>
                <key>sourceSize</key>
                <string>{288,316}</string>
            </dict>
            <key>A052_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,534},{83,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,79}}</string>
                <key>sourceSize</key>
                <string>{85,81}</string>
            </dict>
            <key>A052_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,534},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>A052_rageskill_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,534},{75,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,66}}</string>
                <key>sourceSize</key>
                <string>{75,66}</string>
            </dict>
            <key>A052_rageskill_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,534},{73,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,50}}</string>
                <key>sourceSize</key>
                <string>{73,50}</string>
            </dict>
            <key>A052_rageskill_212.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,534},{61,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,40}}</string>
                <key>sourceSize</key>
                <string>{61,40}</string>
            </dict>
            <key>A052_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,534},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>A052_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,534},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>A052_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,534},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>A052_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,534},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>A052_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>A052_rageskill_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,844},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,56}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>A052_rageskill_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,844},{43,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,56}</string>
            </dict>
            <key>A052_rageskill_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,844},{66,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,61}}</string>
                <key>sourceSize</key>
                <string>{66,61}</string>
            </dict>
            <key>A052_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,844},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A052_rageskill.png</string>
            <key>size</key>
            <string>{1006,907}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb5652c1b17f62779bb89686a6f71e7b$</string>
            <key>textureFileName</key>
            <string>A052_rageskill.png</string>
        </dict>
    </dict>
</plist>
