<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A053_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>A053_rageskill_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{96,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,42}}</string>
                <key>sourceSize</key>
                <string>{96,42}</string>
            </dict>
            <key>A053_rageskill_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{49,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,31}}</string>
                <key>sourceSize</key>
                <string>{49,31}</string>
            </dict>
            <key>A053_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>A053_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{63,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,43}}</string>
                <key>sourceSize</key>
                <string>{63,43}</string>
            </dict>
            <key>A053_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{84,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,39}}</string>
                <key>sourceSize</key>
                <string>{84,39}</string>
            </dict>
            <key>A053_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{98,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,41}}</string>
                <key>sourceSize</key>
                <string>{98,41}</string>
            </dict>
            <key>A053_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{96,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,48}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>A053_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{136,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,37}}</string>
                <key>sourceSize</key>
                <string>{138,37}</string>
            </dict>
            <key>A053_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{101,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,38}}</string>
                <key>sourceSize</key>
                <string>{101,38}</string>
            </dict>
            <key>A053_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>A053_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{175,146}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{175,146}}</string>
                <key>sourceSize</key>
                <string>{191,152}</string>
            </dict>
            <key>A053_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,52},{178,145}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{178,145}}</string>
                <key>sourceSize</key>
                <string>{194,157}</string>
            </dict>
            <key>A053_rageskill_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,52},{192,104}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{192,104}}</string>
                <key>sourceSize</key>
                <string>{210,112}</string>
            </dict>
            <key>A053_rageskill_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,52},{172,107}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{172,107}}</string>
                <key>sourceSize</key>
                <string>{192,113}</string>
            </dict>
            <key>A053_rageskill_212.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,52},{252,97}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{252,97}}</string>
                <key>sourceSize</key>
                <string>{268,105}</string>
            </dict>
            <key>A053_rageskill_213.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{237,142}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{237,142}}</string>
                <key>sourceSize</key>
                <string>{253,150}</string>
            </dict>
            <key>A053_rageskill_214.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,200},{235,149}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{235,149}}</string>
                <key>sourceSize</key>
                <string>{253,155}</string>
            </dict>
            <key>A053_rageskill_215.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,200},{230,106}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{230,106}}</string>
                <key>sourceSize</key>
                <string>{248,112}</string>
            </dict>
            <key>A053_rageskill_216.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,200},{202,126}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{202,126}}</string>
                <key>sourceSize</key>
                <string>{218,132}</string>
            </dict>
            <key>A053_rageskill_217.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{178,149}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{178,149}}</string>
                <key>sourceSize</key>
                <string>{194,155}</string>
            </dict>
            <key>A053_rageskill_218.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,351},{204,210}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,210}}</string>
                <key>sourceSize</key>
                <string>{224,216}</string>
            </dict>
            <key>A053_rageskill_219.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,351},{209,210}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{209,210}}</string>
                <key>sourceSize</key>
                <string>{231,216}</string>
            </dict>
            <key>A053_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,351},{172,146}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{172,146}}</string>
                <key>sourceSize</key>
                <string>{184,154}</string>
            </dict>
            <key>A053_rageskill_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,351},{198,210}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,210}}</string>
                <key>sourceSize</key>
                <string>{220,216}</string>
            </dict>
            <key>A053_rageskill_221.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{158,199}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{158,199}}</string>
                <key>sourceSize</key>
                <string>{192,207}</string>
            </dict>
            <key>A053_rageskill_222.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,563},{173,143}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{173,143}}</string>
                <key>sourceSize</key>
                <string>{187,149}</string>
            </dict>
            <key>A053_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,563},{135,145}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{135,145}}</string>
                <key>sourceSize</key>
                <string>{163,151}</string>
            </dict>
            <key>A053_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,563},{175,145}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{175,145}}</string>
                <key>sourceSize</key>
                <string>{189,153}</string>
            </dict>
            <key>A053_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,563},{186,140}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{186,140}}</string>
                <key>sourceSize</key>
                <string>{200,148}</string>
            </dict>
            <key>A053_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,563},{157,130}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{157,130}}</string>
                <key>sourceSize</key>
                <string>{169,136}</string>
            </dict>
            <key>A053_rageskill_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{206,150}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{206,150}}</string>
                <key>sourceSize</key>
                <string>{222,156}</string>
            </dict>
            <key>A053_rageskill_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,764},{228,137}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{228,137}}</string>
                <key>sourceSize</key>
                <string>{244,145}</string>
            </dict>
            <key>A053_rageskill_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,764},{225,105}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{225,105}}</string>
                <key>sourceSize</key>
                <string>{241,111}</string>
            </dict>
            <key>A053_rageskill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,764},{80,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,76}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>A053_rageskill_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,764},{29,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,41}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>A053_rageskill_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,764},{29,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>A053_rageskill_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,764},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>A053_rageskill_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,764},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>A053_rageskill_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,764},{43,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,36}}</string>
                <key>sourceSize</key>
                <string>{43,36}</string>
            </dict>
            <key>A053_rageskill_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,764},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>A053_rageskill_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,764},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>A053_rageskill_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{47,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,37}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>A053_rageskill_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,916},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>A053_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,916},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A053_rageskill.png</string>
            <key>size</key>
            <string>{1022,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5fcd78761efca5eb6ddb7c4470a1227$</string>
            <key>textureFileName</key>
            <string>A053_rageskill.png</string>
        </dict>
    </dict>
</plist>
