<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A053_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,146}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{175,146}}</string>
                <key>sourceSize</key>
                <string>{191,152}</string>
            </dict>
            <key>A053_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{192,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,145}}</string>
                <key>sourceSize</key>
                <string>{192,145}</string>
            </dict>
            <key>A053_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,150},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A053_jump.png</string>
            <key>size</key>
            <string>{198,297}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51de514b78ce7c7a4d2e170d1a3fc972$</string>
            <key>textureFileName</key>
            <string>A053_jump.png</string>
        </dict>
    </dict>
</plist>
