<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A053_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{82,77}}</string>
                <key>sourceSize</key>
                <string>{104,77}</string>
            </dict>
            <key>A053_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{80,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{80,77}}</string>
                <key>sourceSize</key>
                <string>{104,77}</string>
            </dict>
            <key>A053_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>A053_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{57,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>A053_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{33,51}</string>
            </dict>
            <key>A053_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{49,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,46}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>A053_attacks_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{175,146}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{175,146}}</string>
                <key>sourceSize</key>
                <string>{191,152}</string>
            </dict>
            <key>A053_attacks_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,81},{160,175}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{160,175}}</string>
                <key>sourceSize</key>
                <string>{208,181}</string>
            </dict>
            <key>A053_attacks_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,81},{146,169}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{146,169}}</string>
                <key>sourceSize</key>
                <string>{208,181}</string>
            </dict>
            <key>A053_attacks_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{188,165}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{188,165}}</string>
                <key>sourceSize</key>
                <string>{208,181}</string>
            </dict>
            <key>A053_attacks_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,258},{186,133}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,42},{186,133}}</string>
                <key>sourceSize</key>
                <string>{208,181}</string>
            </dict>
            <key>A053_attacks_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{189,129}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,46},{189,129}}</string>
                <key>sourceSize</key>
                <string>{209,181}</string>
            </dict>
            <key>A053_attacks_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,425},{138,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,103}}</string>
                <key>sourceSize</key>
                <string>{138,103}</string>
            </dict>
            <key>A053_attacks_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,425},{109,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,140}}</string>
                <key>sourceSize</key>
                <string>{109,140}</string>
            </dict>
            <key>A053_attacks_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{72,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,104}}</string>
                <key>sourceSize</key>
                <string>{72,104}</string>
            </dict>
            <key>A053_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,567},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A053_attacks.png</string>
            <key>size</key>
            <string>{489,673}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28998a9acf1d99c5489eb4f21b9e3662$</string>
            <key>textureFileName</key>
            <string>A053_attacks.png</string>
        </dict>
    </dict>
</plist>
