<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A055_rageskill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,55}}</string>
                <key>sourceSize</key>
                <string>{93,55}</string>
            </dict>
            <key>A055_rageskill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{73,42}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{73,42}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>A055_rageskill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{222,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{222,86}}</string>
                <key>sourceSize</key>
                <string>{224,86}</string>
            </dict>
            <key>A055_rageskill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{224,86}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,86}}</string>
                <key>sourceSize</key>
                <string>{230,86}</string>
            </dict>
            <key>A055_rageskill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{151,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,65}}</string>
                <key>sourceSize</key>
                <string>{151,65}</string>
            </dict>
            <key>A055_rageskill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{147,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,70}}</string>
                <key>sourceSize</key>
                <string>{147,70}</string>
            </dict>
            <key>A055_rageskill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{149,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,71}}</string>
                <key>sourceSize</key>
                <string>{149,71}</string>
            </dict>
            <key>A055_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,2},{170,204}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{170,204}}</string>
                <key>sourceSize</key>
                <string>{180,216}</string>
            </dict>
            <key>A055_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,2},{181,221}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,31},{181,221}}</string>
                <key>sourceSize</key>
                <string>{271,263}</string>
            </dict>
            <key>A055_rageskill_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2},{193,199}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,53},{193,199}}</string>
                <key>sourceSize</key>
                <string>{271,263}</string>
            </dict>
            <key>A055_rageskill_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,2},{187,219}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{187,219}}</string>
                <key>sourceSize</key>
                <string>{271,263}</string>
            </dict>
            <key>A055_rageskill_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,2},{171,223}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,29},{171,223}}</string>
                <key>sourceSize</key>
                <string>{271,263}</string>
            </dict>
            <key>A055_rageskill_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{157,235}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,17},{157,235}}</string>
                <key>sourceSize</key>
                <string>{271,263}</string>
            </dict>
            <key>A055_rageskill_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,227},{181,251}}</string>
                <key>offset</key>
                <string>{-43,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{181,251}}</string>
                <key>sourceSize</key>
                <string>{271,263}</string>
            </dict>
            <key>A055_rageskill_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,227},{163,169}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,83},{163,169}}</string>
                <key>sourceSize</key>
                <string>{271,263}</string>
            </dict>
            <key>A055_rageskill_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,227},{185,215}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,37},{185,215}}</string>
                <key>sourceSize</key>
                <string>{271,263}</string>
            </dict>
            <key>A055_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,227},{171,171}}</string>
                <key>offset</key>
                <string>{-4,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,81},{171,171}}</string>
                <key>sourceSize</key>
                <string>{271,263}</string>
            </dict>
            <key>A055_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,227},{153,185}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,67},{153,185}}</string>
                <key>sourceSize</key>
                <string>{271,263}</string>
            </dict>
            <key>A055_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,227},{189,175}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,77},{189,175}}</string>
                <key>sourceSize</key>
                <string>{271,263}</string>
            </dict>
            <key>A055_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,227},{155,165}}</string>
                <key>offset</key>
                <string>{-14,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,87},{155,165}}</string>
                <key>sourceSize</key>
                <string>{271,263}</string>
            </dict>
            <key>A055_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,227},{165,167}}</string>
                <key>offset</key>
                <string>{-35,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,85},{165,167}}</string>
                <key>sourceSize</key>
                <string>{271,263}</string>
            </dict>
            <key>A055_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,227},{171,167}}</string>
                <key>offset</key>
                <string>{-4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,85},{171,167}}</string>
                <key>sourceSize</key>
                <string>{271,263}</string>
            </dict>
            <key>A055_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,227},{227,171}}</string>
                <key>offset</key>
                <string>{20,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,81},{227,171}}</string>
                <key>sourceSize</key>
                <string>{271,263}</string>
            </dict>
            <key>A055_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{161,169}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,83},{161,169}}</string>
                <key>sourceSize</key>
                <string>{271,263}</string>
            </dict>
            <key>A055_rageskill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,480},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>A055_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,480},{71,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{71,66}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>A055_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,480},{33,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,84}}</string>
                <key>sourceSize</key>
                <string>{33,84}</string>
            </dict>
            <key>A055_rageskill_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,480},{96,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,52}}</string>
                <key>sourceSize</key>
                <string>{96,52}</string>
            </dict>
            <key>A055_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,480},{103,225}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{103,225}}</string>
                <key>sourceSize</key>
                <string>{105,225}</string>
            </dict>
            <key>A055_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,480},{115,231}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{115,231}}</string>
                <key>sourceSize</key>
                <string>{119,231}</string>
            </dict>
            <key>A055_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,480},{81,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,201}}</string>
                <key>sourceSize</key>
                <string>{81,201}</string>
            </dict>
            <key>A055_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,480},{79,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>A055_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,480},{118,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,81}}</string>
                <key>sourceSize</key>
                <string>{118,81}</string>
            </dict>
            <key>A055_rageskill_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,480},{131,137}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{131,137}}</string>
                <key>sourceSize</key>
                <string>{133,159}</string>
            </dict>
            <key>A055_rageskill_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,480},{83,97}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,97}}</string>
                <key>sourceSize</key>
                <string>{83,101}</string>
            </dict>
            <key>A055_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,480},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A055_rageskill.png</string>
            <key>size</key>
            <string>{1987,713}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:873ebb94cd08353b64469fa6b21c214b$</string>
            <key>textureFileName</key>
            <string>A055_rageskill.png</string>
        </dict>
    </dict>
</plist>
