<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A056_rageskill_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,14}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{24,14}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>A056_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{134,155}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{134,155}}</string>
                <key>sourceSize</key>
                <string>{166,163}</string>
            </dict>
            <key>A056_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{162,187}}</string>
                <key>offset</key>
                <string>{-42,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,103},{162,187}}</string>
                <key>sourceSize</key>
                <string>{388,297}</string>
            </dict>
            <key>A056_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{200,267}}</string>
                <key>offset</key>
                <string>{-39,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,23},{200,267}}</string>
                <key>sourceSize</key>
                <string>{388,297}</string>
            </dict>
            <key>A056_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{272,281}}</string>
                <key>offset</key>
                <string>{-54,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{272,281}}</string>
                <key>sourceSize</key>
                <string>{388,297}</string>
            </dict>
            <key>A056_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{272,283}}</string>
                <key>offset</key>
                <string>{-54,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{272,283}}</string>
                <key>sourceSize</key>
                <string>{388,297}</string>
            </dict>
            <key>A056_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,285},{368,201}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,89},{368,201}}</string>
                <key>sourceSize</key>
                <string>{388,297}</string>
            </dict>
            <key>A056_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,285},{376,185}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,105},{376,185}}</string>
                <key>sourceSize</key>
                <string>{388,297}</string>
            </dict>
            <key>A056_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{80,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,76}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>A056_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,570},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>A056_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,570},{63,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>A056_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,570},{67,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,132}}</string>
                <key>sourceSize</key>
                <string>{67,132}</string>
            </dict>
            <key>A056_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,570},{49,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{49,107}}</string>
                <key>sourceSize</key>
                <string>{51,113}</string>
            </dict>
            <key>A056_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,570},{47,109}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{47,109}}</string>
                <key>sourceSize</key>
                <string>{53,115}</string>
            </dict>
            <key>A056_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,570},{40,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,57}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>A056_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,570},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A056_rageskill.png</string>
            <key>size</key>
            <string>{1024,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd75919a6099b5d4dc5f7716279b29e6$</string>
            <key>textureFileName</key>
            <string>A056_rageskill.png</string>
        </dict>
    </dict>
</plist>
