<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A056_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,155}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{134,155}}</string>
                <key>sourceSize</key>
                <string>{166,163}</string>
            </dict>
            <key>A056_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{135,147}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{135,147}}</string>
                <key>sourceSize</key>
                <string>{161,153}</string>
            </dict>
            <key>A056_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,159},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A056_block.png</string>
            <key>size</key>
            <string>{141,308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b12205b453681412da910f539554027c$</string>
            <key>textureFileName</key>
            <string>A056_block.png</string>
        </dict>
    </dict>
</plist>
