<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A056_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,155}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{134,155}}</string>
                <key>sourceSize</key>
                <string>{166,163}</string>
            </dict>
            <key>A056_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{136,149}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{136,149}}</string>
                <key>sourceSize</key>
                <string>{166,163}</string>
            </dict>
            <key>A056_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{132,143}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{132,143}}</string>
                <key>sourceSize</key>
                <string>{166,163}</string>
            </dict>
            <key>A056_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{146,121}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{146,121}}</string>
                <key>sourceSize</key>
                <string>{166,163}</string>
            </dict>
            <key>A056_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,159},{146,121}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{146,121}}</string>
                <key>sourceSize</key>
                <string>{166,163}</string>
            </dict>
            <key>A056_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,159},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>A056_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,159},{108,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>sourceSize</key>
                <string>{108,74}</string>
            </dict>
            <key>A056_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{109,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,71}}</string>
                <key>sourceSize</key>
                <string>{109,71}</string>
            </dict>
            <key>A056_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,282},{105,69}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,69}}</string>
                <key>sourceSize</key>
                <string>{111,73}</string>
            </dict>
            <key>A056_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,282},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,77}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>A056_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,282},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A056_attacks.png</string>
            <key>size</key>
            <string>{439,361}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e49d6ba63bf139a0dcca4c9d43fd9583$</string>
            <key>textureFileName</key>
            <string>A056_attacks.png</string>
        </dict>
    </dict>
</plist>
