<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A057_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,166}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{100,166}}</string>
                <key>sourceSize</key>
                <string>{122,178}</string>
            </dict>
            <key>A057_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{114,166}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,166}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>A057_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A057_block.png</string>
            <key>size</key>
            <string>{222,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2057733bf453c7e696612675c7095f5$</string>
            <key>textureFileName</key>
            <string>A057_block.png</string>
        </dict>
    </dict>
</plist>
