<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A057_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,166}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{100,166}}</string>
                <key>sourceSize</key>
                <string>{122,178}</string>
            </dict>
            <key>A057_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{101,168}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,4},{101,168}}</string>
                <key>sourceSize</key>
                <string>{249,178}</string>
            </dict>
            <key>A057_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{101,170}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,2},{101,170}}</string>
                <key>sourceSize</key>
                <string>{249,178}</string>
            </dict>
            <key>A057_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{119,160}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,12},{119,160}}</string>
                <key>sourceSize</key>
                <string>{249,178}</string>
            </dict>
            <key>A057_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{193,164}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{193,164}}</string>
                <key>sourceSize</key>
                <string>{249,178}</string>
            </dict>
            <key>A057_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,174},{197,162}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,10},{197,162}}</string>
                <key>sourceSize</key>
                <string>{249,178}</string>
            </dict>
            <key>A057_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,174},{16,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,28}</string>
            </dict>
            <key>A057_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,174},{31,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,56}}</string>
                <key>sourceSize</key>
                <string>{33,56}</string>
            </dict>
            <key>A057_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,174},{36,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,66}}</string>
                <key>sourceSize</key>
                <string>{38,66}</string>
            </dict>
            <key>A057_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,174},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A057_attacks.png</string>
            <key>size</key>
            <string>{487,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3ef774fa3e6e69553e8a461459cbc9b$</string>
            <key>textureFileName</key>
            <string>A057_attacks.png</string>
        </dict>
    </dict>
</plist>
