<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A059_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,169}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,169}}</string>
                <key>sourceSize</key>
                <string>{140,177}</string>
            </dict>
            <key>A059_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{117,167}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{117,167}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>A059_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{121,167}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{121,167}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>A059_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{147,167}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{147,167}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>A059_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,173},{121,171}}</string>
                <key>offset</key>
                <string>{-25,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{121,171}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>A059_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,173},{219,175}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,175}}</string>
                <key>sourceSize</key>
                <string>{225,181}</string>
            </dict>
            <key>A059_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{213,175}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,175}}</string>
                <key>sourceSize</key>
                <string>{217,181}</string>
            </dict>
            <key>A059_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,350},{171,175}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{171,175}}</string>
                <key>sourceSize</key>
                <string>{179,181}</string>
            </dict>
            <key>A059_attacks_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{163,175}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{163,175}}</string>
                <key>sourceSize</key>
                <string>{179,181}</string>
            </dict>
            <key>A059_attacks_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,527},{113,163}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{113,163}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>A059_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,527},{80,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,52}}</string>
                <key>sourceSize</key>
                <string>{80,52}</string>
            </dict>
            <key>A059_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,527},{79,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,71}}</string>
                <key>sourceSize</key>
                <string>{79,71}</string>
            </dict>
            <key>A059_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{86,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{86,62}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>A059_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,704},{96,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,70}}</string>
                <key>sourceSize</key>
                <string>{96,70}</string>
            </dict>
            <key>A059_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,704},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A059_attacks.png</string>
            <key>size</key>
            <string>{495,776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:814d1407e422a13c8db3291fc9ad8ae1$</string>
            <key>textureFileName</key>
            <string>A059_attacks.png</string>
        </dict>
    </dict>
</plist>
