<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A060_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,60},{150,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,86}}</string>
                <key>sourceSize</key>
                <string>{150,86}</string>
            </dict>
            <key>A060_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,210},{126,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,72}}</string>
                <key>sourceSize</key>
                <string>{126,72}</string>
            </dict>
            <key>A060_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,601},{159,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,93}}</string>
                <key>sourceSize</key>
                <string>{159,93}</string>
            </dict>
            <key>A060_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,506},{162,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,95}}</string>
                <key>sourceSize</key>
                <string>{162,95}</string>
            </dict>
            <key>A060_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,623},{107,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{107,71}</string>
            </dict>
            <key>A060_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,0},{307,258}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{307,258}}</string>
                <key>sourceSize</key>
                <string>{383,280}</string>
            </dict>
            <key>A060_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,258},{306,248}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{306,248}}</string>
                <key>sourceSize</key>
                <string>{374,264}</string>
            </dict>
            <key>A060_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,452},{542,275}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{542,275}}</string>
                <key>sourceSize</key>
                <string>{660,303}</string>
            </dict>
            <key>A060_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{542,275}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{542,275}}</string>
                <key>sourceSize</key>
                <string>{660,303}</string>
            </dict>
            <key>A060_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{616,226}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{616,226}}</string>
                <key>sourceSize</key>
                <string>{750,258}</string>
            </dict>
            <key>A060_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{626,226}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{626,226}}</string>
                <key>sourceSize</key>
                <string>{750,258}</string>
            </dict>
            <key>A060_rageskill_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,506},{126,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{126,117}}</string>
                <key>sourceSize</key>
                <string>{128,121}</string>
            </dict>
            <key>A060_rageskill_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,623},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>A060_rageskill_410.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,481},{97,68}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{97,68}}</string>
                <key>sourceSize</key>
                <string>{101,78}</string>
            </dict>
            <key>A060_rageskill_411.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,336},{101,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,42}}</string>
                <key>sourceSize</key>
                <string>{101,42}</string>
            </dict>
            <key>A060_rageskill_412.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,625},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
            <key>A060_rageskill_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,593},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>A060_rageskill_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,548},{58,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,45}}</string>
                <key>sourceSize</key>
                <string>{58,45}</string>
            </dict>
            <key>A060_rageskill_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,0},{87,60}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,60}}</string>
                <key>sourceSize</key>
                <string>{91,66}</string>
            </dict>
            <key>A060_rageskill_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,378},{103,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{103,97}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>A060_rageskill_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,549},{105,115}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{105,115}}</string>
                <key>sourceSize</key>
                <string>{111,125}</string>
            </dict>
            <key>A060_rageskill_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,452},{96,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,61}}</string>
                <key>sourceSize</key>
                <string>{96,63}</string>
            </dict>
            <key>A060_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A060_rageskill.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6c63380bd86bd60decede9d606f7a90$</string>
            <key>textureFileName</key>
            <string>A060_rageskill.png</string>
        </dict>
    </dict>
</plist>
