<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A060_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,262},{307,258}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{307,258}}</string>
                <key>sourceSize</key>
                <string>{383,280}</string>
            </dict>
            <key>A060_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,513},{306,246}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{306,246}}</string>
                <key>sourceSize</key>
                <string>{374,262}</string>
            </dict>
            <key>A060_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,262},{306,251}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{306,251}}</string>
                <key>sourceSize</key>
                <string>{374,267}</string>
            </dict>
            <key>A060_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{462,262}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{462,262}}</string>
                <key>sourceSize</key>
                <string>{562,286}</string>
            </dict>
            <key>A060_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,329},{462,261}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{462,261}}</string>
                <key>sourceSize</key>
                <string>{562,285}</string>
            </dict>
            <key>A060_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{462,262}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{462,262}}</string>
                <key>sourceSize</key>
                <string>{562,286}</string>
            </dict>
            <key>A060_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{462,262}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{462,262}}</string>
                <key>sourceSize</key>
                <string>{562,286}</string>
            </dict>
            <key>A060_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{462,262}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{462,262}}</string>
                <key>sourceSize</key>
                <string>{562,286}</string>
            </dict>
            <key>A060_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,82},{77,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>A060_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,150},{68,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,57}}</string>
                <key>sourceSize</key>
                <string>{68,57}</string>
            </dict>
            <key>A060_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,207},{64,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,122}}</string>
                <key>sourceSize</key>
                <string>{64,124}</string>
            </dict>
            <key>A060_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{55,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{55,107}}</string>
                <key>sourceSize</key>
                <string>{55,113}</string>
            </dict>
            <key>A060_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,262},{48,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,101}}</string>
                <key>sourceSize</key>
                <string>{50,109}</string>
            </dict>
            <key>A060_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,82},{41,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,21}}</string>
                <key>sourceSize</key>
                <string>{41,21}</string>
            </dict>
            <key>A060_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,0},{86,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
            <key>A060_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A060_attacks.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c039a31236be92960b7ba3ca7aa3eff3$</string>
            <key>textureFileName</key>
            <string>A060_attacks.png</string>
        </dict>
    </dict>
</plist>
