<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A061_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,462},{203,221}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{203,221}}</string>
                <key>sourceSize</key>
                <string>{247,239}</string>
            </dict>
            <key>A061_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,665},{203,220}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{203,220}}</string>
                <key>sourceSize</key>
                <string>{247,230}</string>
            </dict>
            <key>A061_attacks_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,203},{270,259}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{270,259}}</string>
                <key>sourceSize</key>
                <string>{288,259}</string>
            </dict>
            <key>A061_attacks_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,0},{203,280}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{203,280}}</string>
                <key>sourceSize</key>
                <string>{247,280}</string>
            </dict>
            <key>A061_attacks_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,223},{203,267}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{203,267}}</string>
                <key>sourceSize</key>
                <string>{247,267}</string>
            </dict>
            <key>A061_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,629},{203,222}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{203,222}}</string>
                <key>sourceSize</key>
                <string>{247,232}</string>
            </dict>
            <key>A061_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,660},{203,223}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{203,223}}</string>
                <key>sourceSize</key>
                <string>{247,233}</string>
            </dict>
            <key>A061_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,457},{203,223}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{203,223}}</string>
                <key>sourceSize</key>
                <string>{247,233}</string>
            </dict>
            <key>A061_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,660},{203,222}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{203,222}}</string>
                <key>sourceSize</key>
                <string>{247,232}</string>
            </dict>
            <key>A061_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,235},{229,222}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{229,222}}</string>
                <key>sourceSize</key>
                <string>{247,232}</string>
            </dict>
            <key>A061_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,426},{203,223}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{203,223}}</string>
                <key>sourceSize</key>
                <string>{247,233}</string>
            </dict>
            <key>A061_attacks_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{289,223}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,223}}</string>
                <key>sourceSize</key>
                <string>{315,233}</string>
            </dict>
            <key>A061_attacks_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{290,235}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{290,235}}</string>
                <key>sourceSize</key>
                <string>{308,245}</string>
            </dict>
            <key>A061_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,0},{45,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,23}}</string>
                <key>sourceSize</key>
                <string>{45,23}</string>
            </dict>
            <key>A061_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,0},{138,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,103}}</string>
                <key>sourceSize</key>
                <string>{138,103}</string>
            </dict>
            <key>A061_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,103},{84,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,127}}</string>
                <key>sourceSize</key>
                <string>{84,127}</string>
            </dict>
            <key>A061_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,187},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>A061_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A061_attacks.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d0412355b114c302c52d1738094d698$</string>
            <key>textureFileName</key>
            <string>A061_attacks.png</string>
        </dict>
    </dict>
</plist>
