<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A062_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,0},{95,170}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{95,170}}</string>
                <key>sourceSize</key>
                <string>{115,178}</string>
            </dict>
            <key>A062_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{111,171}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,21},{111,171}}</string>
                <key>sourceSize</key>
                <string>{255,227}</string>
            </dict>
            <key>A062_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A062_jump.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b9a70b8e2f2d976d370d9bd748c9f8c$</string>
            <key>textureFileName</key>
            <string>A062_jump.png</string>
        </dict>
    </dict>
</plist>
