<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A063_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{124,169}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,169}}</string>
                <key>sourceSize</key>
                <string>{140,177}</string>
            </dict>
            <key>A063_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{138,169}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,169}}</string>
                <key>sourceSize</key>
                <string>{138,175}</string>
            </dict>
            <key>A063_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A063_block.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbf51d2a2b9a9994547b189caeefbc3d$</string>
            <key>textureFileName</key>
            <string>A063_block.png</string>
        </dict>
    </dict>
</plist>
