<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A063_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,519},{124,169}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,169}}</string>
                <key>sourceSize</key>
                <string>{140,177}</string>
            </dict>
            <key>A063_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,399},{124,169}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,169}}</string>
                <key>sourceSize</key>
                <string>{138,175}</string>
            </dict>
            <key>A063_rageskill_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,395},{124,169}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,169}}</string>
                <key>sourceSize</key>
                <string>{138,175}</string>
            </dict>
            <key>A063_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,441},{125,168}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,168}}</string>
                <key>sourceSize</key>
                <string>{139,174}</string>
            </dict>
            <key>A063_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,317},{124,169}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,169}}</string>
                <key>sourceSize</key>
                <string>{138,175}</string>
            </dict>
            <key>A063_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,169},{148,169}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,169}}</string>
                <key>sourceSize</key>
                <string>{162,175}</string>
            </dict>
            <key>A063_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,245},{150,169}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,169}}</string>
                <key>sourceSize</key>
                <string>{164,175}</string>
            </dict>
            <key>A063_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,0},{151,169}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,169}}</string>
                <key>sourceSize</key>
                <string>{165,175}</string>
            </dict>
            <key>A063_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{163,169}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,169}}</string>
                <key>sourceSize</key>
                <string>{177,175}</string>
            </dict>
            <key>A063_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,95},{160,169}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{174,175}</string>
            </dict>
            <key>A063_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,255},{144,169}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,169}}</string>
                <key>sourceSize</key>
                <string>{158,175}</string>
            </dict>
            <key>A063_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,643},{76,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,71}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>A063_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,566},{43,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,22}}</string>
                <key>sourceSize</key>
                <string>{43,22}</string>
            </dict>
            <key>A063_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,643},{96,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,79}}</string>
                <key>sourceSize</key>
                <string>{96,79}</string>
            </dict>
            <key>A063_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,615},{120,82}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{120,82}}</string>
                <key>sourceSize</key>
                <string>{122,86}</string>
            </dict>
            <key>A063_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,566},{145,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,90}}</string>
                <key>sourceSize</key>
                <string>{145,90}</string>
            </dict>
            <key>A063_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,523},{160,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,92}}</string>
                <key>sourceSize</key>
                <string>{160,92}</string>
            </dict>
            <key>A063_rageskill_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,0},{178,95}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{178,95}}</string>
                <key>sourceSize</key>
                <string>{180,97}</string>
            </dict>
            <key>A063_rageskill_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{181,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,82}}</string>
                <key>sourceSize</key>
                <string>{181,82}</string>
            </dict>
            <key>A063_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A063_rageskill.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f35a17ca4c4505c8aea310954125f110$</string>
            <key>textureFileName</key>
            <string>A063_rageskill.png</string>
        </dict>
    </dict>
</plist>
