<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A064_rageskill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,237}}</string>
                <key>sourceSize</key>
                <string>{209,237}</string>
            </dict>
            <key>A064_rageskill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{208,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,236}}</string>
                <key>sourceSize</key>
                <string>{208,236}</string>
            </dict>
            <key>A064_rageskill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{196,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,241}}</string>
                <key>sourceSize</key>
                <string>{196,241}</string>
            </dict>
            <key>A064_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,241},{95,150}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{95,150}}</string>
                <key>sourceSize</key>
                <string>{115,156}</string>
            </dict>
            <key>A064_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,241},{95,150}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{95,150}}</string>
                <key>sourceSize</key>
                <string>{131,166}</string>
            </dict>
            <key>A064_rageskill_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,241},{95,148}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{95,148}}</string>
                <key>sourceSize</key>
                <string>{131,166}</string>
            </dict>
            <key>A064_rageskill_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{95,150}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{95,150}}</string>
                <key>sourceSize</key>
                <string>{131,166}</string>
            </dict>
            <key>A064_rageskill_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,484},{95,150}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{95,150}}</string>
                <key>sourceSize</key>
                <string>{131,166}</string>
            </dict>
            <key>A064_rageskill_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,484},{95,150}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{95,150}}</string>
                <key>sourceSize</key>
                <string>{131,166}</string>
            </dict>
            <key>A064_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,484},{95,152}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{95,152}}</string>
                <key>sourceSize</key>
                <string>{131,166}</string>
            </dict>
            <key>A064_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,484},{95,150}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{95,150}}</string>
                <key>sourceSize</key>
                <string>{131,166}</string>
            </dict>
            <key>A064_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{95,150}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{95,150}}</string>
                <key>sourceSize</key>
                <string>{131,166}</string>
            </dict>
            <key>A064_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,638},{101,153}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{101,153}}</string>
                <key>sourceSize</key>
                <string>{115,159}</string>
            </dict>
            <key>A064_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,638},{95,160}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{95,160}}</string>
                <key>sourceSize</key>
                <string>{115,166}</string>
            </dict>
            <key>A064_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,638},{107,146}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{107,146}}</string>
                <key>sourceSize</key>
                <string>{115,166}</string>
            </dict>
            <key>A064_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{112,147}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{112,147}}</string>
                <key>sourceSize</key>
                <string>{122,159}</string>
            </dict>
            <key>A064_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,800},{95,148}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{95,148}}</string>
                <key>sourceSize</key>
                <string>{131,166}</string>
            </dict>
            <key>A064_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,800},{71,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,67}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>A064_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,800},{17,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,32}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>A064_rageskill_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,800},{63,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,58}}</string>
                <key>sourceSize</key>
                <string>{63,58}</string>
            </dict>
            <key>A064_rageskill_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,800},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>A064_rageskill_212.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,800},{55,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>A064_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{23,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,37}}</string>
                <key>sourceSize</key>
                <string>{23,37}</string>
            </dict>
            <key>A064_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,950},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>A064_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,950},{35,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,53}}</string>
                <key>sourceSize</key>
                <string>{35,53}</string>
            </dict>
            <key>A064_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,950},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>A064_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,950},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>A064_rageskill_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,950},{59,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,55}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
            <key>A064_rageskill_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,950},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>A064_rageskill_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,950},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,65}}</string>
                <key>sourceSize</key>
                <string>{79,65}</string>
            </dict>
            <key>A064_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,950},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A064_rageskill.png</string>
            <key>size</key>
            <string>{491,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9e829207c796e77655fc899ef144f02$</string>
            <key>textureFileName</key>
            <string>A064_rageskill.png</string>
        </dict>
    </dict>
</plist>
