<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A064_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,150}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{95,150}}</string>
                <key>sourceSize</key>
                <string>{115,156}</string>
            </dict>
            <key>A064_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{94,150}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,150}}</string>
                <key>sourceSize</key>
                <string>{124,156}</string>
            </dict>
            <key>A064_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{94,148}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{94,148}}</string>
                <key>sourceSize</key>
                <string>{124,156}</string>
            </dict>
            <key>A064_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{94,148}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{94,148}}</string>
                <key>sourceSize</key>
                <string>{124,156}</string>
            </dict>
            <key>A064_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{98,148}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{98,148}}</string>
                <key>sourceSize</key>
                <string>{124,156}</string>
            </dict>
            <key>A064_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{116,148}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{116,148}}</string>
                <key>sourceSize</key>
                <string>{124,156}</string>
            </dict>
            <key>A064_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,154},{108,150}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{108,150}}</string>
                <key>sourceSize</key>
                <string>{124,156}</string>
            </dict>
            <key>A064_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,154},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>A064_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,154},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>A064_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,154},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,25}}</string>
                <key>sourceSize</key>
                <string>{39,25}</string>
            </dict>
            <key>A064_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,154},{52,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,25}}</string>
                <key>sourceSize</key>
                <string>{52,25}</string>
            </dict>
            <key>A064_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,154},{61,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,29}}</string>
                <key>sourceSize</key>
                <string>{61,29}</string>
            </dict>
            <key>A064_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,154},{53,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,31}}</string>
                <key>sourceSize</key>
                <string>{53,31}</string>
            </dict>
            <key>A064_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{59,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,36}}</string>
                <key>sourceSize</key>
                <string>{59,36}</string>
            </dict>
            <key>A064_attacks_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,306},{47,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,40}}</string>
                <key>sourceSize</key>
                <string>{47,40}</string>
            </dict>
            <key>A064_attacks_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,306},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>A064_attacks_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,306},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>A064_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,306},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A064_attacks.png</string>
            <key>size</key>
            <string>{489,353}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22c5f1c13a644261753ae06464144d82$</string>
            <key>textureFileName</key>
            <string>A064_attacks.png</string>
        </dict>
    </dict>
</plist>
