<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A065_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,440},{27,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,14}}</string>
                <key>sourceSize</key>
                <string>{27,14}</string>
            </dict>
            <key>A065_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,900},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>A065_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,900},{96,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,111}}</string>
                <key>sourceSize</key>
                <string>{96,111}</string>
            </dict>
            <key>A065_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,850},{170,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,148}}</string>
                <key>sourceSize</key>
                <string>{170,148}</string>
            </dict>
            <key>A065_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,850},{184,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,160}}</string>
                <key>sourceSize</key>
                <string>{184,160}</string>
            </dict>
            <key>A065_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,211},{205,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,160}}</string>
                <key>sourceSize</key>
                <string>{205,160}</string>
            </dict>
            <key>A065_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,440},{205,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,160}}</string>
                <key>sourceSize</key>
                <string>{205,160}</string>
            </dict>
            <key>A065_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,0},{205,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,159}}</string>
                <key>sourceSize</key>
                <string>{205,159}</string>
            </dict>
            <key>A065_attacks_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,645},{205,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,156}}</string>
                <key>sourceSize</key>
                <string>{205,156}</string>
            </dict>
            <key>A065_attacks_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,465},{186,224}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{186,224}}</string>
                <key>sourceSize</key>
                <string>{208,234}</string>
            </dict>
            <key>A065_attacks_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,689},{171,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,211}}</string>
                <key>sourceSize</key>
                <string>{171,211}</string>
            </dict>
            <key>A065_attacks_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,689},{171,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,211}}</string>
                <key>sourceSize</key>
                <string>{171,211}</string>
            </dict>
            <key>A065_attacks_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{171,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,211}}</string>
                <key>sourceSize</key>
                <string>{171,211}</string>
            </dict>
            <key>A065_attacks_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,226},{180,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,214}}</string>
                <key>sourceSize</key>
                <string>{180,214}</string>
            </dict>
            <key>A065_attacks_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,236}}</string>
                <key>sourceSize</key>
                <string>{120,236}</string>
            </dict>
            <key>A065_attacks_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{120,229}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,229}}</string>
                <key>sourceSize</key>
                <string>{124,237}</string>
            </dict>
            <key>A065_attacks_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{132,226}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,226}}</string>
                <key>sourceSize</key>
                <string>{132,236}</string>
            </dict>
            <key>A065_attacks_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,900},{92,166}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{92,166}}</string>
                <key>sourceSize</key>
                <string>{96,166}</string>
            </dict>
            <key>A065_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A065_attacks.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ce9def16816eeb72bbb7e00c6d168b8$</string>
            <key>textureFileName</key>
            <string>A065_attacks.png</string>
        </dict>
    </dict>
</plist>
