<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A065_rageskill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{316,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,123}}</string>
                <key>sourceSize</key>
                <string>{316,123}</string>
            </dict>
            <key>A065_rageskill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{316,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,120}}</string>
                <key>sourceSize</key>
                <string>{316,120}</string>
            </dict>
            <key>A065_rageskill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,0},{272,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{272,101}}</string>
                <key>sourceSize</key>
                <string>{284,101}</string>
            </dict>
            <key>A065_rageskill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,213},{207,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,91}}</string>
                <key>sourceSize</key>
                <string>{207,91}</string>
            </dict>
            <key>A065_rageskill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,256},{171,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,51}}</string>
                <key>sourceSize</key>
                <string>{173,51}</string>
            </dict>
            <key>A065_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,197},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>A065_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,120},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>A065_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,427},{77,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,94}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>A065_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,420},{90,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,101}}</string>
                <key>sourceSize</key>
                <string>{90,101}</string>
            </dict>
            <key>A065_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,0},{125,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,106}}</string>
                <key>sourceSize</key>
                <string>{125,106}</string>
            </dict>
            <key>A065_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,125},{167,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,146}}</string>
                <key>sourceSize</key>
                <string>{167,146}</string>
            </dict>
            <key>A065_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,292},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>A065_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,648},{125,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,177}}</string>
                <key>sourceSize</key>
                <string>{125,177}</string>
            </dict>
            <key>A065_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,648},{123,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,125}}</string>
                <key>sourceSize</key>
                <string>{123,125}</string>
            </dict>
            <key>A065_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,123},{186,224}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{186,224}}</string>
                <key>sourceSize</key>
                <string>{208,234}</string>
            </dict>
            <key>A065_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,309},{171,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,213}}</string>
                <key>sourceSize</key>
                <string>{171,213}</string>
            </dict>
            <key>A065_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{202,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,211}}</string>
                <key>sourceSize</key>
                <string>{202,211}</string>
            </dict>
            <key>A065_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,120},{171,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,241}}</string>
                <key>sourceSize</key>
                <string>{171,241}</string>
            </dict>
            <key>A065_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,482},{185,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,209}}</string>
                <key>sourceSize</key>
                <string>{185,209}</string>
            </dict>
            <key>A065_rageskill_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,123},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>A065_rageskill_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,490},{158,205}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,205}}</string>
                <key>sourceSize</key>
                <string>{160,207}</string>
            </dict>
            <key>A065_rageskill_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,475},{198,182}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,182}}</string>
                <key>sourceSize</key>
                <string>{206,186}</string>
            </dict>
            <key>A065_rageskill_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,291},{212,191}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{212,191}}</string>
                <key>sourceSize</key>
                <string>{226,199}</string>
            </dict>
            <key>A065_rageskill_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,299},{232,191}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{232,191}}</string>
                <key>sourceSize</key>
                <string>{246,199}</string>
            </dict>
            <key>A065_rageskill_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,101},{243,198}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{243,198}}</string>
                <key>sourceSize</key>
                <string>{249,204}</string>
            </dict>
            <key>A065_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A065_rageskill.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b8ae183535f4a55ba54f19474924898$</string>
            <key>textureFileName</key>
            <string>A065_rageskill.png</string>
        </dict>
    </dict>
</plist>
