<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A066_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1005},{36,19}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{36,19}}</string>
                <key>sourceSize</key>
                <string>{92,47}</string>
            </dict>
            <key>A066_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,288},{133,227}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,7},{133,227}}</string>
                <key>sourceSize</key>
                <string>{223,239}</string>
            </dict>
            <key>A066_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,421},{128,227}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,227}}</string>
                <key>sourceSize</key>
                <string>{140,231}</string>
            </dict>
            <key>A066_rageskill_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,355},{257,311}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{257,311}}</string>
                <key>sourceSize</key>
                <string>{259,315}</string>
            </dict>
            <key>A066_rageskill_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,355},{203,279}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,279}}</string>
                <key>sourceSize</key>
                <string>{203,283}</string>
            </dict>
            <key>A066_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,132},{156,231}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,231}}</string>
                <key>sourceSize</key>
                <string>{156,235}</string>
            </dict>
            <key>A066_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,0},{132,253}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,253}}</string>
                <key>sourceSize</key>
                <string>{146,257}</string>
            </dict>
            <key>A066_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,722},{163,283}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,283}}</string>
                <key>sourceSize</key>
                <string>{163,287}</string>
            </dict>
            <key>A066_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{280,362}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,362}}</string>
                <key>sourceSize</key>
                <string>{280,366}</string>
            </dict>
            <key>A066_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{287,360}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,360}}</string>
                <key>sourceSize</key>
                <string>{287,364}</string>
            </dict>
            <key>A066_rageskill_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{345,355}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,355}}</string>
                <key>sourceSize</key>
                <string>{345,359}</string>
            </dict>
            <key>A066_rageskill_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,666},{257,311}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{257,311}}</string>
                <key>sourceSize</key>
                <string>{259,315}</string>
            </dict>
            <key>A066_rageskill_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,0},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>A066_rageskill_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,722},{284,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,165}}</string>
                <key>sourceSize</key>
                <string>{284,165}</string>
            </dict>
            <key>A066_rageskill_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,132},{197,137}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{197,137}}</string>
                <key>sourceSize</key>
                <string>{207,139}</string>
            </dict>
            <key>A066_rageskill_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,549},{174,132}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{174,132}}</string>
                <key>sourceSize</key>
                <string>{180,136}</string>
            </dict>
            <key>A066_rageskill_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,634},{158,130}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{158,130}}</string>
                <key>sourceSize</key>
                <string>{164,136}</string>
            </dict>
            <key>A066_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A066_rageskill.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f22c18930a7049bd47da2ee0b62ee7f5$</string>
            <key>textureFileName</key>
            <string>A066_rageskill.png</string>
        </dict>
    </dict>
</plist>
