<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A067_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,182},{216,210}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{216,210}}</string>
                <key>sourceSize</key>
                <string>{232,220}</string>
            </dict>
            <key>A067_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,392},{208,208}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>A067_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,181},{217,211}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,211}}</string>
                <key>sourceSize</key>
                <string>{241,217}</string>
            </dict>
            <key>A067_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,392},{200,205}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{200,205}}</string>
                <key>sourceSize</key>
                <string>{228,211}</string>
            </dict>
            <key>A067_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{244,181}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{244,181}}</string>
                <key>sourceSize</key>
                <string>{250,187}</string>
            </dict>
            <key>A067_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{234,182}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{234,182}}</string>
                <key>sourceSize</key>
                <string>{250,188}</string>
            </dict>
            <key>A067_attacks_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,115},{47,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,28}}</string>
                <key>sourceSize</key>
                <string>{47,28}</string>
            </dict>
            <key>A067_attacks_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,592},{105,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,165}}</string>
                <key>sourceSize</key>
                <string>{107,165}</string>
            </dict>
            <key>A067_attacks_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,392},{88,125}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{88,125}}</string>
                <key>sourceSize</key>
                <string>{98,127}</string>
            </dict>
            <key>A067_attacks_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,182},{69,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,122}}</string>
                <key>sourceSize</key>
                <string>{69,124}</string>
            </dict>
            <key>A067_attacks_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,0},{32,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,115}}</string>
                <key>sourceSize</key>
                <string>{32,115}</string>
            </dict>
            <key>A067_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A067_attacks.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6ca3139b1c3c6e5b706d1c814a62b57$</string>
            <key>textureFileName</key>
            <string>A067_attacks.png</string>
        </dict>
    </dict>
</plist>
