<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A067_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,197},{216,210}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{216,210}}</string>
                <key>sourceSize</key>
                <string>{232,220}</string>
            </dict>
            <key>A067_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,196},{216,210}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{216,210}}</string>
                <key>sourceSize</key>
                <string>{228,216}</string>
            </dict>
            <key>A067_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{220,209}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{220,209}}</string>
                <key>sourceSize</key>
                <string>{228,215}</string>
            </dict>
            <key>A067_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,209},{216,208}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{216,208}}</string>
                <key>sourceSize</key>
                <string>{228,214}</string>
            </dict>
            <key>A067_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,196},{216,208}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{216,208}}</string>
                <key>sourceSize</key>
                <string>{228,214}</string>
            </dict>
            <key>A067_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,404},{198,199}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{198,199}}</string>
                <key>sourceSize</key>
                <string>{228,205}</string>
            </dict>
            <key>A067_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{217,197}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{217,197}}</string>
                <key>sourceSize</key>
                <string>{233,203}</string>
            </dict>
            <key>A067_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,0},{217,196}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{217,196}}</string>
                <key>sourceSize</key>
                <string>{233,202}</string>
            </dict>
            <key>A067_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,0},{217,196}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{217,196}}</string>
                <key>sourceSize</key>
                <string>{233,202}</string>
            </dict>
            <key>A067_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,176},{121,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{121,110}}</string>
                <key>sourceSize</key>
                <string>{123,112}</string>
            </dict>
            <key>A067_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,313},{77,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,45}}</string>
                <key>sourceSize</key>
                <string>{77,45}</string>
            </dict>
            <key>A067_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,286},{96,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,91}}</string>
                <key>sourceSize</key>
                <string>{96,91}</string>
            </dict>
            <key>A067_rageskill_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,94},{21,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,54}}</string>
                <key>sourceSize</key>
                <string>{21,54}</string>
            </dict>
            <key>A067_rageskill_311.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,261},{22,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,52}}</string>
                <key>sourceSize</key>
                <string>{22,52}</string>
            </dict>
            <key>A067_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,542},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>A067_rageskill_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,542},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>A067_rageskill_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,390},{61,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,69}}</string>
                <key>sourceSize</key>
                <string>{61,69}</string>
            </dict>
            <key>A067_rageskill_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,176},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>A067_rageskill_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,377},{91,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,165}}</string>
                <key>sourceSize</key>
                <string>{91,165}</string>
            </dict>
            <key>A067_rageskill_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,94},{82,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,132}}</string>
                <key>sourceSize</key>
                <string>{82,134}</string>
            </dict>
            <key>A067_rageskill_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,0},{94,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{94,135}}</string>
                <key>sourceSize</key>
                <string>{96,139}</string>
            </dict>
            <key>A067_rageskill_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,210},{23,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,51}}</string>
                <key>sourceSize</key>
                <string>{23,51}</string>
            </dict>
            <key>A067_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A067_rageskill.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c142f4f5a976ce5b89c104ac1347d88$</string>
            <key>textureFileName</key>
            <string>A067_rageskill.png</string>
        </dict>
    </dict>
</plist>
