<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A068_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,284},{106,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,133}}</string>
                <key>sourceSize</key>
                <string>{106,133}</string>
            </dict>
            <key>A068_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,417},{107,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,132}}</string>
                <key>sourceSize</key>
                <string>{107,132}</string>
            </dict>
            <key>A068_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,0},{103,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,127}}</string>
                <key>sourceSize</key>
                <string>{105,127}</string>
            </dict>
            <key>A068_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,282},{106,120}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,120}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>A068_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,0},{103,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,130}}</string>
                <key>sourceSize</key>
                <string>{103,130}</string>
            </dict>
            <key>A068_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,508},{111,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,55}}</string>
                <key>sourceSize</key>
                <string>{111,55}</string>
            </dict>
            <key>A068_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,508},{118,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,57}}</string>
                <key>sourceSize</key>
                <string>{118,57}</string>
            </dict>
            <key>A068_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,130},{119,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,54}}</string>
                <key>sourceSize</key>
                <string>{119,54}</string>
            </dict>
            <key>A068_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,127},{114,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,54}}</string>
                <key>sourceSize</key>
                <string>{114,54}</string>
            </dict>
            <key>A068_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,181},{107,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,48}}</string>
                <key>sourceSize</key>
                <string>{107,48}</string>
            </dict>
            <key>A068_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,181},{95,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,43}}</string>
                <key>sourceSize</key>
                <string>{95,43}</string>
            </dict>
            <key>A068_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,991},{43,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,20}}</string>
                <key>sourceSize</key>
                <string>{43,20}</string>
            </dict>
            <key>A068_rageskill_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,566},{196,230}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{196,230}}</string>
                <key>sourceSize</key>
                <string>{238,238}</string>
            </dict>
            <key>A068_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{206,294}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{206,294}}</string>
                <key>sourceSize</key>
                <string>{208,300}</string>
            </dict>
            <key>A068_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,0},{203,183}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{203,183}}</string>
                <key>sourceSize</key>
                <string>{219,189}</string>
            </dict>
            <key>A068_rageskill_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,779},{212,183}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{212,183}}</string>
                <key>sourceSize</key>
                <string>{216,189}</string>
            </dict>
            <key>A068_rageskill_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,565},{214,183}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,183}}</string>
                <key>sourceSize</key>
                <string>{216,189}</string>
            </dict>
            <key>A068_rageskill_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,294},{214,183}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,183}}</string>
                <key>sourceSize</key>
                <string>{216,189}</string>
            </dict>
            <key>A068_rageskill_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,796},{216,213}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,213}}</string>
                <key>sourceSize</key>
                <string>{216,219}</string>
            </dict>
            <key>A068_rageskill_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{184,272}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{184,272}}</string>
                <key>sourceSize</key>
                <string>{208,278}</string>
            </dict>
            <key>A068_rageskill_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,563},{207,210}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{207,210}}</string>
                <key>sourceSize</key>
                <string>{221,216}</string>
            </dict>
            <key>A068_rageskill_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,773},{209,209}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{209,209}}</string>
                <key>sourceSize</key>
                <string>{225,215}</string>
            </dict>
            <key>A068_rageskill_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,203},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>A068_rageskill_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,982},{42,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,85}}</string>
                <key>sourceSize</key>
                <string>{42,85}</string>
            </dict>
            <key>A068_rageskill_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,0},{94,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,122}}</string>
                <key>sourceSize</key>
                <string>{94,122}</string>
            </dict>
            <key>A068_rageskill_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,184},{98,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,123}}</string>
                <key>sourceSize</key>
                <string>{98,123}</string>
            </dict>
            <key>A068_rageskill_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,276},{102,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,113}}</string>
                <key>sourceSize</key>
                <string>{102,113}</string>
            </dict>
            <key>A068_rageskill_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,402},{109,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>A068_rageskill_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,203},{109,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,81}}</string>
                <key>sourceSize</key>
                <string>{109,81}</string>
            </dict>
            <key>A068_rageskill_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,203},{81,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,63}}</string>
                <key>sourceSize</key>
                <string>{81,63}</string>
            </dict>
            <key>A068_rageskill_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,508},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>A068_rageskill_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,417},{69,52}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{69,52}}</string>
                <key>sourceSize</key>
                <string>{73,58}</string>
            </dict>
            <key>A068_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A068_rageskill.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:571153c3eb534630feec79f5f8c905cd$</string>
            <key>textureFileName</key>
            <string>A068_rageskill.png</string>
        </dict>
    </dict>
</plist>
