<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A068_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,193},{196,230}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{196,230}}</string>
                <key>sourceSize</key>
                <string>{238,238}</string>
            </dict>
            <key>A068_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{193,237}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,237}}</string>
                <key>sourceSize</key>
                <string>{199,243}</string>
            </dict>
            <key>A068_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A068_beattack.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3819a43d6f6e367d038ee3db54c72b7$</string>
            <key>textureFileName</key>
            <string>A068_beattack.png</string>
        </dict>
    </dict>
</plist>
