<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A069_attacks_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,423},{37,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,22}}</string>
                <key>sourceSize</key>
                <string>{37,22}</string>
            </dict>
            <key>A069_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{111,182}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{111,182}}</string>
                <key>sourceSize</key>
                <string>{135,190}</string>
            </dict>
            <key>A069_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{135,178}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{135,178}}</string>
                <key>sourceSize</key>
                <string>{165,186}</string>
            </dict>
            <key>A069_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{144,180}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{144,180}}</string>
                <key>sourceSize</key>
                <string>{176,188}</string>
            </dict>
            <key>A069_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,176},{144,176}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{144,176}}</string>
                <key>sourceSize</key>
                <string>{176,184}</string>
            </dict>
            <key>A069_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,371},{144,175}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{144,175}}</string>
                <key>sourceSize</key>
                <string>{176,183}</string>
            </dict>
            <key>A069_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{144,176}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{144,176}}</string>
                <key>sourceSize</key>
                <string>{176,184}</string>
            </dict>
            <key>A069_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,279},{144,175}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{144,175}}</string>
                <key>sourceSize</key>
                <string>{176,183}</string>
            </dict>
            <key>A069_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,144},{135,179}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{135,179}}</string>
                <key>sourceSize</key>
                <string>{165,187}</string>
            </dict>
            <key>A069_attacks_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,111},{125,180}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{125,180}}</string>
                <key>sourceSize</key>
                <string>{153,188}</string>
            </dict>
            <key>A069_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,352},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>A069_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,352},{125,77}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,77}}</string>
                <key>sourceSize</key>
                <string>{141,77}</string>
            </dict>
            <key>A069_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,423},{69,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,86}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
            <key>A069_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,397},{31,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,54}}</string>
                <key>sourceSize</key>
                <string>{31,54}</string>
            </dict>
            <key>A069_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A069_attacks.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f867c2196f78bb03ef3458fc2f47d7a$</string>
            <key>textureFileName</key>
            <string>A069_attacks.png</string>
        </dict>
    </dict>
</plist>
