<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A070_rageskill_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,0},{47,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,28}}</string>
                <key>sourceSize</key>
                <string>{47,28}</string>
            </dict>
            <key>A070_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,527},{142,198}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{142,198}}</string>
                <key>sourceSize</key>
                <string>{158,208}</string>
            </dict>
            <key>A070_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,865},{154,187}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{154,187}}</string>
                <key>sourceSize</key>
                <string>{164,193}</string>
            </dict>
            <key>A070_rageskill_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,725},{177,180}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{177,180}}</string>
                <key>sourceSize</key>
                <string>{187,186}</string>
            </dict>
            <key>A070_rageskill_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,865},{155,189}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{155,189}}</string>
                <key>sourceSize</key>
                <string>{165,195}</string>
            </dict>
            <key>A070_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,316},{177,185}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{177,185}}</string>
                <key>sourceSize</key>
                <string>{187,191}</string>
            </dict>
            <key>A070_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,316},{211,179}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{211,179}}</string>
                <key>sourceSize</key>
                <string>{221,185}</string>
            </dict>
            <key>A070_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,596},{269,175}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,175}}</string>
                <key>sourceSize</key>
                <string>{269,181}</string>
            </dict>
            <key>A070_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{300,175}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,175}}</string>
                <key>sourceSize</key>
                <string>{300,181}</string>
            </dict>
            <key>A070_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,316},{280,182}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,182}}</string>
                <key>sourceSize</key>
                <string>{280,188}</string>
            </dict>
            <key>A070_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{300,175}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,175}}</string>
                <key>sourceSize</key>
                <string>{300,181}</string>
            </dict>
            <key>A070_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{283,175}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,175}}</string>
                <key>sourceSize</key>
                <string>{283,181}</string>
            </dict>
            <key>A070_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,596},{269,175}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,175}}</string>
                <key>sourceSize</key>
                <string>{269,181}</string>
            </dict>
            <key>A070_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,175},{78,73}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,73}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>A070_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,28},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>A070_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,175},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>A070_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,166},{150,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>A070_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,0},{166,94}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{166,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>A070_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,166},{49,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{49,74}}</string>
                <key>sourceSize</key>
                <string>{49,78}</string>
            </dict>
            <key>A070_rageskill_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,67},{23,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,43}}</string>
                <key>sourceSize</key>
                <string>{29,43}</string>
            </dict>
            <key>A070_rageskill_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,90},{20,33}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{20,33}}</string>
                <key>sourceSize</key>
                <string>{24,47}</string>
            </dict>
            <key>A070_rageskill_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,110},{15,28}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{15,28}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>A070_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A070_rageskill.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f514c5112caf85bd33baf029530f008$</string>
            <key>textureFileName</key>
            <string>A070_rageskill.png</string>
        </dict>
    </dict>
</plist>
