<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A070_attacks_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,47},{47,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,28}}</string>
                <key>sourceSize</key>
                <string>{47,28}</string>
            </dict>
            <key>A070_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,535},{142,198}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{142,198}}</string>
                <key>sourceSize</key>
                <string>{158,208}</string>
            </dict>
            <key>A070_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,709},{170,181}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{170,181}}</string>
                <key>sourceSize</key>
                <string>{180,187}</string>
            </dict>
            <key>A070_attacks_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,677},{155,189}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{155,189}}</string>
                <key>sourceSize</key>
                <string>{165,195}</string>
            </dict>
            <key>A070_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,541},{168,189}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{168,189}}</string>
                <key>sourceSize</key>
                <string>{178,195}</string>
            </dict>
            <key>A070_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{210,179}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{210,179}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>A070_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,178},{223,178}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{223,178}}</string>
                <key>sourceSize</key>
                <string>{233,184}</string>
            </dict>
            <key>A070_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{239,181}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,181}}</string>
                <key>sourceSize</key>
                <string>{239,187}</string>
            </dict>
            <key>A070_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,181},{220,181}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,181}}</string>
                <key>sourceSize</key>
                <string>{220,187}</string>
            </dict>
            <key>A070_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,0},{223,178}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{223,178}}</string>
                <key>sourceSize</key>
                <string>{233,184}</string>
            </dict>
            <key>A070_attacks_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,356},{214,179}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{214,179}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>A070_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,457},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>A070_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,518},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>A070_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>A070_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,572},{88,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,133}}</string>
                <key>sourceSize</key>
                <string>{88,133}</string>
            </dict>
            <key>A070_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,356},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>A070_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,75},{31,81}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{31,81}}</string>
                <key>sourceSize</key>
                <string>{35,99}</string>
            </dict>
            <key>A070_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A070_attacks.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4c915b4ac0540d3c30c4148d1475b02$</string>
            <key>textureFileName</key>
            <string>A070_attacks.png</string>
        </dict>
    </dict>
</plist>
