<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A071_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,810},{133,196}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{133,196}}</string>
                <key>sourceSize</key>
                <string>{161,206}</string>
            </dict>
            <key>A071_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,639},{171,196}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,196}}</string>
                <key>sourceSize</key>
                <string>{187,202}</string>
            </dict>
            <key>A071_attacks_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,254},{218,195}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,195}}</string>
                <key>sourceSize</key>
                <string>{238,201}</string>
            </dict>
            <key>A071_attacks_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,204},{225,180}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,180}}</string>
                <key>sourceSize</key>
                <string>{245,186}</string>
            </dict>
            <key>A071_attacks_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,380},{182,181}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,181}}</string>
                <key>sourceSize</key>
                <string>{200,187}</string>
            </dict>
            <key>A071_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,437},{202,196}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,196}}</string>
                <key>sourceSize</key>
                <string>{212,202}</string>
            </dict>
            <key>A071_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,218},{219,196}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,196}}</string>
                <key>sourceSize</key>
                <string>{227,202}</string>
            </dict>
            <key>A071_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,384},{205,196}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,196}}</string>
                <key>sourceSize</key>
                <string>{215,202}</string>
            </dict>
            <key>A071_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,181},{199,269}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,269}}</string>
                <key>sourceSize</key>
                <string>{199,275}</string>
            </dict>
            <key>A071_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,0},{204,236}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,236}}</string>
                <key>sourceSize</key>
                <string>{220,242}</string>
            </dict>
            <key>A071_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,0},{254,276}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,276}}</string>
                <key>sourceSize</key>
                <string>{254,282}</string>
            </dict>
            <key>A071_attacks_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{325,181}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,181}}</string>
                <key>sourceSize</key>
                <string>{325,187}</string>
            </dict>
            <key>A071_attacks_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,0},{218,185}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,185}}</string>
                <key>sourceSize</key>
                <string>{238,191}</string>
            </dict>
            <key>A071_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,315},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>A071_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,291},{24,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,41}}</string>
                <key>sourceSize</key>
                <string>{28,41}</string>
            </dict>
            <key>A071_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,181},{78,56}}</string>
                <key>offset</key>
                <string>{14,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{78,56}}</string>
                <key>sourceSize</key>
                <string>{132,72}</string>
            </dict>
            <key>A071_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{133,67}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,67}}</string>
                <key>sourceSize</key>
                <string>{139,71}</string>
            </dict>
            <key>A071_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,384},{130,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,76}}</string>
                <key>sourceSize</key>
                <string>{130,76}</string>
            </dict>
            <key>A071_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,514},{130,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,69}}</string>
                <key>sourceSize</key>
                <string>{130,69}</string>
            </dict>
            <key>A071_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,516},{122,63}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{122,63}}</string>
                <key>sourceSize</key>
                <string>{126,63}</string>
            </dict>
            <key>A071_attacks_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,259},{51,32}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{51,32}}</string>
                <key>sourceSize</key>
                <string>{71,36}</string>
            </dict>
            <key>A071_attacks_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,447},{123,69}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{123,69}}</string>
                <key>sourceSize</key>
                <string>{127,75}</string>
            </dict>
            <key>A071_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A071_attacks.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5b91d2922d2eda7bd836da54dfe8138$</string>
            <key>textureFileName</key>
            <string>A071_attacks.png</string>
        </dict>
    </dict>
</plist>
