<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A072_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{104,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{104,185}}</string>
                <key>sourceSize</key>
                <string>{122,195}</string>
            </dict>
            <key>A072_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,186}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{130,186}}</string>
                <key>sourceSize</key>
                <string>{158,192}</string>
            </dict>
            <key>A072_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A072_block.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd202976b3d4111f3d65933edb09f32d$</string>
            <key>textureFileName</key>
            <string>A072_block.png</string>
        </dict>
    </dict>
</plist>
