<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A072_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,0},{104,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{104,185}}</string>
                <key>sourceSize</key>
                <string>{122,195}</string>
            </dict>
            <key>A072_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{199,164}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,164}}</string>
                <key>sourceSize</key>
                <string>{199,170}</string>
            </dict>
            <key>A072_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,179},{168,156}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{168,156}}</string>
                <key>sourceSize</key>
                <string>{198,162}</string>
            </dict>
            <key>A072_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,0},{179,180}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{179,180}}</string>
                <key>sourceSize</key>
                <string>{207,186}</string>
            </dict>
            <key>A072_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{178,180}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{198,186}</string>
            </dict>
            <key>A072_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,335},{162,155}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{162,155}}</string>
                <key>sourceSize</key>
                <string>{198,161}</string>
            </dict>
            <key>A072_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,185},{153,169}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{153,169}}</string>
                <key>sourceSize</key>
                <string>{159,175}</string>
            </dict>
            <key>A072_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,451},{72,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,51}}</string>
                <key>sourceSize</key>
                <string>{72,51}</string>
            </dict>
            <key>A072_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,448},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>A072_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,440},{86,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,66}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>A072_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,342},{91,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,74}}</string>
                <key>sourceSize</key>
                <string>{91,74}</string>
            </dict>
            <key>A072_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,354},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>A072_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,354},{97,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,86}}</string>
                <key>sourceSize</key>
                <string>{97,86}</string>
            </dict>
            <key>A072_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{98,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,69}}</string>
                <key>sourceSize</key>
                <string>{98,69}</string>
            </dict>
            <key>A072_attacks_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,433},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>A072_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A072_attacks.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d0824cb6d0a043ad823ee052cb2c707$</string>
            <key>textureFileName</key>
            <string>A072_attacks.png</string>
        </dict>
    </dict>
</plist>
