<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A073_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,328},{54,28}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,30},{54,28}}</string>
                <key>sourceSize</key>
                <string>{142,72}</string>
            </dict>
            <key>A073_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{107,169}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{107,169}}</string>
                <key>sourceSize</key>
                <string>{125,177}</string>
            </dict>
            <key>A073_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,533},{139,154}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{139,154}}</string>
                <key>sourceSize</key>
                <string>{151,160}</string>
            </dict>
            <key>A073_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,524},{139,152}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{139,152}}</string>
                <key>sourceSize</key>
                <string>{163,158}</string>
            </dict>
            <key>A073_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,672},{146,136}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{146,136}}</string>
                <key>sourceSize</key>
                <string>{178,142}</string>
            </dict>
            <key>A073_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,183},{221,145}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{221,145}}</string>
                <key>sourceSize</key>
                <string>{233,151}</string>
            </dict>
            <key>A073_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{221,183}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{221,183}}</string>
                <key>sourceSize</key>
                <string>{233,189}</string>
            </dict>
            <key>A073_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,177},{221,174}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{221,174}}</string>
                <key>sourceSize</key>
                <string>{233,180}</string>
            </dict>
            <key>A073_attacks_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,0},{221,177}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{221,177}}</string>
                <key>sourceSize</key>
                <string>{233,183}</string>
            </dict>
            <key>A073_attacks_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,429},{162,146}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{162,146}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>A073_attacks_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,575},{144,150}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,150}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>A073_attacks_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,719},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>A073_attacks_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,758},{82,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,78}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>A073_attacks_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,268},{143,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,59}}</string>
                <key>sourceSize</key>
                <string>{143,59}</string>
            </dict>
            <key>A073_attacks_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,719},{79,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,71}}</string>
                <key>sourceSize</key>
                <string>{79,71}</string>
            </dict>
            <key>A073_attacks_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,429},{95,57}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,57}}</string>
                <key>sourceSize</key>
                <string>{117,59}</string>
            </dict>
            <key>A073_attacks_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,152},{116,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,63}}</string>
                <key>sourceSize</key>
                <string>{116,63}</string>
            </dict>
            <key>A073_attacks_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,411},{113,83}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,83}}</string>
                <key>sourceSize</key>
                <string>{121,83}</string>
            </dict>
            <key>A073_attacks_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,663},{140,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{140,95}}</string>
                <key>sourceSize</key>
                <string>{144,95}</string>
            </dict>
            <key>A073_attacks_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{189,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,98}}</string>
                <key>sourceSize</key>
                <string>{189,98}</string>
            </dict>
            <key>A073_attacks_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,351},{182,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,78}}</string>
                <key>sourceSize</key>
                <string>{182,78}</string>
            </dict>
            <key>A073_attacks_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,0},{152,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>A073_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A073_attacks.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0298e619d854f1470edbfc97da98e6d7$</string>
            <key>textureFileName</key>
            <string>A073_attacks.png</string>
        </dict>
    </dict>
</plist>
