<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A074_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,361},{245,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,88}}</string>
                <key>sourceSize</key>
                <string>{245,88}</string>
            </dict>
            <key>A074_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,606},{169,73}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{169,73}}</string>
                <key>sourceSize</key>
                <string>{187,85}</string>
            </dict>
            <key>A074_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,0},{165,85}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{165,85}}</string>
                <key>sourceSize</key>
                <string>{187,91}</string>
            </dict>
            <key>A074_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1648},{129,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{129,50}}</string>
                <key>sourceSize</key>
                <string>{131,50}</string>
            </dict>
            <key>A074_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,775},{123,186}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{123,186}}</string>
                <key>sourceSize</key>
                <string>{139,196}</string>
            </dict>
            <key>A074_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1463},{148,185}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,185}}</string>
                <key>sourceSize</key>
                <string>{148,191}</string>
            </dict>
            <key>A074_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1698},{190,201}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{190,201}}</string>
                <key>sourceSize</key>
                <string>{190,229}</string>
            </dict>
            <key>A074_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1651},{322,314}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,314}}</string>
                <key>sourceSize</key>
                <string>{322,320}</string>
            </dict>
            <key>A074_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,993},{372,335}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,335}}</string>
                <key>sourceSize</key>
                <string>{372,341}</string>
            </dict>
            <key>A074_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1328},{329,323}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,323}}</string>
                <key>sourceSize</key>
                <string>{359,325}</string>
            </dict>
            <key>A074_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,683},{384,310}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,310}}</string>
                <key>sourceSize</key>
                <string>{420,314}</string>
            </dict>
            <key>A074_attacks_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,165},{106,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,84}}</string>
                <key>sourceSize</key>
                <string>{108,84}</string>
            </dict>
            <key>A074_attacks_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{427,346}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,346}}</string>
                <key>sourceSize</key>
                <string>{427,352}</string>
            </dict>
            <key>A074_attacks_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{415,337}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,337}}</string>
                <key>sourceSize</key>
                <string>{415,343}</string>
            </dict>
            <key>A074_attacks_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,961},{117,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,118}}</string>
                <key>sourceSize</key>
                <string>{117,118}</string>
            </dict>
            <key>A074_attacks_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,271},{90,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,83}}</string>
                <key>sourceSize</key>
                <string>{90,83}</string>
            </dict>
            <key>A074_attacks_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1078},{189,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,138}}</string>
                <key>sourceSize</key>
                <string>{189,138}</string>
            </dict>
            <key>A074_attacks_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1267},{196,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,134}}</string>
                <key>sourceSize</key>
                <string>{196,136}</string>
            </dict>
            <key>A074_attacks_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1899},{187,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,102}}</string>
                <key>sourceSize</key>
                <string>{187,102}</string>
            </dict>
            <key>A074_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A074_attacks.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e57fe8184b073e6a20c9bdc918de0104$</string>
            <key>textureFileName</key>
            <string>A074_attacks.png</string>
        </dict>
    </dict>
</plist>
