<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A074_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,622},{100,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{100,27}}</string>
                <key>sourceSize</key>
                <string>{122,35}</string>
            </dict>
            <key>A074_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,656},{123,186}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{123,186}}</string>
                <key>sourceSize</key>
                <string>{139,196}</string>
            </dict>
            <key>A074_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,775},{134,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,176}}</string>
                <key>sourceSize</key>
                <string>{134,176}</string>
            </dict>
            <key>A074_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,622},{148,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,176}}</string>
                <key>sourceSize</key>
                <string>{148,176}</string>
            </dict>
            <key>A074_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,779},{190,223}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{190,223}}</string>
                <key>sourceSize</key>
                <string>{190,227}</string>
            </dict>
            <key>A074_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,320},{300,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,289}}</string>
                <key>sourceSize</key>
                <string>{300,289}</string>
            </dict>
            <key>A074_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{384,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,320}}</string>
                <key>sourceSize</key>
                <string>{384,320}</string>
            </dict>
            <key>A074_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,529},{93,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{93,81}</string>
            </dict>
            <key>A074_rageskill_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{388,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,328}}</string>
                <key>sourceSize</key>
                <string>{388,328}</string>
            </dict>
            <key>A074_rageskill_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,320},{105,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,83}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
            <key>A074_rageskill_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,425},{104,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,83}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>A074_rageskill_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>A074_rageskill_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,328},{205,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,161}}</string>
                <key>sourceSize</key>
                <string>{205,161}</string>
            </dict>
            <key>A074_rageskill_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,333},{240,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,166}}</string>
                <key>sourceSize</key>
                <string>{240,166}</string>
            </dict>
            <key>A074_rageskill_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,489},{256,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,167}}</string>
                <key>sourceSize</key>
                <string>{256,167}</string>
            </dict>
            <key>A074_rageskill_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,166},{245,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,167}}</string>
                <key>sourceSize</key>
                <string>{245,167}</string>
            </dict>
            <key>A074_rageskill_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,0},{246,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,166}}</string>
                <key>sourceSize</key>
                <string>{246,166}</string>
            </dict>
            <key>A074_rageskill_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,656},{256,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,167}}</string>
                <key>sourceSize</key>
                <string>{256,167}</string>
            </dict>
            <key>A074_rageskill_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,609},{232,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,166}}</string>
                <key>sourceSize</key>
                <string>{232,166}</string>
            </dict>
            <key>A074_rageskill_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,499},{235,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,157}}</string>
                <key>sourceSize</key>
                <string>{235,157}</string>
            </dict>
            <key>A074_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A074_rageskill.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d290b01faa86aeadcc51610898ae480f$</string>
            <key>textureFileName</key>
            <string>A074_rageskill.png</string>
        </dict>
    </dict>
</plist>
