<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A074_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{123,186}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{123,186}}</string>
                <key>sourceSize</key>
                <string>{139,196}</string>
            </dict>
            <key>A074_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,0},{123,185}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,185}}</string>
                <key>sourceSize</key>
                <string>{133,191}</string>
            </dict>
            <key>A074_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A074_block.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee582aaf697f949753bf504ff2d76557$</string>
            <key>textureFileName</key>
            <string>A074_block.png</string>
        </dict>
    </dict>
</plist>
