<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A075_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,709},{114,165}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{114,165}}</string>
                <key>sourceSize</key>
                <string>{138,171}</string>
            </dict>
            <key>A075_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,673},{205,152}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,152}}</string>
                <key>sourceSize</key>
                <string>{205,158}</string>
            </dict>
            <key>A075_rageskill_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,748},{237,220}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{237,220}}</string>
                <key>sourceSize</key>
                <string>{287,232}</string>
            </dict>
            <key>A075_rageskill_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,197},{292,240}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,240}}</string>
                <key>sourceSize</key>
                <string>{294,252}</string>
            </dict>
            <key>A075_rageskill_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,446},{265,234}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,234}}</string>
                <key>sourceSize</key>
                <string>{265,244}</string>
            </dict>
            <key>A075_rageskill_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,446},{265,234}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,234}}</string>
                <key>sourceSize</key>
                <string>{265,244}</string>
            </dict>
            <key>A075_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,709},{274,196}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,196}}</string>
                <key>sourceSize</key>
                <string>{274,204}</string>
            </dict>
            <key>A075_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,749},{258,199}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{258,199}}</string>
                <key>sourceSize</key>
                <string>{298,211}</string>
            </dict>
            <key>A075_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,0},{325,197}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{325,197}}</string>
                <key>sourceSize</key>
                <string>{353,211}</string>
            </dict>
            <key>A075_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,0},{334,198}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{334,198}}</string>
                <key>sourceSize</key>
                <string>{360,210}</string>
            </dict>
            <key>A075_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{345,200}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{345,200}}</string>
                <key>sourceSize</key>
                <string>{379,212}</string>
            </dict>
            <key>A075_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,198},{287,248}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,248}}</string>
                <key>sourceSize</key>
                <string>{317,260}</string>
            </dict>
            <key>A075_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,437},{284,236}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,236}}</string>
                <key>sourceSize</key>
                <string>{314,248}</string>
            </dict>
            <key>A075_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{273,240}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,240}}</string>
                <key>sourceSize</key>
                <string>{303,252}</string>
            </dict>
            <key>A075_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,874},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>A075_rageskill_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,983},{73,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,40}}</string>
                <key>sourceSize</key>
                <string>{77,40}</string>
            </dict>
            <key>A075_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{124,54}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{124,54}}</string>
                <key>sourceSize</key>
                <string>{130,58}</string>
            </dict>
            <key>A075_rageskill_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,532},{175,57}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{175,57}}</string>
                <key>sourceSize</key>
                <string>{197,67}</string>
            </dict>
            <key>A075_rageskill_311.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,355},{177,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{177,45}}</string>
                <key>sourceSize</key>
                <string>{181,59}</string>
            </dict>
            <key>A075_rageskill_312.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,434},{181,49}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,49}}</string>
                <key>sourceSize</key>
                <string>{181,59}</string>
            </dict>
            <key>A075_rageskill_313.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,198},{157,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{157,46}}</string>
                <key>sourceSize</key>
                <string>{157,56}</string>
            </dict>
            <key>A075_rageskill_314.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,282},{152,50}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,50}}</string>
                <key>sourceSize</key>
                <string>{154,62}</string>
            </dict>
            <key>A075_rageskill_315.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,200},{146,58}}</string>
                <key>offset</key>
                <string>{54,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,3},{146,58}}</string>
                <key>sourceSize</key>
                <string>{270,66}</string>
            </dict>
            <key>A075_rageskill_316.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,615},{94,61}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,61}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>A075_rageskill_317.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,197},{85,53}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{85,53}}</string>
                <key>sourceSize</key>
                <string>{87,53}</string>
            </dict>
            <key>A075_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,680},{134,59}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,59}}</string>
                <key>sourceSize</key>
                <string>{154,67}</string>
            </dict>
            <key>A075_rageskill_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,680},{153,68}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,68}}</string>
                <key>sourceSize</key>
                <string>{161,70}</string>
            </dict>
            <key>A075_rageskill_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,532},{153,72}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{153,72}}</string>
                <key>sourceSize</key>
                <string>{163,72}</string>
            </dict>
            <key>A075_rageskill_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,586},{163,80}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{163,80}}</string>
                <key>sourceSize</key>
                <string>{177,82}</string>
            </dict>
            <key>A075_rageskill_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,532},{167,82}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{167,82}}</string>
                <key>sourceSize</key>
                <string>{173,84}</string>
            </dict>
            <key>A075_rageskill_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,532},{176,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,93}}</string>
                <key>sourceSize</key>
                <string>{176,93}</string>
            </dict>
            <key>A075_rageskill_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,420},{166,94}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{166,94}}</string>
                <key>sourceSize</key>
                <string>{176,96}</string>
            </dict>
            <key>A075_rageskill_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,258},{162,99}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{162,99}}</string>
                <key>sourceSize</key>
                <string>{176,99}</string>
            </dict>
            <key>A075_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A075_rageskill.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83e46d36fd41f0ac6420fb1776adc31d$</string>
            <key>textureFileName</key>
            <string>A075_rageskill.png</string>
        </dict>
    </dict>
</plist>
