<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArcherAttackBegin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,88},{30,24}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{30,24}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherAttackBegin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,88},{28,26}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{28,26}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherAttackBegin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,64},{28,28}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{28,28}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherAttackBegin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,32},{28,30}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,25},{28,30}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherAttackBegin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{28,30}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,25},{28,30}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherAttackBegin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{28,30}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{28,30}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherAttackBegin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{28,30}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,25},{28,30}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherAttackBegin7.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{28,30}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,25},{28,30}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherAttackBegin8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,30}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,25},{28,30}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherDeath0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,116},{22,22}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,31},{22,22}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherDeath1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{22,24}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,29},{22,24}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherDeath2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,94},{24,22}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,31},{24,22}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherDeath3.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,134},{22,20}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{22,20}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherDeath4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{22,14}}</string>
                <key>offset</key>
                <string>{-11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{22,14}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherDeath5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{22,14}}</string>
                <key>offset</key>
                <string>{-11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{22,14}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherDeath6.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,114},{24,18}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{24,18}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherWalking0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{30,24}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{30,24}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherWalking1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,62},{30,24}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{30,24}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherWalking2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,60},{30,26}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{30,26}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherWalking3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,34},{28,28}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{28,28}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherWalking4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,32},{30,26}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{30,26}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ArcherWalking5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{30,24}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{30,24}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Archer.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63edea0781a03d67bac1b8805eabdc5a:181a9f07268fd35105753fddd9b89067:81287408fef9b8132444c928098dad2c$</string>
            <key>textureFileName</key>
            <string>Archer.png</string>
        </dict>
    </dict>
</plist>
