<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C001_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,146}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{96,146}}</string>
                <key>sourceSize</key>
                <string>{116,150}</string>
            </dict>
            <key>C001_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{96,144}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{96,144}}</string>
                <key>sourceSize</key>
                <string>{116,150}</string>
            </dict>
            <key>C001_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{96,144}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{96,144}}</string>
                <key>sourceSize</key>
                <string>{116,150}</string>
            </dict>
            <key>C001_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,296},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C001_stand.png</string>
            <key>size</key>
            <string>{102,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d41a171ebd00eea318bcb797233db4c$</string>
            <key>textureFileName</key>
            <string>C001_stand.png</string>
        </dict>
    </dict>
</plist>
