<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C001_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,146}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{96,146}}</string>
                <key>sourceSize</key>
                <string>{116,150}</string>
            </dict>
            <key>C001_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{114,145}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,38},{114,145}}</string>
                <key>sourceSize</key>
                <string>{340,227}</string>
            </dict>
            <key>C001_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C001_jump.png</string>
            <key>size</key>
            <string>{218,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7bd61f7fa87188bb8e18bd4825e37f1$</string>
            <key>textureFileName</key>
            <string>C001_jump.png</string>
        </dict>
    </dict>
</plist>
