<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C002_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,135}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{94,135}}</string>
                <key>sourceSize</key>
                <string>{114,145}</string>
            </dict>
            <key>C002_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,130}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{94,130}}</string>
                <key>sourceSize</key>
                <string>{114,136}</string>
            </dict>
            <key>C002_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C002_block.png</string>
            <key>size</key>
            <string>{196,139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06e5f086e6fbb1e36806b0c9d7ac66bb$</string>
            <key>textureFileName</key>
            <string>C002_block.png</string>
        </dict>
    </dict>
</plist>
