<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C002_attacks_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,143}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{94,143}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>C002_attacks_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{132,146}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{132,146}}</string>
                <key>sourceSize</key>
                <string>{146,152}</string>
            </dict>
            <key>C002_attacks_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{204,230}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,230}}</string>
                <key>sourceSize</key>
                <string>{212,236}</string>
            </dict>
            <key>C002_attacks_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{133,253}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{133,253}}</string>
                <key>sourceSize</key>
                <string>{147,261}</string>
            </dict>
            <key>C002_attacks_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,234},{266,133}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{266,133}}</string>
                <key>sourceSize</key>
                <string>{282,139}</string>
            </dict>
            <key>C002_attacks_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{380,136}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{380,136}}</string>
                <key>sourceSize</key>
                <string>{400,140}</string>
            </dict>
            <key>C002_attacks_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{157,138}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{157,138}}</string>
                <key>sourceSize</key>
                <string>{175,144}</string>
            </dict>
            <key>C002_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,627},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>C002_attacks_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,627},{56,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,22}</string>
            </dict>
            <key>C002_attacks_t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,627},{187,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,36}}</string>
                <key>sourceSize</key>
                <string>{187,36}</string>
            </dict>
            <key>C002_attacks_t4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{218,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,20}}</string>
                <key>sourceSize</key>
                <string>{218,20}</string>
            </dict>
            <key>C002_attacks_t6.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,767},{79,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,7}}</string>
                <key>sourceSize</key>
                <string>{79,7}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C002_attacks.png</string>
            <key>size</key>
            <string>{438,789}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56d81dd6e745dc63f4a46af6b3d863bd$</string>
            <key>textureFileName</key>
            <string>C002_attacks.png</string>
        </dict>
    </dict>
</plist>
