<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C003_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,262}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{318,262}}</string>
                <key>sourceSize</key>
                <string>{350,298}</string>
            </dict>
            <key>C003_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{369,290}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,290}}</string>
                <key>sourceSize</key>
                <string>{371,302}</string>
            </dict>
            <key>C003_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,266},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C003_beattack.png</string>
            <key>size</key>
            <string>{375,558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65754c2d1234552db1f835de37950df3$</string>
            <key>textureFileName</key>
            <string>C003_beattack.png</string>
        </dict>
    </dict>
</plist>
