<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C003_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{635,524}}</string>
                <key>offset</key>
                <string>{23,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,23},{635,524}}</string>
                <key>sourceSize</key>
                <string>{699,596}</string>
            </dict>
            <key>C003_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{319,256}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{319,256}}</string>
                <key>sourceSize</key>
                <string>{329,268}</string>
            </dict>
            <key>C003_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{413,266}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{413,266}}</string>
                <key>sourceSize</key>
                <string>{423,278}</string>
            </dict>
            <key>C003_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,528},{91,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,58}}</string>
                <key>sourceSize</key>
                <string>{91,58}</string>
            </dict>
            <key>C003_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,528},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C003_attacks.png</string>
            <key>size</key>
            <string>{960,796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d8a4ce27e3086712f0acb64c8616fe1$</string>
            <key>textureFileName</key>
            <string>C003_attacks.png</string>
        </dict>
    </dict>
</plist>
