<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C003_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,262}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{318,262}}</string>
                <key>sourceSize</key>
                <string>{350,298}</string>
            </dict>
            <key>C003_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{326,264}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{326,264}}</string>
                <key>sourceSize</key>
                <string>{350,298}</string>
            </dict>
            <key>C003_jump_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{334,266}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{334,266}}</string>
                <key>sourceSize</key>
                <string>{350,298}</string>
            </dict>
            <key>C003_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,532},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C003_jump.png</string>
            <key>size</key>
            <string>{340,800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:257cbbb29e4a8aa2ee3accaf94422610$</string>
            <key>textureFileName</key>
            <string>C003_jump.png</string>
        </dict>
    </dict>
</plist>
