<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C004_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,165}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{177,165}}</string>
                <key>sourceSize</key>
                <string>{283,185}</string>
            </dict>
            <key>C004_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{177,165}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{177,165}}</string>
                <key>sourceSize</key>
                <string>{283,185}</string>
            </dict>
            <key>C004_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{177,165}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{177,165}}</string>
                <key>sourceSize</key>
                <string>{283,185}</string>
            </dict>
            <key>C004_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,336},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C004_stand.png</string>
            <key>size</key>
            <string>{183,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f74af52e5ea47da0f388c2d4c664ef8$</string>
            <key>textureFileName</key>
            <string>C004_stand.png</string>
        </dict>
    </dict>
</plist>
