<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C004_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,165}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{177,165}}</string>
                <key>sourceSize</key>
                <string>{283,185}</string>
            </dict>
            <key>C004_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{170,164}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{170,164}}</string>
                <key>sourceSize</key>
                <string>{258,184}</string>
            </dict>
            <key>C004_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,169},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C004_beattack.png</string>
            <key>size</key>
            <string>{181,335}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:643f6d774edb40bd924cb8d2281cc97f$</string>
            <key>textureFileName</key>
            <string>C004_beattack.png</string>
        </dict>
    </dict>
</plist>
