<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C004_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,165}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{177,165}}</string>
                <key>sourceSize</key>
                <string>{283,185}</string>
            </dict>
            <key>C004_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{241,220}}</string>
                <key>offset</key>
                <string>{-29,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,220}}</string>
                <key>sourceSize</key>
                <string>{299,242}</string>
            </dict>
            <key>C004_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{234,143}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{234,143}}</string>
                <key>sourceSize</key>
                <string>{304,165}</string>
            </dict>
            <key>C004_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,224},{193,166}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{193,166}}</string>
                <key>sourceSize</key>
                <string>{311,188}</string>
            </dict>
            <key>C004_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,224},{66,56}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{66,56}}</string>
                <key>sourceSize</key>
                <string>{86,60}</string>
            </dict>
            <key>C004_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,224},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C004_attacks.png</string>
            <key>size</key>
            <string>{503,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0b02c071f2340d5e687101043a1d4a8$</string>
            <key>textureFileName</key>
            <string>C004_attacks.png</string>
        </dict>
    </dict>
</plist>
