<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C009_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,188}}</string>
                <key>sourceSize</key>
                <string>{153,188}</string>
            </dict>
            <key>C009_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{153,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,188}}</string>
                <key>sourceSize</key>
                <string>{153,188}</string>
            </dict>
            <key>C009_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{153,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,188}}</string>
                <key>sourceSize</key>
                <string>{153,188}</string>
            </dict>
            <key>C009_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C009_stand.png</string>
            <key>size</key>
            <string>{469,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8297cca0622bedd5fd44dc7d93cadba1$</string>
            <key>textureFileName</key>
            <string>C009_stand.png</string>
        </dict>
    </dict>
</plist>
