<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C009_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,188}}</string>
                <key>sourceSize</key>
                <string>{153,188}</string>
            </dict>
            <key>C009_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{130,162}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,162}}</string>
                <key>sourceSize</key>
                <string>{134,168}</string>
            </dict>
            <key>C009_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,192},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C009_jump.png</string>
            <key>size</key>
            <string>{157,356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad44450f7598ec6c84956f3929c8ad23$</string>
            <key>textureFileName</key>
            <string>C009_jump.png</string>
        </dict>
    </dict>
</plist>
