<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C009_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,188}}</string>
                <key>sourceSize</key>
                <string>{153,188}</string>
            </dict>
            <key>C009_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{165,139}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{165,139}}</string>
                <key>sourceSize</key>
                <string>{179,153}</string>
            </dict>
            <key>C009_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{177,151}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{177,151}}</string>
                <key>sourceSize</key>
                <string>{187,157}</string>
            </dict>
            <key>C009_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{119,160}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{119,160}}</string>
                <key>sourceSize</key>
                <string>{129,168}</string>
            </dict>
            <key>C009_attacks_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,192},{83,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,116}}</string>
                <key>sourceSize</key>
                <string>{83,116}</string>
            </dict>
            <key>C009_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,192},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C009_attacks.png</string>
            <key>size</key>
            <string>{503,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95e86ff35b50836cc391ea2413d398ea$</string>
            <key>textureFileName</key>
            <string>C009_attacks.png</string>
        </dict>
    </dict>
</plist>
