<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C012_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,173}}</string>
                <key>sourceSize</key>
                <string>{131,173}</string>
            </dict>
            <key>C012_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{126,125}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{126,125}}</string>
                <key>sourceSize</key>
                <string>{152,131}</string>
            </dict>
            <key>C012_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,177},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C012_beattack.png</string>
            <key>size</key>
            <string>{135,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99e00b4813577d28497d0bb4b83a9cf0$</string>
            <key>textureFileName</key>
            <string>C012_beattack.png</string>
        </dict>
    </dict>
</plist>
