<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C012_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,173}}</string>
                <key>sourceSize</key>
                <string>{131,173}</string>
            </dict>
            <key>C012_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{100,149}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,149}}</string>
                <key>sourceSize</key>
                <string>{122,155}</string>
            </dict>
            <key>C012_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{100,150}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,150}}</string>
                <key>sourceSize</key>
                <string>{122,156}</string>
            </dict>
            <key>C012_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,177},{116,148}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{116,148}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>C012_attacks_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{122,61}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{122,61}}</string>
                <key>sourceSize</key>
                <string>{152,75}</string>
            </dict>
            <key>C012_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,329},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C012_attacks.png</string>
            <key>size</key>
            <string>{237,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d739ed031718c976d3457417cfbda10$</string>
            <key>textureFileName</key>
            <string>C012_attacks.png</string>
        </dict>
    </dict>
</plist>
