<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C013_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,155}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{114,155}}</string>
                <key>sourceSize</key>
                <string>{138,161}</string>
            </dict>
            <key>C013_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{130,148}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{130,148}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>C013_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C013_block.png</string>
            <key>size</key>
            <string>{252,159}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b77c5b81654aeed2012d2fbc4387ae8f$</string>
            <key>textureFileName</key>
            <string>C013_block.png</string>
        </dict>
    </dict>
</plist>
