<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C013_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,155}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{114,155}}</string>
                <key>sourceSize</key>
                <string>{138,161}</string>
            </dict>
            <key>C013_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{100,148}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,148}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>C013_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{158,137}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,137}}</string>
                <key>sourceSize</key>
                <string>{174,143}</string>
            </dict>
            <key>C013_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{136,122}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{136,122}}</string>
                <key>sourceSize</key>
                <string>{162,128}</string>
            </dict>
            <key>C013_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,159},{192,101}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{192,101}}</string>
                <key>sourceSize</key>
                <string>{206,107}</string>
            </dict>
            <key>C013_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,159},{157,131}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{157,131}}</string>
                <key>sourceSize</key>
                <string>{167,137}</string>
            </dict>
            <key>C013_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{112,148}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{112,148}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>C013_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,292},{114,153}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{114,153}}</string>
                <key>sourceSize</key>
                <string>{138,159}</string>
            </dict>
            <key>C013_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,292},{90,52}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{90,52}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>C013_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,292},{134,122}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{134,122}}</string>
                <key>sourceSize</key>
                <string>{146,148}</string>
            </dict>
            <key>C013_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{155,112}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{155,112}}</string>
                <key>sourceSize</key>
                <string>{167,136}</string>
            </dict>
            <key>C013_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,447},{159,193}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{159,193}}</string>
                <key>sourceSize</key>
                <string>{167,205}</string>
            </dict>
            <key>C013_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,447},{175,229}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{175,229}}</string>
                <key>sourceSize</key>
                <string>{175,241}</string>
            </dict>
            <key>C013_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,447},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C013_attacks.png</string>
            <key>size</key>
            <string>{499,678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5613afaa0949723a4353969139c50002$</string>
            <key>textureFileName</key>
            <string>C013_attacks.png</string>
        </dict>
    </dict>
</plist>
