<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C014_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,177}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,177}}</string>
                <key>sourceSize</key>
                <string>{125,181}</string>
            </dict>
            <key>C014_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{155,210}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{167,216}</string>
            </dict>
            <key>C014_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{168,155}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{168,155}}</string>
                <key>sourceSize</key>
                <string>{184,163}</string>
            </dict>
            <key>C014_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{77,69}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{79,71}</string>
            </dict>
            <key>C014_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,214},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C014_attacks.png</string>
            <key>size</key>
            <string>{454,285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70acfbef55239a2e1b6665c5847e553a$</string>
            <key>textureFileName</key>
            <string>C014_attacks.png</string>
        </dict>
    </dict>
</plist>
