<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C014_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,177}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,177}}</string>
                <key>sourceSize</key>
                <string>{125,181}</string>
            </dict>
            <key>C014_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,177}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,177}}</string>
                <key>sourceSize</key>
                <string>{125,181}</string>
            </dict>
            <key>C014_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{123,177}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,177}}</string>
                <key>sourceSize</key>
                <string>{125,181}</string>
            </dict>
            <key>C014_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,181},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C014_stand.png</string>
            <key>size</key>
            <string>{252,360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c620c1889511ca5e8bf8709092fedb7a$</string>
            <key>textureFileName</key>
            <string>C014_stand.png</string>
        </dict>
    </dict>
</plist>
