<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C015_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,206}}</string>
                <key>sourceSize</key>
                <string>{164,206}</string>
            </dict>
            <key>C015_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{148,155}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,155}}</string>
                <key>sourceSize</key>
                <string>{148,161}</string>
            </dict>
            <key>C015_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{163,221}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,221}}</string>
                <key>sourceSize</key>
                <string>{163,227}</string>
            </dict>
            <key>C015_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{174,184}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{174,184}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>C015_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,225},{53,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
            <key>C015_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,225},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C015_attacks.png</string>
            <key>size</key>
            <string>{483,411}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25fc6e52ecd2925b066685b41f01a72d$</string>
            <key>textureFileName</key>
            <string>C015_attacks.png</string>
        </dict>
    </dict>
</plist>
