<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C015_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,206}}</string>
                <key>sourceSize</key>
                <string>{164,206}</string>
            </dict>
            <key>C015_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{131,181}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,181}}</string>
                <key>sourceSize</key>
                <string>{137,187}</string>
            </dict>
            <key>C015_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,210},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C015_jump.png</string>
            <key>size</key>
            <string>{168,393}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e6a614b5b7587ed5c4880a58e31de1e$</string>
            <key>textureFileName</key>
            <string>C015_jump.png</string>
        </dict>
    </dict>
</plist>
