<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C016_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,164}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{312,164}}</string>
                <key>sourceSize</key>
                <string>{364,204}</string>
            </dict>
            <key>C016_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{328,165}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{328,165}}</string>
                <key>sourceSize</key>
                <string>{386,187}</string>
            </dict>
            <key>C016_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,168},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C016_jump.png</string>
            <key>size</key>
            <string>{334,335}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccd45a95f0c49daf5da7f1e6379d267f$</string>
            <key>textureFileName</key>
            <string>C016_jump.png</string>
        </dict>
    </dict>
</plist>
