<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C017_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,180}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{152,180}}</string>
                <key>sourceSize</key>
                <string>{178,206}</string>
            </dict>
            <key>C017_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{138,183}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{138,183}}</string>
                <key>sourceSize</key>
                <string>{154,189}</string>
            </dict>
            <key>C017_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{119,183}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{119,183}}</string>
                <key>sourceSize</key>
                <string>{125,189}</string>
            </dict>
            <key>C017_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{119,183}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{119,183}}</string>
                <key>sourceSize</key>
                <string>{125,189}</string>
            </dict>
            <key>C017_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,187},{149,190}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{149,190}}</string>
                <key>sourceSize</key>
                <string>{157,196}</string>
            </dict>
            <key>C017_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,187},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C017_attacks.png</string>
            <key>size</key>
            <string>{417,379}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a04effb3752f3220814e0184e51f3cd$</string>
            <key>textureFileName</key>
            <string>C017_attacks.png</string>
        </dict>
    </dict>
</plist>
