<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C018_attacks_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,36}}</string>
                <key>sourceSize</key>
                <string>{102,36}</string>
            </dict>
            <key>C018_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{100,147}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{100,147}}</string>
                <key>sourceSize</key>
                <string>{138,181}</string>
            </dict>
            <key>C018_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{141,153}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,153}}</string>
                <key>sourceSize</key>
                <string>{155,159}</string>
            </dict>
            <key>C018_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{171,130}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{171,130}}</string>
                <key>sourceSize</key>
                <string>{183,136}</string>
            </dict>
            <key>C018_attacks_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,306},{72,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,100}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>C018_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,306},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C018_attacks.png</string>
            <key>size</key>
            <string>{251,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4500d79e81017391771815605d64403$</string>
            <key>textureFileName</key>
            <string>C018_attacks.png</string>
        </dict>
    </dict>
</plist>
