<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C023_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,161}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{104,161}}</string>
                <key>sourceSize</key>
                <string>{144,173}</string>
            </dict>
            <key>C023_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{120,161}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{120,161}}</string>
                <key>sourceSize</key>
                <string>{152,169}</string>
            </dict>
            <key>C023_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C023_jump.png</string>
            <key>size</key>
            <string>{232,165}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca2669777535393545b8193fb1ac9be9$</string>
            <key>textureFileName</key>
            <string>C023_jump.png</string>
        </dict>
    </dict>
</plist>
