<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C023_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,161}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{104,161}}</string>
                <key>sourceSize</key>
                <string>{144,173}</string>
            </dict>
            <key>C023_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{154,154}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{166,158}</string>
            </dict>
            <key>C023_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{129,197}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,197}}</string>
                <key>sourceSize</key>
                <string>{141,201}</string>
            </dict>
            <key>C023_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{116,149}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,149}}</string>
                <key>sourceSize</key>
                <string>{128,153}</string>
            </dict>
            <key>C023_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,201},{174,195}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,195}}</string>
                <key>sourceSize</key>
                <string>{174,199}</string>
            </dict>
            <key>C023_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,201},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>C023_attacks_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,201},{31,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{31,34}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>C023_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,201},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C023_attacks.png</string>
            <key>size</key>
            <string>{395,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ffbd89056a0c1ea49744214af80ab9b$</string>
            <key>textureFileName</key>
            <string>C023_attacks.png</string>
        </dict>
    </dict>
</plist>
