<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C024_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,164}}</string>
                <key>sourceSize</key>
                <string>{150,164}</string>
            </dict>
            <key>C024_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{82,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,97}}</string>
                <key>sourceSize</key>
                <string>{82,97}</string>
            </dict>
            <key>C024_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{78,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,141}}</string>
                <key>sourceSize</key>
                <string>{78,141}</string>
            </dict>
            <key>C024_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{102,134}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{102,134}}</string>
                <key>sourceSize</key>
                <string>{108,136}</string>
            </dict>
            <key>C024_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{115,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,87}}</string>
                <key>sourceSize</key>
                <string>{115,87}</string>
            </dict>
            <key>C024_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,168},{116,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,10}}</string>
                <key>sourceSize</key>
                <string>{116,10}</string>
            </dict>
            <key>C024_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,168},{116,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,60}}</string>
                <key>sourceSize</key>
                <string>{116,60}</string>
            </dict>
            <key>C024_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,168},{116,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,183}}</string>
                <key>sourceSize</key>
                <string>{116,183}</string>
            </dict>
            <key>C024_attacks_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{82,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,97}}</string>
                <key>sourceSize</key>
                <string>{82,97}</string>
            </dict>
            <key>C024_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,353},{181,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,123}}</string>
                <key>sourceSize</key>
                <string>{181,123}</string>
            </dict>
            <key>C024_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,353},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C024_attacks.png</string>
            <key>size</key>
            <string>{473,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:474bc8a87a2034612e37293f32e5c098$</string>
            <key>textureFileName</key>
            <string>C024_attacks.png</string>
        </dict>
    </dict>
</plist>
