<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C024_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,164}}</string>
                <key>sourceSize</key>
                <string>{150,164}</string>
            </dict>
            <key>C024_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{141,125}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{141,125}}</string>
                <key>sourceSize</key>
                <string>{153,131}</string>
            </dict>
            <key>C024_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,168},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C024_jump.png</string>
            <key>size</key>
            <string>{154,295}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f8b667174c17867f496922ff47e3641$</string>
            <key>textureFileName</key>
            <string>C024_jump.png</string>
        </dict>
    </dict>
</plist>
