<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C028_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,137}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{76,137}}</string>
                <key>sourceSize</key>
                <string>{110,161}</string>
            </dict>
            <key>C028_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{90,132}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{90,132}}</string>
                <key>sourceSize</key>
                <string>{104,136}</string>
            </dict>
            <key>C028_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C028_block.png</string>
            <key>size</key>
            <string>{174,141}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a868873a4171976b5c83ec5b117b0afa$</string>
            <key>textureFileName</key>
            <string>C028_block.png</string>
        </dict>
    </dict>
</plist>
