<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C029_attacks_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,75}}</string>
                <key>sourceSize</key>
                <string>{210,75}</string>
            </dict>
            <key>C029_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{118,151}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{118,151}}</string>
                <key>sourceSize</key>
                <string>{126,157}</string>
            </dict>
            <key>C029_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{133,164}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{133,164}}</string>
                <key>sourceSize</key>
                <string>{139,170}</string>
            </dict>
            <key>C029_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{198,134}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{198,134}}</string>
                <key>sourceSize</key>
                <string>{208,140}</string>
            </dict>
            <key>C029_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,168},{98,91}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{98,91}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>C029_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,168},{99,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,139}}</string>
                <key>sourceSize</key>
                <string>{99,139}</string>
            </dict>
            <key>C029_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,168},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C029_attacks.png</string>
            <key>size</key>
            <string>{469,309}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9be4ccf6df918296c09f324fe2ea8e5a$</string>
            <key>textureFileName</key>
            <string>C029_attacks.png</string>
        </dict>
    </dict>
</plist>
