<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C030_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,155}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{159,155}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>C030_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{160,157}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{160,157}}</string>
                <key>sourceSize</key>
                <string>{194,163}</string>
            </dict>
            <key>C030_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,159},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C030_block.png</string>
            <key>size</key>
            <string>{166,318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24295e7c526039c68c276da35c0895ca$</string>
            <key>textureFileName</key>
            <string>C030_block.png</string>
        </dict>
    </dict>
</plist>
