<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C036_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,156}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{190,156}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>C036_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{190,156}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{190,156}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>C036_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{188,156}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{188,156}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>C036_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,318},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C036_stand.png</string>
            <key>size</key>
            <string>{194,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04d5924f40ae3138226e98dec5d0094b$</string>
            <key>textureFileName</key>
            <string>C036_stand.png</string>
        </dict>
    </dict>
</plist>
