<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C036_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,156}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{190,156}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>C036_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{208,157}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{208,157}}</string>
                <key>sourceSize</key>
                <string>{228,167}</string>
            </dict>
            <key>C036_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,160},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C036_jump.png</string>
            <key>size</key>
            <string>{214,319}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e1664225d30324941309ec6281c7c8a$</string>
            <key>textureFileName</key>
            <string>C036_jump.png</string>
        </dict>
    </dict>
</plist>
