<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C037_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,173}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,5},{140,173}}</string>
                <key>sourceSize</key>
                <string>{182,189}</string>
            </dict>
            <key>C037_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{190,192}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,192}}</string>
                <key>sourceSize</key>
                <string>{202,200}</string>
            </dict>
            <key>C037_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,177},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C037_beattack.png</string>
            <key>size</key>
            <string>{196,371}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb50fbafe07605c6cb3e747e8a133832$</string>
            <key>textureFileName</key>
            <string>C037_beattack.png</string>
        </dict>
    </dict>
</plist>
