<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C037_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,173}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,5},{140,173}}</string>
                <key>sourceSize</key>
                <string>{182,189}</string>
            </dict>
            <key>C037_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{152,177}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{152,177}}</string>
                <key>sourceSize</key>
                <string>{170,185}</string>
            </dict>
            <key>C037_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{159,204}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{159,204}}</string>
                <key>sourceSize</key>
                <string>{161,210}</string>
            </dict>
            <key>C037_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{157,197}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{157,197}}</string>
                <key>sourceSize</key>
                <string>{175,205}</string>
            </dict>
            <key>C037_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,208},{154,173}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{154,173}}</string>
                <key>sourceSize</key>
                <string>{172,181}</string>
            </dict>
            <key>C037_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,208},{53,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,66}}</string>
                <key>sourceSize</key>
                <string>{55,70}</string>
            </dict>
            <key>C037_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,208},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C037_attacks.png</string>
            <key>size</key>
            <string>{459,407}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17a3fd12b7ffb61c1df2454c48b7a0e2$</string>
            <key>textureFileName</key>
            <string>C037_attacks.png</string>
        </dict>
    </dict>
</plist>
