<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C037_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,173}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,5},{140,173}}</string>
                <key>sourceSize</key>
                <string>{182,189}</string>
            </dict>
            <key>C037_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{149,171}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{149,171}}</string>
                <key>sourceSize</key>
                <string>{199,185}</string>
            </dict>
            <key>C037_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,177},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C037_jump.png</string>
            <key>size</key>
            <string>{155,350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc7c41e653edb519f7f34530e2fab6fd$</string>
            <key>textureFileName</key>
            <string>C037_jump.png</string>
        </dict>
    </dict>
</plist>
