<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C040_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,159}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{159,159}}</string>
                <key>sourceSize</key>
                <string>{189,179}</string>
            </dict>
            <key>C040_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{205,157}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{205,157}}</string>
                <key>sourceSize</key>
                <string>{205,167}</string>
            </dict>
            <key>C040_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{197,214}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,214}}</string>
                <key>sourceSize</key>
                <string>{197,220}</string>
            </dict>
            <key>C040_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{199,208}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,208}}</string>
                <key>sourceSize</key>
                <string>{199,214}</string>
            </dict>
            <key>C040_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{218,160}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{218,160}}</string>
                <key>sourceSize</key>
                <string>{218,168}</string>
            </dict>
            <key>C040_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{62,68}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{62,68}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>C040_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,910},{57,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{57,49}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>C040_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,910},{47,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{47,46}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>C040_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,910},{16,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{16,35}}</string>
                <key>sourceSize</key>
                <string>{22,43}</string>
            </dict>
            <key>C040_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,910},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C040_attacks.png</string>
            <key>size</key>
            <string>{222,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fd4994a78911147efb3dd0f486f47a4$</string>
            <key>textureFileName</key>
            <string>C040_attacks.png</string>
        </dict>
    </dict>
</plist>
