<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C040_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,159}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{159,159}}</string>
                <key>sourceSize</key>
                <string>{189,179}</string>
            </dict>
            <key>C040_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{206,180}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,180}}</string>
                <key>sourceSize</key>
                <string>{210,186}</string>
            </dict>
            <key>C040_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,163},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C040_beattack.png</string>
            <key>size</key>
            <string>{212,345}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47247def0c13a83147bb3e6203c23ffb$</string>
            <key>textureFileName</key>
            <string>C040_beattack.png</string>
        </dict>
    </dict>
</plist>
