<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C042_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,179}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{123,179}}</string>
                <key>sourceSize</key>
                <string>{129,185}</string>
            </dict>
            <key>C042_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{138,149}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{138,149}}</string>
                <key>sourceSize</key>
                <string>{168,155}</string>
            </dict>
            <key>C042_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,183},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C042_block.png</string>
            <key>size</key>
            <string>{144,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd90a6d8ef91f1bf66128bd5748a6841$</string>
            <key>textureFileName</key>
            <string>C042_block.png</string>
        </dict>
    </dict>
</plist>
