<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C042_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,179}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{123,179}}</string>
                <key>sourceSize</key>
                <string>{129,185}</string>
            </dict>
            <key>C042_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{124,156}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{124,156}}</string>
                <key>sourceSize</key>
                <string>{146,162}</string>
            </dict>
            <key>C042_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{146,135}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{146,135}}</string>
                <key>sourceSize</key>
                <string>{172,141}</string>
            </dict>
            <key>C042_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{163,163}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{163,163}}</string>
                <key>sourceSize</key>
                <string>{173,171}</string>
            </dict>
            <key>C042_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{128,210}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{128,210}}</string>
                <key>sourceSize</key>
                <string>{138,216}</string>
            </dict>
            <key>C042_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{180,143}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{180,143}}</string>
                <key>sourceSize</key>
                <string>{218,149}</string>
            </dict>
            <key>C042_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{122,162}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{122,162}}</string>
                <key>sourceSize</key>
                <string>{146,168}</string>
            </dict>
            <key>C042_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,842},{50,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{50,51}}</string>
                <key>sourceSize</key>
                <string>{58,61}</string>
            </dict>
            <key>C042_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,842},{43,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,58}}</string>
                <key>sourceSize</key>
                <string>{45,62}</string>
            </dict>
            <key>C042_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,842},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C042_attacks.png</string>
            <key>size</key>
            <string>{253,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78a2563bb98af083e49dda835dde83ef$</string>
            <key>textureFileName</key>
            <string>C042_attacks.png</string>
        </dict>
    </dict>
</plist>
