<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C043_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,169}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{192,169}}</string>
                <key>sourceSize</key>
                <string>{222,195}</string>
            </dict>
            <key>C043_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{159,140}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{159,140}}</string>
                <key>sourceSize</key>
                <string>{173,152}</string>
            </dict>
            <key>C043_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,173},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C043_block.png</string>
            <key>size</key>
            <string>{196,315}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86b8cff36b4335678591df9addaa58b7$</string>
            <key>textureFileName</key>
            <string>C043_block.png</string>
        </dict>
    </dict>
</plist>
