<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C043_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,169}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{192,169}}</string>
                <key>sourceSize</key>
                <string>{222,195}</string>
            </dict>
            <key>C043_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{192,167}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{192,167}}</string>
                <key>sourceSize</key>
                <string>{222,195}</string>
            </dict>
            <key>C043_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{196,167}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{196,167}}</string>
                <key>sourceSize</key>
                <string>{222,195}</string>
            </dict>
            <key>C043_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,342},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C043_stand.png</string>
            <key>size</key>
            <string>{202,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15a072d5ff2de887a045c0092ff8fdf3$</string>
            <key>textureFileName</key>
            <string>C043_stand.png</string>
        </dict>
    </dict>
</plist>
