<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C044_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,157}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{124,157}}</string>
                <key>sourceSize</key>
                <string>{138,163}</string>
            </dict>
            <key>C044_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{141,157}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{141,157}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>C044_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,161},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C044_jump.png</string>
            <key>size</key>
            <string>{147,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dcbfba9e360479faa9a1222a6f166f6$</string>
            <key>textureFileName</key>
            <string>C044_jump.png</string>
        </dict>
    </dict>
</plist>
