<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C057_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,170}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{121,170}}</string>
                <key>sourceSize</key>
                <string>{137,176}</string>
            </dict>
            <key>C057_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{138,131}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{138,131}}</string>
                <key>sourceSize</key>
                <string>{142,149}</string>
            </dict>
            <key>C057_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{217,153}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{217,153}}</string>
                <key>sourceSize</key>
                <string>{229,161}</string>
            </dict>
            <key>C057_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{258,130}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,34},{258,130}}</string>
                <key>sourceSize</key>
                <string>{264,170}</string>
            </dict>
            <key>C057_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,174},{62,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,44}}</string>
                <key>sourceSize</key>
                <string>{62,44}</string>
            </dict>
            <key>C057_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,174},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C057_attacks.png</string>
            <key>size</key>
            <string>{484,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:046192b08d8a9f98de54d69fe59018f4$</string>
            <key>textureFileName</key>
            <string>C057_attacks.png</string>
        </dict>
    </dict>
</plist>
