<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C057_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,170}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{121,170}}</string>
                <key>sourceSize</key>
                <string>{137,176}</string>
            </dict>
            <key>C057_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{194,153}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,153}}</string>
                <key>sourceSize</key>
                <string>{208,161}</string>
            </dict>
            <key>C057_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,174},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C057_beattack.png</string>
            <key>size</key>
            <string>{200,329}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:294c9de83e3f4f12e1f03496d5e64571$</string>
            <key>textureFileName</key>
            <string>C057_beattack.png</string>
        </dict>
    </dict>
</plist>
