<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C057_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,170}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{121,170}}</string>
                <key>sourceSize</key>
                <string>{137,176}</string>
            </dict>
            <key>C057_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{123,164}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{123,164}}</string>
                <key>sourceSize</key>
                <string>{137,176}</string>
            </dict>
            <key>C057_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{127,160}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{127,160}}</string>
                <key>sourceSize</key>
                <string>{141,176}</string>
            </dict>
            <key>C057_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,174},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C057_stand.png</string>
            <key>size</key>
            <string>{250,336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61c3707abe24d746636c4e2d888927f5$</string>
            <key>textureFileName</key>
            <string>C057_stand.png</string>
        </dict>
    </dict>
</plist>
