<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C059_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,167}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{99,167}}</string>
                <key>sourceSize</key>
                <string>{123,193}</string>
            </dict>
            <key>C059_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{99,165}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{99,165}}</string>
                <key>sourceSize</key>
                <string>{123,193}</string>
            </dict>
            <key>C059_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{99,165}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{99,165}}</string>
                <key>sourceSize</key>
                <string>{123,193}</string>
            </dict>
            <key>C059_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,338},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C059_stand.png</string>
            <key>size</key>
            <string>{105,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d841ebf2ef87a298536a0bfc9b603a93$</string>
            <key>textureFileName</key>
            <string>C059_stand.png</string>
        </dict>
    </dict>
</plist>
