<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C059_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,167}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{99,167}}</string>
                <key>sourceSize</key>
                <string>{123,193}</string>
            </dict>
            <key>C059_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{125,157}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,157}}</string>
                <key>sourceSize</key>
                <string>{139,163}</string>
            </dict>
            <key>C059_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{129,153}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{129,153}}</string>
                <key>sourceSize</key>
                <string>{139,165}</string>
            </dict>
            <key>C059_attacks_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>C059_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,326},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C059_attacks.png</string>
            <key>size</key>
            <string>{230,379}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a1aa02dc2220387860b5bef3c127339$</string>
            <key>textureFileName</key>
            <string>C059_attacks.png</string>
        </dict>
    </dict>
</plist>
