<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C060_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,156}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{104,156}}</string>
                <key>sourceSize</key>
                <string>{124,174}</string>
            </dict>
            <key>C060_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{102,210}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{102,210}}</string>
                <key>sourceSize</key>
                <string>{124,216}</string>
            </dict>
            <key>C060_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{111,210}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{111,210}}</string>
                <key>sourceSize</key>
                <string>{135,216}</string>
            </dict>
            <key>C060_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{152,151}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{152,151}}</string>
                <key>sourceSize</key>
                <string>{162,157}</string>
            </dict>
            <key>C060_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{111,146}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{111,146}}</string>
                <key>sourceSize</key>
                <string>{135,154}</string>
            </dict>
            <key>C060_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,214},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>C060_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,214},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>C060_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,214},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>C060_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,214},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C060_attacks.png</string>
            <key>size</key>
            <string>{479,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2c648bb036a47a1c43824a2d8f0edb1$</string>
            <key>textureFileName</key>
            <string>C060_attacks.png</string>
        </dict>
    </dict>
</plist>
