<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C061_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,172}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{209,172}}</string>
                <key>sourceSize</key>
                <string>{237,184}</string>
            </dict>
            <key>C061_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{233,171}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{233,171}}</string>
                <key>sourceSize</key>
                <string>{247,181}</string>
            </dict>
            <key>C061_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,176},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C061_jump.png</string>
            <key>size</key>
            <string>{239,349}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9405c28cd45b8ec032302142269ec266$</string>
            <key>textureFileName</key>
            <string>C061_jump.png</string>
        </dict>
    </dict>
</plist>
