<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C063_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,197}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{133,197}}</string>
                <key>sourceSize</key>
                <string>{161,213}</string>
            </dict>
            <key>C063_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{165,192}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{165,192}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>C063_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{200,187}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{200,187}}</string>
                <key>sourceSize</key>
                <string>{210,193}</string>
            </dict>
            <key>C063_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{79,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,48}}</string>
                <key>sourceSize</key>
                <string>{79,48}</string>
            </dict>
            <key>C063_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,201},{44,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,79}}</string>
                <key>sourceSize</key>
                <string>{44,79}</string>
            </dict>
            <key>C063_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,201},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C063_attacks.png</string>
            <key>size</key>
            <string>{506,282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4dbca02aecae336b1bb7f2cb567a125$</string>
            <key>textureFileName</key>
            <string>C063_attacks.png</string>
        </dict>
    </dict>
</plist>
