<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C064_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{466,293}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,13},{466,293}}</string>
                <key>sourceSize</key>
                <string>{574,327}</string>
            </dict>
            <key>C064_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{465,294}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{465,294}}</string>
                <key>sourceSize</key>
                <string>{567,310}</string>
            </dict>
            <key>C064_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,297},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C064_block.png</string>
            <key>size</key>
            <string>{471,593}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:424c6c0cbd17798f3ec14a38a1ddae6e$</string>
            <key>textureFileName</key>
            <string>C064_block.png</string>
        </dict>
    </dict>
</plist>
