<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C065_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,158}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{142,158}}</string>
                <key>sourceSize</key>
                <string>{186,164}</string>
            </dict>
            <key>C065_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{164,175}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,175}}</string>
                <key>sourceSize</key>
                <string>{182,181}</string>
            </dict>
            <key>C065_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,162},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C065_beattack.png</string>
            <key>size</key>
            <string>{170,339}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1d27a5f39d4f6c52c4f982ac4d97807$</string>
            <key>textureFileName</key>
            <string>C065_beattack.png</string>
        </dict>
    </dict>
</plist>
