<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C065_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,158}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{142,158}}</string>
                <key>sourceSize</key>
                <string>{186,164}</string>
            </dict>
            <key>C065_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{151,157}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{151,157}}</string>
                <key>sourceSize</key>
                <string>{201,167}</string>
            </dict>
            <key>C065_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,162},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C065_jump.png</string>
            <key>size</key>
            <string>{157,321}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e90ede12dbc30115eb7b5f6c61abd311$</string>
            <key>textureFileName</key>
            <string>C065_jump.png</string>
        </dict>
    </dict>
</plist>
