<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C067_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{572,464}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{572,464}}</string>
                <key>sourceSize</key>
                <string>{632,510}</string>
            </dict>
            <key>C067_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{553,539}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{553,539}}</string>
                <key>sourceSize</key>
                <string>{601,573}</string>
            </dict>
            <key>C067_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,468},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C067_block.png</string>
            <key>size</key>
            <string>{576,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d7ea9b48b1f2f0de2e1008a4ee3a58a$</string>
            <key>textureFileName</key>
            <string>C067_block.png</string>
        </dict>
    </dict>
</plist>
