<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C067_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{572,464}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{572,464}}</string>
                <key>sourceSize</key>
                <string>{632,510}</string>
            </dict>
            <key>C067_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{701,443}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,48},{701,443}}</string>
                <key>sourceSize</key>
                <string>{777,579}</string>
            </dict>
            <key>C067_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,468},{77,59}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{77,59}}</string>
                <key>sourceSize</key>
                <string>{91,77}</string>
            </dict>
            <key>C067_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,468},{86,114}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{86,114}}</string>
                <key>sourceSize</key>
                <string>{116,138}</string>
            </dict>
            <key>C067_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,468},{92,138}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{92,138}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>C067_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,913},{96,64}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{96,64}}</string>
                <key>sourceSize</key>
                <string>{134,96}</string>
            </dict>
            <key>C067_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,913},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C067_attacks.png</string>
            <key>size</key>
            <string>{966,979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:522e0bd0a0c465a5785cfeecd6ef6fc6$</string>
            <key>textureFileName</key>
            <string>C067_attacks.png</string>
        </dict>
    </dict>
</plist>
