<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C068_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{369,426}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,44},{369,426}}</string>
                <key>sourceSize</key>
                <string>{449,492}</string>
            </dict>
            <key>C068_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{454,405}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{454,405}}</string>
                <key>sourceSize</key>
                <string>{486,427}</string>
            </dict>
            <key>C068_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,430},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C068_beattack.png</string>
            <key>size</key>
            <string>{460,837}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c65e4f130442c10671c36c1d594b2a61$</string>
            <key>textureFileName</key>
            <string>C068_beattack.png</string>
        </dict>
    </dict>
</plist>
