<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C069_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,195}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{186,195}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
            <key>C069_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{199,189}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,189}}</string>
                <key>sourceSize</key>
                <string>{199,193}</string>
            </dict>
            <key>C069_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{202,197}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,197}}</string>
                <key>sourceSize</key>
                <string>{202,201}</string>
            </dict>
            <key>C069_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{406,188}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{406,188}}</string>
                <key>sourceSize</key>
                <string>{424,194}</string>
            </dict>
            <key>C069_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{406,190}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{406,190}}</string>
                <key>sourceSize</key>
                <string>{424,194}</string>
            </dict>
            <key>C069_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,201},{333,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,159}}</string>
                <key>sourceSize</key>
                <string>{333,159}</string>
            </dict>
            <key>C069_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{306,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,132}}</string>
                <key>sourceSize</key>
                <string>{306,132}</string>
            </dict>
            <key>C069_attacks_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,393},{50,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,9}}</string>
                <key>sourceSize</key>
                <string>{50,9}</string>
            </dict>
            <key>C069_attacks_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,393},{103,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,36}}</string>
                <key>sourceSize</key>
                <string>{103,36}</string>
            </dict>
            <key>C069_attacks_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,393},{127,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,44}}</string>
                <key>sourceSize</key>
                <string>{127,44}</string>
            </dict>
            <key>C069_attacks_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,393},{137,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,60}}</string>
                <key>sourceSize</key>
                <string>{137,60}</string>
            </dict>
            <key>C069_attacks_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,393},{125,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>C069_attacks_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,393},{107,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,62}}</string>
                <key>sourceSize</key>
                <string>{109,62}</string>
            </dict>
            <key>C069_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,393},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C069_attacks.png</string>
            <key>size</key>
            <string>{1003,527}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b975d6bbe92e14324b12b0bdf47fe02e$</string>
            <key>textureFileName</key>
            <string>C069_attacks.png</string>
        </dict>
    </dict>
</plist>
