<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C070_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,149}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{115,149}}</string>
                <key>sourceSize</key>
                <string>{155,167}</string>
            </dict>
            <key>C070_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{114,148}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{114,148}}</string>
                <key>sourceSize</key>
                <string>{138,154}</string>
            </dict>
            <key>C070_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C070_jump.png</string>
            <key>size</key>
            <string>{237,153}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d42bc1ab38eaaa6115bfb392b73057f5$</string>
            <key>textureFileName</key>
            <string>C070_jump.png</string>
        </dict>
    </dict>
</plist>
