<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C070_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,149}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{115,149}}</string>
                <key>sourceSize</key>
                <string>{155,167}</string>
            </dict>
            <key>C070_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{114,139}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{114,139}}</string>
                <key>sourceSize</key>
                <string>{138,145}</string>
            </dict>
            <key>C070_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{128,144}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{128,144}}</string>
                <key>sourceSize</key>
                <string>{138,152}</string>
            </dict>
            <key>C070_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{128,119}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{128,119}}</string>
                <key>sourceSize</key>
                <string>{138,125}</string>
            </dict>
            <key>C070_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{114,146}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{114,146}}</string>
                <key>sourceSize</key>
                <string>{138,152}</string>
            </dict>
            <key>C070_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,153},{49,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>C070_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,153},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>C070_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,153},{49,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{49,56}</string>
            </dict>
            <key>C070_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,153},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>C070_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,153},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>C070_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,153},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C070_attacks.png</string>
            <key>size</key>
            <string>{495,301}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e313ad769fc6896eaab88529f331a16$</string>
            <key>textureFileName</key>
            <string>C070_attacks.png</string>
        </dict>
    </dict>
</plist>
