<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C071_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,166}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{103,166}}</string>
                <key>sourceSize</key>
                <string>{133,180}</string>
            </dict>
            <key>C071_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{121,165}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{121,165}}</string>
                <key>sourceSize</key>
                <string>{151,175}</string>
            </dict>
            <key>C071_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C071_jump.png</string>
            <key>size</key>
            <string>{232,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4c709945c76875f038c03144e8c3d5c$</string>
            <key>textureFileName</key>
            <string>C071_jump.png</string>
        </dict>
    </dict>
</plist>
