<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C071_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,166}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{103,166}}</string>
                <key>sourceSize</key>
                <string>{133,180}</string>
            </dict>
            <key>C071_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{136,163}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{136,163}}</string>
                <key>sourceSize</key>
                <string>{144,169}</string>
            </dict>
            <key>C071_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{100,192}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,192}}</string>
                <key>sourceSize</key>
                <string>{122,198}</string>
            </dict>
            <key>C071_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{156,164}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{156,164}}</string>
                <key>sourceSize</key>
                <string>{164,170}</string>
            </dict>
            <key>C071_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{155,187}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{155,187}}</string>
                <key>sourceSize</key>
                <string>{163,193}</string>
            </dict>
            <key>C071_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,196},{156,164}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{156,164}}</string>
                <key>sourceSize</key>
                <string>{164,170}</string>
            </dict>
            <key>C071_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,196},{134,195}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{134,195}}</string>
                <key>sourceSize</key>
                <string>{142,201}</string>
            </dict>
            <key>C071_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{145,164}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{145,164}}</string>
                <key>sourceSize</key>
                <string>{153,170}</string>
            </dict>
            <key>C071_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,393},{44,35}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{44,35}}</string>
                <key>sourceSize</key>
                <string>{66,49}</string>
            </dict>
            <key>C071_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,393},{52,31}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{52,31}}</string>
                <key>sourceSize</key>
                <string>{80,39}</string>
            </dict>
            <key>C071_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,393},{46,32}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{46,32}}</string>
                <key>sourceSize</key>
                <string>{62,40}</string>
            </dict>
            <key>C071_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,393},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C071_attacks.png</string>
            <key>size</key>
            <string>{505,559}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3eebddb6f5f4435fffb1a59f586b20f0$</string>
            <key>textureFileName</key>
            <string>C071_attacks.png</string>
        </dict>
    </dict>
</plist>
