<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C071_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,166}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{103,166}}</string>
                <key>sourceSize</key>
                <string>{133,180}</string>
            </dict>
            <key>C071_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{105,166}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{105,166}}</string>
                <key>sourceSize</key>
                <string>{133,180}</string>
            </dict>
            <key>C071_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{105,166}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{105,166}}</string>
                <key>sourceSize</key>
                <string>{133,180}</string>
            </dict>
            <key>C071_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,338},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C071_stand.png</string>
            <key>size</key>
            <string>{111,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:026947ead6035e4d7f3a6a8736e2be04$</string>
            <key>textureFileName</key>
            <string>C071_stand.png</string>
        </dict>
    </dict>
</plist>
