<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C072_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,196}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{130,196}}</string>
                <key>sourceSize</key>
                <string>{148,212}</string>
            </dict>
            <key>C072_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{142,219}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,219}}</string>
                <key>sourceSize</key>
                <string>{154,225}</string>
            </dict>
            <key>C072_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,200},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C072_beattack.png</string>
            <key>size</key>
            <string>{148,421}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2b7b4514f9f299963f77e7d927a2b09$</string>
            <key>textureFileName</key>
            <string>C072_beattack.png</string>
        </dict>
    </dict>
</plist>
