<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C079_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,137}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{83,137}}</string>
                <key>sourceSize</key>
                <string>{109,151}</string>
            </dict>
            <key>C079_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{85,136}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{85,136}}</string>
                <key>sourceSize</key>
                <string>{103,142}</string>
            </dict>
            <key>C079_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{161,153}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,153}}</string>
                <key>sourceSize</key>
                <string>{161,159}</string>
            </dict>
            <key>C079_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{162,169}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,169}}</string>
                <key>sourceSize</key>
                <string>{162,175}</string>
            </dict>
            <key>C079_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{82,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,63}}</string>
                <key>sourceSize</key>
                <string>{82,63}</string>
            </dict>
            <key>C079_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,173},{193,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,145}}</string>
                <key>sourceSize</key>
                <string>{193,145}</string>
            </dict>
            <key>C079_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{250,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,231}}</string>
                <key>sourceSize</key>
                <string>{250,231}</string>
            </dict>
            <key>C079_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{304,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,249}}</string>
                <key>sourceSize</key>
                <string>{304,249}</string>
            </dict>
            <key>C079_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,553},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C079_attacks.png</string>
            <key>size</key>
            <string>{501,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a2433e262b301bce150ebdf3497487e$</string>
            <key>textureFileName</key>
            <string>C079_attacks.png</string>
        </dict>
    </dict>
</plist>
