<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C082_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,121}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{91,121}}</string>
                <key>sourceSize</key>
                <string>{111,127}</string>
            </dict>
            <key>C082_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{108,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,119}}</string>
                <key>sourceSize</key>
                <string>{108,119}</string>
            </dict>
            <key>C082_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,125},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C082_jump.png</string>
            <key>size</key>
            <string>{114,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d5fbff3e0700ae92e71af8c2dadfaff$</string>
            <key>textureFileName</key>
            <string>C082_jump.png</string>
        </dict>
    </dict>
</plist>
