<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C091_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,169}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{96,169}}</string>
                <key>sourceSize</key>
                <string>{120,187}</string>
            </dict>
            <key>C091_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{113,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,169}}</string>
                <key>sourceSize</key>
                <string>{113,169}</string>
            </dict>
            <key>C091_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C091_jump.png</string>
            <key>size</key>
            <string>{217,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:933140e8297f141bfbc8b56755d0ac34$</string>
            <key>textureFileName</key>
            <string>C091_jump.png</string>
        </dict>
    </dict>
</plist>
