<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C091_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,169}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{96,169}}</string>
                <key>sourceSize</key>
                <string>{120,187}</string>
            </dict>
            <key>C091_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,169}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{96,169}}</string>
                <key>sourceSize</key>
                <string>{120,187}</string>
            </dict>
            <key>C091_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{96,169}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{96,169}}</string>
                <key>sourceSize</key>
                <string>{120,187}</string>
            </dict>
            <key>C091_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,173},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C091_stand.png</string>
            <key>size</key>
            <string>{198,344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c9e70f465a6ff1bf3d60919ce7de78e$</string>
            <key>textureFileName</key>
            <string>C091_stand.png</string>
        </dict>
    </dict>
</plist>
