<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C091_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,169}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{96,169}}</string>
                <key>sourceSize</key>
                <string>{120,187}</string>
            </dict>
            <key>C091_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,166}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{96,166}}</string>
                <key>sourceSize</key>
                <string>{116,172}</string>
            </dict>
            <key>C091_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C091_beattack.png</string>
            <key>size</key>
            <string>{200,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7ad7a6017d2e96e8ee00f65a8c5ba2f$</string>
            <key>textureFileName</key>
            <string>C091_beattack.png</string>
        </dict>
    </dict>
</plist>
