<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C092_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,150}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{76,150}}</string>
                <key>sourceSize</key>
                <string>{92,164}</string>
            </dict>
            <key>C092_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{95,149}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{95,149}}</string>
                <key>sourceSize</key>
                <string>{101,151}</string>
            </dict>
            <key>C092_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C092_block.png</string>
            <key>size</key>
            <string>{179,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:392083fcd59a0bef3723b350b0b2e2ca$</string>
            <key>textureFileName</key>
            <string>C092_block.png</string>
        </dict>
    </dict>
</plist>
