<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C095_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,231}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{236,231}}</string>
                <key>sourceSize</key>
                <string>{284,241}</string>
            </dict>
            <key>C095_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{270,230}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{270,230}}</string>
                <key>sourceSize</key>
                <string>{328,236}</string>
            </dict>
            <key>C095_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C095_beattack.png</string>
            <key>size</key>
            <string>{512,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5103b8bb4ae2aa817f72b04cd91475ce$</string>
            <key>textureFileName</key>
            <string>C095_beattack.png</string>
        </dict>
    </dict>
</plist>
