<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C098_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,162}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{104,162}}</string>
                <key>sourceSize</key>
                <string>{122,172}</string>
            </dict>
            <key>C098_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{106,162}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{106,162}}</string>
                <key>sourceSize</key>
                <string>{122,172}</string>
            </dict>
            <key>C098_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{108,160}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{108,160}}</string>
                <key>sourceSize</key>
                <string>{122,172}</string>
            </dict>
            <key>C098_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,330},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C098_stand.png</string>
            <key>size</key>
            <string>{114,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd48823caf3974c65268badb32885e0e$</string>
            <key>textureFileName</key>
            <string>C098_stand.png</string>
        </dict>
    </dict>
</plist>
