<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C098_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,162}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{104,162}}</string>
                <key>sourceSize</key>
                <string>{122,172}</string>
            </dict>
            <key>C098_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{169,158}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{169,158}}</string>
                <key>sourceSize</key>
                <string>{205,164}</string>
            </dict>
            <key>C098_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,166},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C098_block.png</string>
            <key>size</key>
            <string>{175,326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf75ae3bf7908900ef14428c73a1d464$</string>
            <key>textureFileName</key>
            <string>C098_block.png</string>
        </dict>
    </dict>
</plist>
