<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C099_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,190}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{125,190}}</string>
                <key>sourceSize</key>
                <string>{145,200}</string>
            </dict>
            <key>C099_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{172,162}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,162}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>C099_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,194},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C099_beattack.png</string>
            <key>size</key>
            <string>{178,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c3497c9a1a0d57941f2db082b701e17$</string>
            <key>textureFileName</key>
            <string>C099_beattack.png</string>
        </dict>
    </dict>
</plist>
