<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C099_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,190}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{125,190}}</string>
                <key>sourceSize</key>
                <string>{145,200}</string>
            </dict>
            <key>C099_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{135,152}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{135,152}}</string>
                <key>sourceSize</key>
                <string>{141,158}</string>
            </dict>
            <key>C099_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,194},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C099_block.png</string>
            <key>size</key>
            <string>{141,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:385b65e297d12a0325703fd336e6ac9b$</string>
            <key>textureFileName</key>
            <string>C099_block.png</string>
        </dict>
    </dict>
</plist>
