<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C101_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,164}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{100,164}}</string>
                <key>sourceSize</key>
                <string>{122,192}</string>
            </dict>
            <key>C101_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{117,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,162}}</string>
                <key>sourceSize</key>
                <string>{117,162}</string>
            </dict>
            <key>C101_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C101_jump.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ebb66918919993a217d4dc0f0917a06$</string>
            <key>textureFileName</key>
            <string>C101_jump.png</string>
        </dict>
    </dict>
</plist>
