<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C102_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{295,393}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{295,393}}</string>
                <key>sourceSize</key>
                <string>{355,421}</string>
            </dict>
            <key>C102_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{440,368}}</string>
                <key>offset</key>
                <string>{-23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,368}}</string>
                <key>sourceSize</key>
                <string>{486,378}</string>
            </dict>
            <key>C102_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,0},{182,246}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{182,246}}</string>
                <key>sourceSize</key>
                <string>{216,250}</string>
            </dict>
            <key>C102_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{239,233}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{239,233}}</string>
                <key>sourceSize</key>
                <string>{255,239}</string>
            </dict>
            <key>C102_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,602},{354,350}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{354,350}}</string>
                <key>sourceSize</key>
                <string>{432,360}</string>
            </dict>
            <key>C102_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,246},{201,182}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{201,182}}</string>
                <key>sourceSize</key>
                <string>{217,188}</string>
            </dict>
            <key>C102_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,295},{276,392}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{276,392}}</string>
                <key>sourceSize</key>
                <string>{336,404}</string>
            </dict>
            <key>C102_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,447},{37,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,22}}</string>
                <key>sourceSize</key>
                <string>{37,22}</string>
            </dict>
            <key>C102_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,447},{137,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,77}}</string>
                <key>sourceSize</key>
                <string>{137,77}</string>
            </dict>
            <key>C102_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,478},{123,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,104}}</string>
                <key>sourceSize</key>
                <string>{123,104}</string>
            </dict>
            <key>C102_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,524},{132,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,78}}</string>
                <key>sourceSize</key>
                <string>{132,78}</string>
            </dict>
            <key>C102_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,368},{110,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,73}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>C102_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C102_attacks.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d8fe66928ce8fceccb00115a7b7c076$</string>
            <key>textureFileName</key>
            <string>C102_attacks.png</string>
        </dict>
    </dict>
</plist>
