<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C102_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,366},{295,393}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{295,393}}</string>
                <key>sourceSize</key>
                <string>{355,421}</string>
            </dict>
            <key>C102_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{418,366}}</string>
                <key>offset</key>
                <string>{-24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,366}}</string>
                <key>sourceSize</key>
                <string>{466,378}</string>
            </dict>
            <key>C102_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C102_beattack.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1baf5e5dfd4175b2cecbf7e85124fe8$</string>
            <key>textureFileName</key>
            <string>C102_beattack.png</string>
        </dict>
    </dict>
</plist>
