<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C102_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{295,393}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{295,393}}</string>
                <key>sourceSize</key>
                <string>{355,421}</string>
            </dict>
            <key>C102_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{406,370}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{406,370}}</string>
                <key>sourceSize</key>
                <string>{496,382}</string>
            </dict>
            <key>C102_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C102_block.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da4abe164791b8968f29b0838a6e5dc2$</string>
            <key>textureFileName</key>
            <string>C102_block.png</string>
        </dict>
    </dict>
</plist>
