<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C104_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{114,184}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{114,184}}</string>
                <key>sourceSize</key>
                <string>{144,192}</string>
            </dict>
            <key>C104_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,184}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{114,184}}</string>
                <key>sourceSize</key>
                <string>{144,192}</string>
            </dict>
            <key>C104_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,228},{114,182}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{114,182}}</string>
                <key>sourceSize</key>
                <string>{144,192}</string>
            </dict>
            <key>C104_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C104_stand.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f13fc7b995e3f8305dacc8ef31c25fb$</string>
            <key>textureFileName</key>
            <string>C104_stand.png</string>
        </dict>
    </dict>
</plist>
