<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C105_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,0},{453,234}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{453,234}}</string>
                <key>sourceSize</key>
                <string>{551,256}</string>
            </dict>
            <key>C105_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,265},{453,226}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{453,226}}</string>
                <key>sourceSize</key>
                <string>{551,250}</string>
            </dict>
            <key>C105_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{453,265}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{453,265}}</string>
                <key>sourceSize</key>
                <string>{551,289}</string>
            </dict>
            <key>C105_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,491},{453,217}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{453,217}}</string>
                <key>sourceSize</key>
                <string>{551,241}</string>
            </dict>
            <key>C105_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,234},{453,232}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{453,232}}</string>
                <key>sourceSize</key>
                <string>{551,256}</string>
            </dict>
            <key>C105_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,0},{86,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,32}}</string>
                <key>sourceSize</key>
                <string>{86,32}</string>
            </dict>
            <key>C105_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,491},{207,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,148}}</string>
                <key>sourceSize</key>
                <string>{207,148}</string>
            </dict>
            <key>C105_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,698},{195,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,148}}</string>
                <key>sourceSize</key>
                <string>{195,148}</string>
            </dict>
            <key>C105_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,491},{193,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,139}}</string>
                <key>sourceSize</key>
                <string>{193,139}</string>
            </dict>
            <key>C105_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,491},{193,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,139}}</string>
                <key>sourceSize</key>
                <string>{193,139}</string>
            </dict>
            <key>C105_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C105_attacks.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c2ceb596aed66e40b5c593447c66b92$</string>
            <key>textureFileName</key>
            <string>C105_attacks.png</string>
        </dict>
    </dict>
</plist>
