<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C105_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,830},{129,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,89}}</string>
                <key>sourceSize</key>
                <string>{129,89}</string>
            </dict>
            <key>C105_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,692},{138,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{138,78}</string>
            </dict>
            <key>C105_jump_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,924},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>C105_jump_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,820},{104,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,98}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>C105_jump_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,692},{128,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,67}}</string>
                <key>sourceSize</key>
                <string>{128,67}</string>
            </dict>
            <key>C105_jump_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,0},{142,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,58}}</string>
                <key>sourceSize</key>
                <string>{142,58}</string>
            </dict>
            <key>C105_jump_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{453,232}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{453,232}}</string>
                <key>sourceSize</key>
                <string>{551,256}</string>
            </dict>
            <key>C105_jump_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{453,231}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{453,231}}</string>
                <key>sourceSize</key>
                <string>{551,255}</string>
            </dict>
            <key>C105_jump_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,463},{453,229}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{453,229}}</string>
                <key>sourceSize</key>
                <string>{551,253}</string>
            </dict>
            <key>C105_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C105_jump.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:108131508f74be840fc86ef3d5ba70a3$</string>
            <key>textureFileName</key>
            <string>C105_jump.png</string>
        </dict>
    </dict>
</plist>
