<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C111_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,303},{163,151}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{163,151}}</string>
                <key>sourceSize</key>
                <string>{199,157}</string>
            </dict>
            <key>C111_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,303},{171,139}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{171,139}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>C111_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{187,135}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{187,135}}</string>
                <key>sourceSize</key>
                <string>{227,141}</string>
            </dict>
            <key>C111_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,0},{187,146}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{187,146}}</string>
                <key>sourceSize</key>
                <string>{227,152}</string>
            </dict>
            <key>C111_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{189,164}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{189,164}}</string>
                <key>sourceSize</key>
                <string>{227,170}</string>
            </dict>
            <key>C111_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,146},{187,140}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{187,140}}</string>
                <key>sourceSize</key>
                <string>{227,146}</string>
            </dict>
            <key>C111_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{187,139}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{227,145}</string>
            </dict>
            <key>C111_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,474},{35,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,43}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>C111_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{38,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,65}}</string>
                <key>sourceSize</key>
                <string>{38,69}</string>
            </dict>
            <key>C111_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,187},{53,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,115}}</string>
                <key>sourceSize</key>
                <string>{53,115}</string>
            </dict>
            <key>C111_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,240},{53,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,89}}</string>
                <key>sourceSize</key>
                <string>{53,93}</string>
            </dict>
            <key>C111_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C111_attacks.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c94d20c3ef1a340d69f76735425b4ef6$</string>
            <key>textureFileName</key>
            <string>C111_attacks.png</string>
        </dict>
    </dict>
</plist>
