<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B005_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,234}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{229,234}}</string>
                <key>sourceSize</key>
                <string>{279,256}</string>
            </dict>
            <key>B005_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{303,253}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,253}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>B005_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{323,275}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{323,275}}</string>
                <key>sourceSize</key>
                <string>{339,285}</string>
            </dict>
            <key>B005_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{219,371}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{219,371}}</string>
                <key>sourceSize</key>
                <string>{261,383}</string>
            </dict>
            <key>B005_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,279},{235,281}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{235,281}}</string>
                <key>sourceSize</key>
                <string>{279,295}</string>
            </dict>
            <key>B005_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,279},{160,140}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{160,140}}</string>
                <key>sourceSize</key>
                <string>{230,192}</string>
            </dict>
            <key>B005_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,279},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B005_attacks.png</string>
            <key>size</key>
            <string>{863,652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02580d6b3326300d359480ffeef1c59f$</string>
            <key>textureFileName</key>
            <string>B005_attacks.png</string>
        </dict>
    </dict>
</plist>
