<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B005_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,234}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{229,234}}</string>
                <key>sourceSize</key>
                <string>{279,256}</string>
            </dict>
            <key>B005_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{292,244}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,244}}</string>
                <key>sourceSize</key>
                <string>{318,258}</string>
            </dict>
            <key>B005_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{317,280}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{317,280}}</string>
                <key>sourceSize</key>
                <string>{333,290}</string>
            </dict>
            <key>B005_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{215,371}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{215,371}}</string>
                <key>sourceSize</key>
                <string>{261,383}</string>
            </dict>
            <key>B005_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,284},{237,281}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{237,281}}</string>
                <key>sourceSize</key>
                <string>{279,295}</string>
            </dict>
            <key>B005_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,284},{42,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{42,28}}</string>
                <key>sourceSize</key>
                <string>{50,34}</string>
            </dict>
            <key>B005_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,284},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>B005_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,284},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{62,40}</string>
            </dict>
            <key>B005_rageskill_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,284},{177,36}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{177,36}}</string>
                <key>sourceSize</key>
                <string>{215,46}</string>
            </dict>
            <key>B005_rageskill_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,284},{97,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{97,98}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>B005_rageskill_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{465,272}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,73},{465,272}}</string>
                <key>sourceSize</key>
                <string>{577,352}</string>
            </dict>
            <key>B005_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,657},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B005_rageskill.png</string>
            <key>size</key>
            <string>{909,931}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d3d1c566e6201eb00e5dd69749194ce$</string>
            <key>textureFileName</key>
            <string>B005_rageskill.png</string>
        </dict>
    </dict>
</plist>
