<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B005_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,234}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{229,234}}</string>
                <key>sourceSize</key>
                <string>{279,256}</string>
            </dict>
            <key>B005_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{267,269}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,269}}</string>
                <key>sourceSize</key>
                <string>{297,283}</string>
            </dict>
            <key>B005_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B005_beattack.png</string>
            <key>size</key>
            <string>{504,273}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2f316b761bb8c956c51285dc2e9a923$</string>
            <key>textureFileName</key>
            <string>B005_beattack.png</string>
        </dict>
    </dict>
</plist>
