<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B006_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,171}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{139,171}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>B006_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{125,157}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{125,157}}</string>
                <key>sourceSize</key>
                <string>{149,163}</string>
            </dict>
            <key>B006_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,175},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B006_block.png</string>
            <key>size</key>
            <string>{143,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc9a78f0c76d832e311ff039f20d3079$</string>
            <key>textureFileName</key>
            <string>B006_block.png</string>
        </dict>
    </dict>
</plist>
