<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B006_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,171}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{139,171}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>B006_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{143,171}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{143,171}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>B006_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{146,171}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{146,171}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
            <key>B006_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B006_stand.png</string>
            <key>size</key>
            <string>{438,175}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe3b7fad5e3d57b85e61d99f8865011b$</string>
            <key>textureFileName</key>
            <string>B006_stand.png</string>
        </dict>
    </dict>
</plist>
