<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B006_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,171}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{139,171}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>B006_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{139,200}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{139,200}}</string>
                <key>sourceSize</key>
                <string>{157,206}</string>
            </dict>
            <key>B006_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{141,193}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{141,193}}</string>
                <key>sourceSize</key>
                <string>{165,199}</string>
            </dict>
            <key>B006_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{185,154}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{185,154}}</string>
                <key>sourceSize</key>
                <string>{189,160}</string>
            </dict>
            <key>B006_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,204},{174,170}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,170}}</string>
                <key>sourceSize</key>
                <string>{174,176}</string>
            </dict>
            <key>B006_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,204},{56,78}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{56,78}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>B006_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{205,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,139}}</string>
                <key>sourceSize</key>
                <string>{205,139}</string>
            </dict>
            <key>B006_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,376},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B006_attacks.png</string>
            <key>size</key>
            <string>{427,517}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b91211900921105bc0584e8fc92e2d9c$</string>
            <key>textureFileName</key>
            <string>B006_attacks.png</string>
        </dict>
    </dict>
</plist>
