<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B007_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,150}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{114,150}}</string>
                <key>sourceSize</key>
                <string>{138,158}</string>
            </dict>
            <key>B007_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{131,149}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,44},{131,149}}</string>
                <key>sourceSize</key>
                <string>{283,227}</string>
            </dict>
            <key>B007_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B007_jump.png</string>
            <key>size</key>
            <string>{253,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f79fad677f57c1eeff4848fa75682a6$</string>
            <key>textureFileName</key>
            <string>B007_jump.png</string>
        </dict>
    </dict>
</plist>
