<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B007_rageskill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{66,52}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{66,52}}</string>
                <key>sourceSize</key>
                <string>{92,60}</string>
            </dict>
            <key>B007_rageskill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{96,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{96,59}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>B007_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,148},{114,150}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{114,150}}</string>
                <key>sourceSize</key>
                <string>{138,158}</string>
            </dict>
            <key>B007_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{120,150}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{120,150}}</string>
                <key>sourceSize</key>
                <string>{138,156}</string>
            </dict>
            <key>B007_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,300},{116,198}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{116,198}}</string>
                <key>sourceSize</key>
                <string>{138,204}</string>
            </dict>
            <key>B007_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,300},{114,206}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{114,206}}</string>
                <key>sourceSize</key>
                <string>{138,212}</string>
            </dict>
            <key>B007_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,148},{175,148}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{175,148}}</string>
                <key>sourceSize</key>
                <string>{185,154}</string>
            </dict>
            <key>B007_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{114,147}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{114,147}}</string>
                <key>sourceSize</key>
                <string>{138,153}</string>
            </dict>
            <key>B007_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{143,144}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,144}}</string>
                <key>sourceSize</key>
                <string>{157,150}</string>
            </dict>
            <key>B007_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,300},{151,171}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,171}}</string>
                <key>sourceSize</key>
                <string>{165,177}</string>
            </dict>
            <key>B007_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{132,125}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{132,125}}</string>
                <key>sourceSize</key>
                <string>{136,129}</string>
            </dict>
            <key>B007_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B007_rageskill.png</string>
            <key>size</key>
            <string>{511,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04d651e4742b17338b5063749656e795$</string>
            <key>textureFileName</key>
            <string>B007_rageskill.png</string>
        </dict>
    </dict>
</plist>
