<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B009_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,145}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{173,145}}</string>
                <key>sourceSize</key>
                <string>{189,151}</string>
            </dict>
            <key>B009_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{220,150}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,150}}</string>
                <key>sourceSize</key>
                <string>{220,156}</string>
            </dict>
            <key>B009_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{215,132}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,132}}</string>
                <key>sourceSize</key>
                <string>{231,138}</string>
            </dict>
            <key>B009_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{214,200}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{214,200}}</string>
                <key>sourceSize</key>
                <string>{234,208}</string>
            </dict>
            <key>B009_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{179,134}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{179,134}}</string>
                <key>sourceSize</key>
                <string>{213,140}</string>
            </dict>
            <key>B009_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{204,131}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{204,131}}</string>
                <key>sourceSize</key>
                <string>{218,137}</string>
            </dict>
            <key>B009_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,204},{182,136}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{182,136}}</string>
                <key>sourceSize</key>
                <string>{196,142}</string>
            </dict>
            <key>B009_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,204},{118,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{118,110}}</string>
                <key>sourceSize</key>
                <string>{120,114}</string>
            </dict>
            <key>B009_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,204},{238,182}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{238,182}}</string>
                <key>sourceSize</key>
                <string>{246,190}</string>
            </dict>
            <key>B009_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,204},{158,211}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{158,211}}</string>
                <key>sourceSize</key>
                <string>{192,279}</string>
            </dict>
            <key>B009_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{156,211}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,33},{156,211}}</string>
                <key>sourceSize</key>
                <string>{192,279}</string>
            </dict>
            <key>B009_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,417},{165,211}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,33},{165,211}}</string>
                <key>sourceSize</key>
                <string>{193,279}</string>
            </dict>
            <key>B009_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,417},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B009_rageskill.png</string>
            <key>size</key>
            <string>{1013,630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fab425bfe036ba9362546441518e3653$</string>
            <key>textureFileName</key>
            <string>B009_rageskill.png</string>
        </dict>
    </dict>
</plist>
