<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B010_rageskill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,755},{516,147}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{516,147}}</string>
                <key>sourceSize</key>
                <string>{540,163}</string>
            </dict>
            <key>B010_rageskill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{222,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,137}}</string>
                <key>sourceSize</key>
                <string>{222,137}</string>
            </dict>
            <key>B010_rageskill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,279},{416,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,474}}</string>
                <key>sourceSize</key>
                <string>{416,474}</string>
            </dict>
            <key>B010_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{336,264}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,264}}</string>
                <key>sourceSize</key>
                <string>{336,274}</string>
            </dict>
            <key>B010_rageskill_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{478,78}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{478,78}}</string>
                <key>sourceSize</key>
                <string>{490,98}</string>
            </dict>
            <key>B010_rageskill_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{307,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,275}}</string>
                <key>sourceSize</key>
                <string>{307,275}</string>
            </dict>
            <key>B010_rageskill_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{221,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,120}}</string>
                <key>sourceSize</key>
                <string>{221,120}</string>
            </dict>
            <key>B010_rageskill_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{221,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,122}}</string>
                <key>sourceSize</key>
                <string>{221,122}</string>
            </dict>
            <key>B010_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B010_rageskill.png</string>
            <key>size</key>
            <string>{1000,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfbfb64fae5d34457668dce7f03fe252$</string>
            <key>textureFileName</key>
            <string>B010_rageskill.png</string>
        </dict>
    </dict>
</plist>
