<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B010_attacks_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{516,147}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{516,147}}</string>
                <key>sourceSize</key>
                <string>{540,163}</string>
            </dict>
            <key>B010_attacks_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{222,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,137}}</string>
                <key>sourceSize</key>
                <string>{222,137}</string>
            </dict>
            <key>B010_attacks_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{416,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,474}}</string>
                <key>sourceSize</key>
                <string>{416,474}</string>
            </dict>
            <key>B010_attacks_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,151},{309,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,237}}</string>
                <key>sourceSize</key>
                <string>{309,237}</string>
            </dict>
            <key>B010_attacks_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{478,78}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{478,78}}</string>
                <key>sourceSize</key>
                <string>{490,98}</string>
            </dict>
            <key>B010_attacks_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,627},{307,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,275}}</string>
                <key>sourceSize</key>
                <string>{307,275}</string>
            </dict>
            <key>B010_attacks_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,627},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>B010_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,627},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B010_attacks.png</string>
            <key>size</key>
            <string>{908,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bba81f79d0f423160ab0deb7e6d01688$</string>
            <key>textureFileName</key>
            <string>B010_attacks.png</string>
        </dict>
    </dict>
</plist>
