<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B010_block_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{516,147}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{516,147}}</string>
                <key>sourceSize</key>
                <string>{540,163}</string>
            </dict>
            <key>B010_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,418},{516,520}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{516,520}}</string>
                <key>sourceSize</key>
                <string>{540,530}</string>
            </dict>
            <key>B010_block_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{222,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,137}}</string>
                <key>sourceSize</key>
                <string>{222,137}</string>
            </dict>
            <key>B010_block_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{416,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,474}}</string>
                <key>sourceSize</key>
                <string>{416,474}</string>
            </dict>
            <key>B010_block_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{478,78}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{478,78}}</string>
                <key>sourceSize</key>
                <string>{490,98}</string>
            </dict>
            <key>B010_block_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,141},{307,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,275}}</string>
                <key>sourceSize</key>
                <string>{307,275}</string>
            </dict>
            <key>B010_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B010_block.png</string>
            <key>size</key>
            <string>{938,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a6311f653f46ade4e956d67a5491bc9$</string>
            <key>textureFileName</key>
            <string>B010_block.png</string>
        </dict>
    </dict>
</plist>
