<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B010_beattack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{516,147}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{516,147}}</string>
                <key>sourceSize</key>
                <string>{540,163}</string>
            </dict>
            <key>B010_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{353,261}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,261}}</string>
                <key>sourceSize</key>
                <string>{353,265}</string>
            </dict>
            <key>B010_beattack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{222,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,137}}</string>
                <key>sourceSize</key>
                <string>{222,137}</string>
            </dict>
            <key>B010_beattack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,265},{416,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,474}}</string>
                <key>sourceSize</key>
                <string>{416,474}</string>
            </dict>
            <key>B010_beattack_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{478,78}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{478,78}}</string>
                <key>sourceSize</key>
                <string>{490,98}</string>
            </dict>
            <key>B010_beattack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,741},{307,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,275}}</string>
                <key>sourceSize</key>
                <string>{307,275}</string>
            </dict>
            <key>B010_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,741},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B010_beattack.png</string>
            <key>size</key>
            <string>{875,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f34a1a7cb1da55560a04f787181fe2e6$</string>
            <key>textureFileName</key>
            <string>B010_beattack.png</string>
        </dict>
    </dict>
</plist>
