<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B011_beattack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{564,147}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{564,147}}</string>
                <key>sourceSize</key>
                <string>{590,163}</string>
            </dict>
            <key>B011_beattack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{583,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,108}}</string>
                <key>sourceSize</key>
                <string>{583,108}</string>
            </dict>
            <key>B011_beattack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{716,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,502}}</string>
                <key>sourceSize</key>
                <string>{716,502}</string>
            </dict>
            <key>B011_beattack_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{365,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,265}}</string>
                <key>sourceSize</key>
                <string>{365,265}</string>
            </dict>
            <key>B011_beattack_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{654,78}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{654,78}}</string>
                <key>sourceSize</key>
                <string>{670,98}</string>
            </dict>
            <key>B011_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B011_beattack.png</string>
            <key>size</key>
            <string>{937,963}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d24d51ba51c49cb73139e3ff7e94fbab$</string>
            <key>textureFileName</key>
            <string>B011_beattack.png</string>
        </dict>
    </dict>
</plist>
