<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B011_block_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{564,147}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{564,147}}</string>
                <key>sourceSize</key>
                <string>{590,163}</string>
            </dict>
            <key>B011_block_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{583,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,108}}</string>
                <key>sourceSize</key>
                <string>{583,108}</string>
            </dict>
            <key>B011_block_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{716,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,502}}</string>
                <key>sourceSize</key>
                <string>{716,502}</string>
            </dict>
            <key>B011_block_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{369,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,270}}</string>
                <key>sourceSize</key>
                <string>{369,270}</string>
            </dict>
            <key>B011_block_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{654,78}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{654,78}}</string>
                <key>sourceSize</key>
                <string>{670,98}</string>
            </dict>
            <key>B011_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B011_block.png</string>
            <key>size</key>
            <string>{941,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0645880bb11a549a8e8a88036dece98$</string>
            <key>textureFileName</key>
            <string>B011_block.png</string>
        </dict>
    </dict>
</plist>
