<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B011_attacks_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{564,147}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{564,147}}</string>
                <key>sourceSize</key>
                <string>{590,163}</string>
            </dict>
            <key>B011_attacks_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{583,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,108}}</string>
                <key>sourceSize</key>
                <string>{583,108}</string>
            </dict>
            <key>B011_attacks_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{716,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,502}}</string>
                <key>sourceSize</key>
                <string>{716,502}</string>
            </dict>
            <key>B011_attacks_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{654,78}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{654,78}}</string>
                <key>sourceSize</key>
                <string>{670,98}</string>
            </dict>
            <key>B011_attacks_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,765},{226,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,123}}</string>
                <key>sourceSize</key>
                <string>{226,123}</string>
            </dict>
            <key>B011_attacks_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{227,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,126}}</string>
                <key>sourceSize</key>
                <string>{227,126}</string>
            </dict>
            <key>B011_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,890},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B011_attacks.png</string>
            <key>size</key>
            <string>{886,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f1a34612f579920d52ae8c288e43160$</string>
            <key>textureFileName</key>
            <string>B011_attacks.png</string>
        </dict>
    </dict>
</plist>
