<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B014_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,499}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,9},{550,499}}</string>
                <key>sourceSize</key>
                <string>{672,537}</string>
            </dict>
            <key>B014_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{640,411}}</string>
                <key>offset</key>
                <string>{25,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{640,411}}</string>
                <key>sourceSize</key>
                <string>{690,439}</string>
            </dict>
            <key>B014_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,503},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B014_beattack.png</string>
            <key>size</key>
            <string>{646,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dd36158ea5338492400e8006e3ff485$</string>
            <key>textureFileName</key>
            <string>B014_beattack.png</string>
        </dict>
    </dict>
</plist>
