<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B014_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,499}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,9},{550,499}}</string>
                <key>sourceSize</key>
                <string>{672,537}</string>
            </dict>
            <key>B014_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{276,255}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{276,255}}</string>
                <key>sourceSize</key>
                <string>{336,269}</string>
            </dict>
            <key>B014_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{419,234}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,234}}</string>
                <key>sourceSize</key>
                <string>{455,248}</string>
            </dict>
            <key>B014_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,503},{294,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,110}}</string>
                <key>sourceSize</key>
                <string>{294,110}</string>
            </dict>
            <key>B014_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,503},{285,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,94}}</string>
                <key>sourceSize</key>
                <string>{285,94}</string>
            </dict>
            <key>B014_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,503},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B014_attacks.png</string>
            <key>size</key>
            <string>{1008,739}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29a92f42d40e381045871989d21fd22d$</string>
            <key>textureFileName</key>
            <string>B014_attacks.png</string>
        </dict>
    </dict>
</plist>
