<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B015_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{628,445}}</string>
                <key>offset</key>
                <string>{-13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,7},{628,445}}</string>
                <key>sourceSize</key>
                <string>{764,489}</string>
            </dict>
            <key>B015_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{765,390}}</string>
                <key>offset</key>
                <string>{28,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{765,390}}</string>
                <key>sourceSize</key>
                <string>{821,428}</string>
            </dict>
            <key>B015_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,449},{78,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,74}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>B015_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,449},{151,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,103}}</string>
                <key>sourceSize</key>
                <string>{151,103}</string>
            </dict>
            <key>B015_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,841},{236,121}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,50},{236,121}}</string>
                <key>sourceSize</key>
                <string>{238,219}</string>
            </dict>
            <key>B015_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,841},{89,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,59}}</string>
                <key>sourceSize</key>
                <string>{89,59}</string>
            </dict>
            <key>B015_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,841},{95,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,44}}</string>
                <key>sourceSize</key>
                <string>{95,44}</string>
            </dict>
            <key>B015_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,841},{83,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,15}}</string>
                <key>sourceSize</key>
                <string>{83,15}</string>
            </dict>
            <key>B015_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,841},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B015_rageskill.png</string>
            <key>size</key>
            <string>{1002,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97a58ea89ee9c12ad15f747529412d2a$</string>
            <key>textureFileName</key>
            <string>B015_rageskill.png</string>
        </dict>
    </dict>
</plist>
