<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B015_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{713,620}}</string>
                <key>offset</key>
                <string>{28,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{713,620}}</string>
                <key>sourceSize</key>
                <string>{769,658}</string>
            </dict>
            <key>B015_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{75,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,123}}</string>
                <key>sourceSize</key>
                <string>{75,123}</string>
            </dict>
            <key>B015_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B015_attacks.png</string>
            <key>size</key>
            <string>{796,624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17155cd92334d2415dc64d54fbfbd7e3$</string>
            <key>textureFileName</key>
            <string>B015_attacks.png</string>
        </dict>
    </dict>
</plist>
