<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B016_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,138}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{76,138}}</string>
                <key>sourceSize</key>
                <string>{92,144}</string>
            </dict>
            <key>B016_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{94,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,136}}</string>
                <key>sourceSize</key>
                <string>{94,136}</string>
            </dict>
            <key>B016_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B016_jump.png</string>
            <key>size</key>
            <string>{178,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4629430512f7837681eccf1d5ca9fd94$</string>
            <key>textureFileName</key>
            <string>B016_jump.png</string>
        </dict>
    </dict>
</plist>
