<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B016_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,138}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{76,138}}</string>
                <key>sourceSize</key>
                <string>{92,144}</string>
            </dict>
            <key>B016_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{80,135}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{80,135}}</string>
                <key>sourceSize</key>
                <string>{92,141}</string>
            </dict>
            <key>B016_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{92,136}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{92,136}}</string>
                <key>sourceSize</key>
                <string>{98,142}</string>
            </dict>
            <key>B016_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{108,138}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{108,138}}</string>
                <key>sourceSize</key>
                <string>{124,144}</string>
            </dict>
            <key>B016_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{141,125}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{141,125}}</string>
                <key>sourceSize</key>
                <string>{149,131}</string>
            </dict>
            <key>B016_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{140,92}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{140,92}}</string>
                <key>sourceSize</key>
                <string>{148,98}</string>
            </dict>
            <key>B016_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,142},{85,120}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{85,120}}</string>
                <key>sourceSize</key>
                <string>{103,126}</string>
            </dict>
            <key>B016_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,142},{83,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,79}}</string>
                <key>sourceSize</key>
                <string>{85,81}</string>
            </dict>
            <key>B016_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,142},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>B016_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,142},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>B016_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,142},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>B016_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{77,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,67}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>B016_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,264},{67,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{67,51}}</string>
                <key>sourceSize</key>
                <string>{71,51}</string>
            </dict>
            <key>B016_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,264},{71,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,38}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
            <key>B016_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,264},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B016_rageskill.png</string>
            <key>size</key>
            <string>{509,333}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef965f77e22e8ee542eeeac0dfc464dc$</string>
            <key>textureFileName</key>
            <string>B016_rageskill.png</string>
        </dict>
    </dict>
</plist>
