<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B016_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,138}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{76,138}}</string>
                <key>sourceSize</key>
                <string>{92,144}</string>
            </dict>
            <key>B016_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,165}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{76,165}}</string>
                <key>sourceSize</key>
                <string>{92,171}</string>
            </dict>
            <key>B016_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{80,158}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,158}}</string>
                <key>sourceSize</key>
                <string>{92,164}</string>
            </dict>
            <key>B016_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{137,114}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,114}}</string>
                <key>sourceSize</key>
                <string>{147,120}</string>
            </dict>
            <key>B016_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{140,111}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,111}}</string>
                <key>sourceSize</key>
                <string>{150,117}</string>
            </dict>
            <key>B016_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,169},{109,99}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{109,99}}</string>
                <key>sourceSize</key>
                <string>{111,105}</string>
            </dict>
            <key>B016_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,169},{76,120}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{76,120}}</string>
                <key>sourceSize</key>
                <string>{92,126}</string>
            </dict>
            <key>B016_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,169},{9,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,7}}</string>
                <key>sourceSize</key>
                <string>{9,7}</string>
            </dict>
            <key>B016_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,169},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>B016_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,169},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>B016_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,169},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>B016_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,169},{93,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,50}}</string>
                <key>sourceSize</key>
                <string>{93,50}</string>
            </dict>
            <key>B016_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{82,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,56}}</string>
                <key>sourceSize</key>
                <string>{82,56}</string>
            </dict>
            <key>B016_attacks_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,291},{96,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,70}}</string>
                <key>sourceSize</key>
                <string>{96,70}</string>
            </dict>
            <key>B016_attacks_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,291},{82,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,61}}</string>
                <key>sourceSize</key>
                <string>{82,61}</string>
            </dict>
            <key>B016_attacks_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,291},{77,55}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{77,55}}</string>
                <key>sourceSize</key>
                <string>{83,57}</string>
            </dict>
            <key>B016_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,291},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B016_attacks.png</string>
            <key>size</key>
            <string>{501,363}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d1d792f3e2fbf49f1dcc5ba9fcc1ba8$</string>
            <key>textureFileName</key>
            <string>B016_attacks.png</string>
        </dict>
    </dict>
</plist>
