<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B017_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,187}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{102,187}}</string>
                <key>sourceSize</key>
                <string>{134,203}</string>
            </dict>
            <key>B017_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,187}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{102,187}}</string>
                <key>sourceSize</key>
                <string>{134,203}</string>
            </dict>
            <key>B017_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{102,187}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{102,187}}</string>
                <key>sourceSize</key>
                <string>{134,203}</string>
            </dict>
            <key>B017_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,191},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B017_stand.png</string>
            <key>size</key>
            <string>{210,380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:676bab97d84507fb4d74d6115c42e3d2$</string>
            <key>textureFileName</key>
            <string>B017_stand.png</string>
        </dict>
    </dict>
</plist>
