<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B017_rageskill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,198}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{186,198}}</string>
                <key>sourceSize</key>
                <string>{216,200}</string>
            </dict>
            <key>B017_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{102,187}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{102,187}}</string>
                <key>sourceSize</key>
                <string>{134,203}</string>
            </dict>
            <key>B017_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{102,194}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{102,194}}</string>
                <key>sourceSize</key>
                <string>{122,200}</string>
            </dict>
            <key>B017_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{114,212}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{114,212}}</string>
                <key>sourceSize</key>
                <string>{122,218}</string>
            </dict>
            <key>B017_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{140,220}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,220}}</string>
                <key>sourceSize</key>
                <string>{140,226}</string>
            </dict>
            <key>B017_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{185,237}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,237}}</string>
                <key>sourceSize</key>
                <string>{185,243}</string>
            </dict>
            <key>B017_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{189,263}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,263}}</string>
                <key>sourceSize</key>
                <string>{189,269}</string>
            </dict>
            <key>B017_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,241},{121,115}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{121,115}}</string>
                <key>sourceSize</key>
                <string>{125,119}</string>
            </dict>
            <key>B017_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,241},{510,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,311}}</string>
                <key>sourceSize</key>
                <string>{510,311}</string>
            </dict>
            <key>B017_rageskill_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{410,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,194}}</string>
                <key>sourceSize</key>
                <string>{410,194}</string>
            </dict>
            <key>B017_rageskill_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,554},{229,384}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{229,384}}</string>
                <key>sourceSize</key>
                <string>{237,398}</string>
            </dict>
            <key>B017_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,554},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B017_rageskill.png</string>
            <key>size</key>
            <string>{843,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f09ae7f4f7fa075ffe42cc493d94c1b$</string>
            <key>textureFileName</key>
            <string>B017_rageskill.png</string>
        </dict>
    </dict>
</plist>
