<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B017_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,187}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{102,187}}</string>
                <key>sourceSize</key>
                <string>{134,203}</string>
            </dict>
            <key>B017_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{131,185}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,185}}</string>
                <key>sourceSize</key>
                <string>{143,191}</string>
            </dict>
            <key>B017_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{106,188}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{106,188}}</string>
                <key>sourceSize</key>
                <string>{122,194}</string>
            </dict>
            <key>B017_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{119,177}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,177}}</string>
                <key>sourceSize</key>
                <string>{129,183}</string>
            </dict>
            <key>B017_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{121,185}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,185}}</string>
                <key>sourceSize</key>
                <string>{129,191}</string>
            </dict>
            <key>B017_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,192},{199,147}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,147}}</string>
                <key>sourceSize</key>
                <string>{199,153}</string>
            </dict>
            <key>B017_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,192},{141,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,144}}</string>
                <key>sourceSize</key>
                <string>{141,150}</string>
            </dict>
            <key>B017_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{258,142}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,142}}</string>
                <key>sourceSize</key>
                <string>{258,148}</string>
            </dict>
            <key>B017_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,379},{102,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,91}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>B017_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,379},{68,91}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{68,91}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>B017_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,379},{64,88}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{64,88}}</string>
                <key>sourceSize</key>
                <string>{68,92}</string>
            </dict>
            <key>B017_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>B017_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,523},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B017_attacks.png</string>
            <key>size</key>
            <string>{502,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:652b9c1563c168374592cf91ab30cb57$</string>
            <key>textureFileName</key>
            <string>B017_attacks.png</string>
        </dict>
    </dict>
</plist>
