<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B019_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,150}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{124,150}}</string>
                <key>sourceSize</key>
                <string>{136,156}</string>
            </dict>
            <key>B019_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{146,138}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,138}}</string>
                <key>sourceSize</key>
                <string>{146,144}</string>
            </dict>
            <key>B019_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,154},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B019_block.png</string>
            <key>size</key>
            <string>{152,294}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4b3f5f21788633d528c36f272152575$</string>
            <key>textureFileName</key>
            <string>B019_block.png</string>
        </dict>
    </dict>
</plist>
