<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B019_rageskill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>B019_rageskill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{72,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,34}}</string>
                <key>sourceSize</key>
                <string>{72,34}</string>
            </dict>
            <key>B019_rageskill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{109,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,42}}</string>
                <key>sourceSize</key>
                <string>{109,42}</string>
            </dict>
            <key>B019_rageskill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{126,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,50}}</string>
                <key>sourceSize</key>
                <string>{126,50}</string>
            </dict>
            <key>B019_rageskill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,2},{137,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,58}}</string>
                <key>sourceSize</key>
                <string>{137,58}</string>
            </dict>
            <key>B019_rageskill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{117,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,56}}</string>
                <key>sourceSize</key>
                <string>{117,56}</string>
            </dict>
            <key>B019_rageskill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{100,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,52}}</string>
                <key>sourceSize</key>
                <string>{102,52}</string>
            </dict>
            <key>B019_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,94},{124,150}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{124,150}}</string>
                <key>sourceSize</key>
                <string>{136,156}</string>
            </dict>
            <key>B019_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,94},{123,147}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,147}}</string>
                <key>sourceSize</key>
                <string>{123,153}</string>
            </dict>
            <key>B019_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,94},{118,145}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,145}}</string>
                <key>sourceSize</key>
                <string>{122,151}</string>
            </dict>
            <key>B019_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,94},{137,128}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,128}}</string>
                <key>sourceSize</key>
                <string>{143,134}</string>
            </dict>
            <key>B019_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{235,121}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{235,121}}</string>
                <key>sourceSize</key>
                <string>{245,127}</string>
            </dict>
            <key>B019_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,94},{250,156}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{250,156}}</string>
                <key>sourceSize</key>
                <string>{262,162}</string>
            </dict>
            <key>B019_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{97,90}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,90}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>B019_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{176,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,76}}</string>
                <key>sourceSize</key>
                <string>{178,76}</string>
            </dict>
            <key>B019_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B019_rageskill.png</string>
            <key>size</key>
            <string>{1019,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbe142763c3c729a7c5ec14b9b07fe24$</string>
            <key>textureFileName</key>
            <string>B019_rageskill.png</string>
        </dict>
    </dict>
</plist>
