<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B020_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,147}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,153}</string>
            </dict>
            <key>B020_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{148,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,146}}</string>
                <key>sourceSize</key>
                <string>{148,146}</string>
            </dict>
            <key>B020_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,151},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B020_jump.png</string>
            <key>size</key>
            <string>{154,299}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f95ad1d9d911808fa78b531a58f525c$</string>
            <key>textureFileName</key>
            <string>B020_jump.png</string>
        </dict>
    </dict>
</plist>
