<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B021_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,150}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{82,150}}</string>
                <key>sourceSize</key>
                <string>{100,158}</string>
            </dict>
            <key>B021_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{94,140}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{94,140}}</string>
                <key>sourceSize</key>
                <string>{114,146}</string>
            </dict>
            <key>B021_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B021_beattack.png</string>
            <key>size</key>
            <string>{184,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca2c4121e8adea30e1f5795cbaa172ba$</string>
            <key>textureFileName</key>
            <string>B021_beattack.png</string>
        </dict>
    </dict>
</plist>
