<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B021_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,150}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{82,150}}</string>
                <key>sourceSize</key>
                <string>{100,158}</string>
            </dict>
            <key>B021_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{87,146}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{87,146}}</string>
                <key>sourceSize</key>
                <string>{105,152}</string>
            </dict>
            <key>B021_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{100,139}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{120,145}</string>
            </dict>
            <key>B021_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{112,137}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{112,137}}</string>
                <key>sourceSize</key>
                <string>{136,143}</string>
            </dict>
            <key>B021_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{133,138}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{133,138}}</string>
                <key>sourceSize</key>
                <string>{153,144}</string>
            </dict>
            <key>B021_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,154},{133,138}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{133,138}}</string>
                <key>sourceSize</key>
                <string>{153,144}</string>
            </dict>
            <key>B021_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,154},{106,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{106,98}}</string>
                <key>sourceSize</key>
                <string>{108,102}</string>
            </dict>
            <key>B021_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,154},{100,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,39}}</string>
                <key>sourceSize</key>
                <string>{100,39}</string>
            </dict>
            <key>B021_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>B021_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,294},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>B021_rageskill_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,294},{109,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,34}}</string>
                <key>sourceSize</key>
                <string>{109,34}</string>
            </dict>
            <key>B021_rageskill_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,294},{92,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,33}}</string>
                <key>sourceSize</key>
                <string>{92,33}</string>
            </dict>
            <key>B021_rageskill_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,294},{74,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,18}}</string>
                <key>sourceSize</key>
                <string>{74,18}</string>
            </dict>
            <key>B021_rageskill_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,294},{74,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,8}}</string>
                <key>sourceSize</key>
                <string>{74,8}</string>
            </dict>
            <key>B021_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,294},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B021_rageskill.png</string>
            <key>size</key>
            <string>{482,336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d885cdeac083336a77d996982edd324$</string>
            <key>textureFileName</key>
            <string>B021_rageskill.png</string>
        </dict>
    </dict>
</plist>
