<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B021_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,150}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{82,150}}</string>
                <key>sourceSize</key>
                <string>{100,158}</string>
            </dict>
            <key>B021_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{121,144}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{121,144}}</string>
                <key>sourceSize</key>
                <string>{147,150}</string>
            </dict>
            <key>B021_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{121,171}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{121,171}}</string>
                <key>sourceSize</key>
                <string>{147,177}</string>
            </dict>
            <key>B021_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{163,121}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{163,121}}</string>
                <key>sourceSize</key>
                <string>{173,127}</string>
            </dict>
            <key>B021_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{127,110}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{127,110}}</string>
                <key>sourceSize</key>
                <string>{155,116}</string>
            </dict>
            <key>B021_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,175},{132,115}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,115}}</string>
                <key>sourceSize</key>
                <string>{160,121}</string>
            </dict>
            <key>B021_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,175},{57,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{57,46}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>B021_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,175},{71,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{71,42}}</string>
                <key>sourceSize</key>
                <string>{73,46}</string>
            </dict>
            <key>B021_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,175},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B021_attacks.png</string>
            <key>size</key>
            <string>{497,292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a537213b704839ad09ea1b60bc2ad444$</string>
            <key>textureFileName</key>
            <string>B021_attacks.png</string>
        </dict>
    </dict>
</plist>
