<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B024_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,184}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{202,184}}</string>
                <key>sourceSize</key>
                <string>{216,194}</string>
            </dict>
            <key>B024_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{185,174}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,174}}</string>
                <key>sourceSize</key>
                <string>{185,180}</string>
            </dict>
            <key>B024_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,188},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B024_beattack.png</string>
            <key>size</key>
            <string>{206,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c4b549819545fd132d3b94f1f13cf39$</string>
            <key>textureFileName</key>
            <string>B024_beattack.png</string>
        </dict>
    </dict>
</plist>
