<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B025_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{161,149}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{161,149}}</string>
                <key>sourceSize</key>
                <string>{173,157}</string>
            </dict>
            <key>B025_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,711},{172,151}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{172,151}}</string>
                <key>sourceSize</key>
                <string>{182,157}</string>
            </dict>
            <key>B025_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{184,154}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{184,154}}</string>
                <key>sourceSize</key>
                <string>{194,160}</string>
            </dict>
            <key>B025_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{181,142}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{181,142}}</string>
                <key>sourceSize</key>
                <string>{191,148}</string>
            </dict>
            <key>B025_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{173,133}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{173,133}}</string>
                <key>sourceSize</key>
                <string>{183,139}</string>
            </dict>
            <key>B025_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{169,141}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{169,141}}</string>
                <key>sourceSize</key>
                <string>{179,147}</string>
            </dict>
            <key>B025_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,48},{95,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{95,88}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>B025_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{91,39}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{91,39}}</string>
                <key>sourceSize</key>
                <string>{109,49}</string>
            </dict>
            <key>B025_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{42,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>B025_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{48,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{48,40}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>B025_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{43,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>B025_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{51,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>B025_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B025_rageskill.png</string>
            <key>size</key>
            <string>{236,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bcfc6d94d983a91e4fb882ca8aba831$</string>
            <key>textureFileName</key>
            <string>B025_rageskill.png</string>
        </dict>
    </dict>
</plist>
