<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B025_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,149}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{161,149}}</string>
                <key>sourceSize</key>
                <string>{173,157}</string>
            </dict>
            <key>B025_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{182,149}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,36},{182,149}}</string>
                <key>sourceSize</key>
                <string>{340,227}</string>
            </dict>
            <key>B025_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,153},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B025_jump.png</string>
            <key>size</key>
            <string>{188,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21025fd9d88b1dd72624f79ed26b95a3$</string>
            <key>textureFileName</key>
            <string>B025_jump.png</string>
        </dict>
    </dict>
</plist>
