<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B026_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,413}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{480,413}}</string>
                <key>sourceSize</key>
                <string>{504,423}</string>
            </dict>
            <key>B026_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{494,403}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{494,403}}</string>
                <key>sourceSize</key>
                <string>{504,423}</string>
            </dict>
            <key>B026_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{500,389}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,29},{500,389}}</string>
                <key>sourceSize</key>
                <string>{504,423}</string>
            </dict>
            <key>B026_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,417},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B026_stand.png</string>
            <key>size</key>
            <string>{980,808}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e25d0406a4499928e1f980299b713212$</string>
            <key>textureFileName</key>
            <string>B026_stand.png</string>
        </dict>
    </dict>
</plist>
