<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B026_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,413}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{480,413}}</string>
                <key>sourceSize</key>
                <string>{504,423}</string>
            </dict>
            <key>B026_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{421,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,428}}</string>
                <key>sourceSize</key>
                <string>{421,428}</string>
            </dict>
            <key>B026_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,417},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B026_block.png</string>
            <key>size</key>
            <string>{484,847}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19618643c29d36667be216a5041e8e33$</string>
            <key>textureFileName</key>
            <string>B026_block.png</string>
        </dict>
    </dict>
</plist>
