<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B027_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,129}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{77,129}}</string>
                <key>sourceSize</key>
                <string>{93,135}</string>
            </dict>
            <key>B027_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{77,128}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{77,128}}</string>
                <key>sourceSize</key>
                <string>{93,132}</string>
            </dict>
            <key>B027_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{77,128}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{77,128}}</string>
                <key>sourceSize</key>
                <string>{93,132}</string>
            </dict>
            <key>B027_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>B027_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>B027_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,133},{33,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,18}}</string>
                <key>sourceSize</key>
                <string>{33,18}</string>
            </dict>
            <key>B027_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,133},{41,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,28}}</string>
                <key>sourceSize</key>
                <string>{41,28}</string>
            </dict>
            <key>B027_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,133},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>B027_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,133},{35,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,29}}</string>
                <key>sourceSize</key>
                <string>{35,29}</string>
            </dict>
            <key>B027_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,133},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>B027_attacks_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,133},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>B027_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,133},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B027_attacks.png</string>
            <key>size</key>
            <string>{251,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4db81d0259d24591db83d506239eb9d$</string>
            <key>textureFileName</key>
            <string>B027_attacks.png</string>
        </dict>
    </dict>
</plist>
