<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B029_attacks_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,71}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{70,71}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>B029_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{54,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,71}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>B029_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{69,80}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,80}}</string>
                <key>sourceSize</key>
                <string>{73,86}</string>
            </dict>
            <key>B029_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{77,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,72}}</string>
                <key>sourceSize</key>
                <string>{77,72}</string>
            </dict>
            <key>B029_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,84},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>B029_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{88,69}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{88,69}}</string>
                <key>sourceSize</key>
                <string>{96,69}</string>
            </dict>
            <key>B029_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,172},{101,153}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{101,153}}</string>
                <key>sourceSize</key>
                <string>{133,167}</string>
            </dict>
            <key>B029_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{122,146}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{122,146}}</string>
                <key>sourceSize</key>
                <string>{148,152}</string>
            </dict>
            <key>B029_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,327},{118,141}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{118,141}}</string>
                <key>sourceSize</key>
                <string>{144,147}</string>
            </dict>
            <key>B029_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,327},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B029_attacks.png</string>
            <key>size</key>
            <string>{248,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8625677b9057f0a40229a9fd74d06b88$</string>
            <key>textureFileName</key>
            <string>B029_attacks.png</string>
        </dict>
    </dict>
</plist>
