<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B029_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,153}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{101,153}}</string>
                <key>sourceSize</key>
                <string>{133,167}</string>
            </dict>
            <key>B029_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{109,152}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{109,152}}</string>
                <key>sourceSize</key>
                <string>{131,158}</string>
            </dict>
            <key>B029_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B029_block.png</string>
            <key>size</key>
            <string>{218,157}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74270081924fd1ac143ca7813822d498$</string>
            <key>textureFileName</key>
            <string>B029_block.png</string>
        </dict>
    </dict>
</plist>
