<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B030_rageskill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,115}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{96,115}}</string>
                <key>sourceSize</key>
                <string>{114,119}</string>
            </dict>
            <key>B030_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{75,145}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{75,145}}</string>
                <key>sourceSize</key>
                <string>{91,153}</string>
            </dict>
            <key>B030_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{79,103}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,103}}</string>
                <key>sourceSize</key>
                <string>{91,107}</string>
            </dict>
            <key>B030_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{128,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>B030_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{128,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>B030_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,149},{128,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>B030_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,149},{128,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>B030_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,149},{115,98}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{115,98}}</string>
                <key>sourceSize</key>
                <string>{139,102}</string>
            </dict>
            <key>B030_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{112,130}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{112,130}}</string>
                <key>sourceSize</key>
                <string>{132,134}</string>
            </dict>
            <key>B030_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,249},{75,144}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{75,144}}</string>
                <key>sourceSize</key>
                <string>{91,148}</string>
            </dict>
            <key>B030_rageskill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,249},{51,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>B030_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,249},{49,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,34}}</string>
                <key>sourceSize</key>
                <string>{49,34}</string>
            </dict>
            <key>B030_rageskill_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,249},{51,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,31}}</string>
                <key>sourceSize</key>
                <string>{51,31}</string>
            </dict>
            <key>B030_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,249},{51,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,34}}</string>
                <key>sourceSize</key>
                <string>{51,34}</string>
            </dict>
            <key>B030_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,249},{46,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,35}}</string>
                <key>sourceSize</key>
                <string>{46,35}</string>
            </dict>
            <key>B030_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,249},{41,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,31}}</string>
                <key>sourceSize</key>
                <string>{41,31}</string>
            </dict>
            <key>B030_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>B030_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,395},{52,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,33}}</string>
                <key>sourceSize</key>
                <string>{52,33}</string>
            </dict>
            <key>B030_rageskill_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,395},{41,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,35}}</string>
                <key>sourceSize</key>
                <string>{41,35}</string>
            </dict>
            <key>B030_rageskill_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,395},{49,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,35}}</string>
                <key>sourceSize</key>
                <string>{49,35}</string>
            </dict>
            <key>B030_rageskill_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,395},{52,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,35}}</string>
                <key>sourceSize</key>
                <string>{52,35}</string>
            </dict>
            <key>B030_rageskill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,395},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>B030_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,395},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B030_rageskill.png</string>
            <key>size</key>
            <string>{509,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eec0173617a65bd5fb71a60b9ccc537f$</string>
            <key>textureFileName</key>
            <string>B030_rageskill.png</string>
        </dict>
    </dict>
</plist>
