<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B031_rageskill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,125}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,125}}</string>
                <key>sourceSize</key>
                <string>{117,129}</string>
            </dict>
            <key>B031_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{76,148}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{76,148}}</string>
                <key>sourceSize</key>
                <string>{102,160}</string>
            </dict>
            <key>B031_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{128,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>B031_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{128,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>B031_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{128,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>B031_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,152},{128,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>B031_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,152},{112,130}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{112,130}}</string>
                <key>sourceSize</key>
                <string>{132,134}</string>
            </dict>
            <key>B031_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,152},{75,145}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{75,145}}</string>
                <key>sourceSize</key>
                <string>{91,149}</string>
            </dict>
            <key>B031_rageskill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,152},{52,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>B031_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{137,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,83}}</string>
                <key>sourceSize</key>
                <string>{137,83}</string>
            </dict>
            <key>B031_rageskill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,299},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>B031_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,299},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B031_rageskill.png</string>
            <key>size</key>
            <string>{507,384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b7fe5163c9a1e8f7f4166f82345415a$</string>
            <key>textureFileName</key>
            <string>B031_rageskill.png</string>
        </dict>
    </dict>
</plist>
