<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B032_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,163}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{103,163}}</string>
                <key>sourceSize</key>
                <string>{123,177}</string>
            </dict>
            <key>B032_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{127,163}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,163}}</string>
                <key>sourceSize</key>
                <string>{131,169}</string>
            </dict>
            <key>B032_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{104,162}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{104,162}}</string>
                <key>sourceSize</key>
                <string>{122,168}</string>
            </dict>
            <key>B032_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,167},{106,163}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{106,163}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>B032_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{51,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>B032_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,332},{132,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,117}}</string>
                <key>sourceSize</key>
                <string>{132,117}</string>
            </dict>
            <key>B032_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,332},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B032_rageskill.png</string>
            <key>size</key>
            <string>{236,451}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe50e5a006c415f206d1fdffae37b9ee$</string>
            <key>textureFileName</key>
            <string>B032_rageskill.png</string>
        </dict>
    </dict>
</plist>
