<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B033_rageskill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,5}}</string>
                <key>sourceSize</key>
                <string>{107,5}</string>
            </dict>
            <key>B033_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{97,154}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{97,154}}</string>
                <key>sourceSize</key>
                <string>{119,162}</string>
            </dict>
            <key>B033_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{135,150}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{135,150}}</string>
                <key>sourceSize</key>
                <string>{163,156}</string>
            </dict>
            <key>B033_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{146,151}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{146,151}}</string>
                <key>sourceSize</key>
                <string>{168,157}</string>
            </dict>
            <key>B033_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{168,146}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{168,146}}</string>
                <key>sourceSize</key>
                <string>{180,152}</string>
            </dict>
            <key>B033_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,158},{135,154}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{135,154}}</string>
                <key>sourceSize</key>
                <string>{163,160}</string>
            </dict>
            <key>B033_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,158},{80,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,76}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>B033_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,158},{101,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,69}}</string>
                <key>sourceSize</key>
                <string>{101,69}</string>
            </dict>
            <key>B033_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{118,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,64}}</string>
                <key>sourceSize</key>
                <string>{118,64}</string>
            </dict>
            <key>B033_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,314},{125,54}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,54}}</string>
                <key>sourceSize</key>
                <string>{125,64}</string>
            </dict>
            <key>B033_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,314},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>B033_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,314},{54,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,69}}</string>
                <key>sourceSize</key>
                <string>{54,69}</string>
            </dict>
            <key>B033_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,314},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B033_rageskill.png</string>
            <key>size</key>
            <string>{495,385}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75280dd7644b53ddc7a46fa6dcefaf88$</string>
            <key>textureFileName</key>
            <string>B033_rageskill.png</string>
        </dict>
    </dict>
</plist>
