<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B033_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,154}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{97,154}}</string>
                <key>sourceSize</key>
                <string>{119,162}</string>
            </dict>
            <key>B033_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{103,155}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{103,155}}</string>
                <key>sourceSize</key>
                <string>{119,161}</string>
            </dict>
            <key>B033_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{158,150}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,150}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>B033_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{101,153}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{101,153}}</string>
                <key>sourceSize</key>
                <string>{119,159}</string>
            </dict>
            <key>B033_attacks_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{268,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,120}}</string>
                <key>sourceSize</key>
                <string>{268,120}</string>
            </dict>
            <key>B033_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,159},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B033_attacks.png</string>
            <key>size</key>
            <string>{469,281}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66313270b65f24bf731877dd63c14c55$</string>
            <key>textureFileName</key>
            <string>B033_attacks.png</string>
        </dict>
    </dict>
</plist>
