<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B034_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,164}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{104,164}}</string>
                <key>sourceSize</key>
                <string>{136,190}</string>
            </dict>
            <key>B034_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{106,164}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{106,164}}</string>
                <key>sourceSize</key>
                <string>{136,190}</string>
            </dict>
            <key>B034_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{108,164}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{108,164}}</string>
                <key>sourceSize</key>
                <string>{136,190}</string>
            </dict>
            <key>B034_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,334},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B034_stand.png</string>
            <key>size</key>
            <string>{114,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3a63434d03be7524eb8363cf529c94c$</string>
            <key>textureFileName</key>
            <string>B034_stand.png</string>
        </dict>
    </dict>
</plist>
