<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B034_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,164}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{104,164}}</string>
                <key>sourceSize</key>
                <string>{136,190}</string>
            </dict>
            <key>B034_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{127,174}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{127,174}}</string>
                <key>sourceSize</key>
                <string>{143,184}</string>
            </dict>
            <key>B034_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{152,159}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{152,159}}</string>
                <key>sourceSize</key>
                <string>{162,167}</string>
            </dict>
            <key>B034_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{151,159}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{151,159}}</string>
                <key>sourceSize</key>
                <string>{169,167}</string>
            </dict>
            <key>B034_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,178},{113,159}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{113,159}}</string>
                <key>sourceSize</key>
                <string>{137,167}</string>
            </dict>
            <key>B034_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,178},{56,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,42}}</string>
                <key>sourceSize</key>
                <string>{58,44}</string>
            </dict>
            <key>B034_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,178},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,58}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>B034_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,178},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{82,48}</string>
            </dict>
            <key>B034_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{77,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,33}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>B034_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,339},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B034_attacks.png</string>
            <key>size</key>
            <string>{465,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f69c3895c5356a2aeb22181860b72cf$</string>
            <key>textureFileName</key>
            <string>B034_attacks.png</string>
        </dict>
    </dict>
</plist>
