<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B034_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,164}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{104,164}}</string>
                <key>sourceSize</key>
                <string>{136,190}</string>
            </dict>
            <key>B034_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{147,163}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,163}}</string>
                <key>sourceSize</key>
                <string>{159,169}</string>
            </dict>
            <key>B034_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{161,161}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{171,167}</string>
            </dict>
            <key>B034_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{162,187}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{162,187}}</string>
                <key>sourceSize</key>
                <string>{174,195}</string>
            </dict>
            <key>B034_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,168},{124,177}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{124,177}}</string>
                <key>sourceSize</key>
                <string>{138,185}</string>
            </dict>
            <key>B034_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,168},{113,182}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{113,182}}</string>
                <key>sourceSize</key>
                <string>{137,190}</string>
            </dict>
            <key>B034_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{169,161}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{169,161}}</string>
                <key>sourceSize</key>
                <string>{179,169}</string>
            </dict>
            <key>B034_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,357},{155,161}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{155,161}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>B034_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,357},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>B034_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,357},{75,47}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,47}}</string>
                <key>sourceSize</key>
                <string>{77,49}</string>
            </dict>
            <key>B034_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{86,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,74}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>B034_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,520},{81,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>B034_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,520},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B034_rageskill.png</string>
            <key>size</key>
            <string>{460,596}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb19333cb2466add4227adb8099bb355$</string>
            <key>textureFileName</key>
            <string>B034_rageskill.png</string>
        </dict>
    </dict>
</plist>
