<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B035_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,189}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{171,189}}</string>
                <key>sourceSize</key>
                <string>{179,199}</string>
            </dict>
            <key>B035_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{157,197}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,197}}</string>
                <key>sourceSize</key>
                <string>{157,201}</string>
            </dict>
            <key>B035_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{197,197}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,197}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>B035_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,201},{174,195}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,195}}</string>
                <key>sourceSize</key>
                <string>{174,199}</string>
            </dict>
            <key>B035_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,201},{116,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,57}}</string>
                <key>sourceSize</key>
                <string>{116,57}</string>
            </dict>
            <key>B035_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{65,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,94}}</string>
                <key>sourceSize</key>
                <string>{65,94}</string>
            </dict>
            <key>B035_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,400},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B035_attacks.png</string>
            <key>size</key>
            <string>{495,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44aea33ea53d893d9e4f1f82e775f7a7$</string>
            <key>textureFileName</key>
            <string>B035_attacks.png</string>
        </dict>
    </dict>
</plist>
