<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B036_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,141},{109,139}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{109,139}}</string>
                <key>sourceSize</key>
                <string>{131,173}</string>
            </dict>
            <key>B036_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{115,137}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,137}}</string>
                <key>sourceSize</key>
                <string>{115,141}</string>
            </dict>
            <key>B036_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,288},{125,206}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,206}}</string>
                <key>sourceSize</key>
                <string>{129,212}</string>
            </dict>
            <key>B036_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{100,139}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{122,145}</string>
            </dict>
            <key>B036_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{150,195}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{150,195}}</string>
                <key>sourceSize</key>
                <string>{158,201}</string>
            </dict>
            <key>B036_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,141},{100,139}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{122,145}</string>
            </dict>
            <key>B036_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,141},{123,145}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,145}}</string>
                <key>sourceSize</key>
                <string>{129,151}</string>
            </dict>
            <key>B036_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{109,129}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,129}}</string>
                <key>sourceSize</key>
                <string>{115,133}</string>
            </dict>
            <key>B036_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{48,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>B036_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,288},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>B036_rageskill_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{174,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{174,92}}</string>
                <key>sourceSize</key>
                <string>{176,92}</string>
            </dict>
            <key>B036_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B036_rageskill.png</string>
            <key>size</key>
            <string>{458,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af0fbb681f0c7fc3f39f137d1ea59a60$</string>
            <key>textureFileName</key>
            <string>B036_rageskill.png</string>
        </dict>
    </dict>
</plist>
