<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B040_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,176}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{131,176}}</string>
                <key>sourceSize</key>
                <string>{157,186}</string>
            </dict>
            <key>B040_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{131,167}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{131,167}}</string>
                <key>sourceSize</key>
                <string>{157,175}</string>
            </dict>
            <key>B040_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{141,161}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{141,161}}</string>
                <key>sourceSize</key>
                <string>{171,169}</string>
            </dict>
            <key>B040_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{159,163}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{159,163}}</string>
                <key>sourceSize</key>
                <string>{193,171}</string>
            </dict>
            <key>B040_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,180},{163,149}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{163,149}}</string>
                <key>sourceSize</key>
                <string>{199,157}</string>
            </dict>
            <key>B040_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{201,134}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{201,134}}</string>
                <key>sourceSize</key>
                <string>{217,142}</string>
            </dict>
            <key>B040_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,345},{173,150}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{173,150}}</string>
                <key>sourceSize</key>
                <string>{211,158}</string>
            </dict>
            <key>B040_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{163,146}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{163,146}}</string>
                <key>sourceSize</key>
                <string>{199,154}</string>
            </dict>
            <key>B040_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,497},{83,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,78}}</string>
                <key>sourceSize</key>
                <string>{85,80}</string>
            </dict>
            <key>B040_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,497},{167,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,71}}</string>
                <key>sourceSize</key>
                <string>{167,71}</string>
            </dict>
            <key>B040_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{141,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,113}}</string>
                <key>sourceSize</key>
                <string>{141,113}</string>
            </dict>
            <key>B040_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,645},{165,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,132}}</string>
                <key>sourceSize</key>
                <string>{165,132}</string>
            </dict>
            <key>B040_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,645},{177,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,136}}</string>
                <key>sourceSize</key>
                <string>{177,136}</string>
            </dict>
            <key>B040_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,645},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B040_rageskill.png</string>
            <key>size</key>
            <string>{493,783}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b8ef4ecde84ad913669bb5e43b6875a$</string>
            <key>textureFileName</key>
            <string>B040_rageskill.png</string>
        </dict>
    </dict>
</plist>
