<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B040_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,176}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{131,176}}</string>
                <key>sourceSize</key>
                <string>{157,186}</string>
            </dict>
            <key>B040_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{131,167}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{131,167}}</string>
                <key>sourceSize</key>
                <string>{157,175}</string>
            </dict>
            <key>B040_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{149,161}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{149,161}}</string>
                <key>sourceSize</key>
                <string>{171,169}</string>
            </dict>
            <key>B040_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{186,166}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{186,166}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>B040_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,180},{174,149}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{174,149}}</string>
                <key>sourceSize</key>
                <string>{212,157}</string>
            </dict>
            <key>B040_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{202,150}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{202,150}}</string>
                <key>sourceSize</key>
                <string>{218,158}</string>
            </dict>
            <key>B040_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,348},{241,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,186}}</string>
                <key>sourceSize</key>
                <string>{241,186}</string>
            </dict>
            <key>B040_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{251,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,165}}</string>
                <key>sourceSize</key>
                <string>{251,165}</string>
            </dict>
            <key>B040_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,536},{79,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,162}}</string>
                <key>sourceSize</key>
                <string>{79,162}</string>
            </dict>
            <key>B040_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,536},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B040_attacks.png</string>
            <key>size</key>
            <string>{449,703}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e560e811450d6e4cd22e06fd99374d8a$</string>
            <key>textureFileName</key>
            <string>B040_attacks.png</string>
        </dict>
    </dict>
</plist>
