<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B041_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,169}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{107,169}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>B041_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{131,176}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{131,176}}</string>
                <key>sourceSize</key>
                <string>{159,182}</string>
            </dict>
            <key>B041_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{143,172}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{143,172}}</string>
                <key>sourceSize</key>
                <string>{175,178}</string>
            </dict>
            <key>B041_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{143,171}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{143,171}}</string>
                <key>sourceSize</key>
                <string>{175,177}</string>
            </dict>
            <key>B041_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,180},{143,172}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{143,172}}</string>
                <key>sourceSize</key>
                <string>{175,178}</string>
            </dict>
            <key>B041_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,180},{143,172}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{143,172}}</string>
                <key>sourceSize</key>
                <string>{175,178}</string>
            </dict>
            <key>B041_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{143,172}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{143,172}}</string>
                <key>sourceSize</key>
                <string>{175,178}</string>
            </dict>
            <key>B041_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,354},{92,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,87}}</string>
                <key>sourceSize</key>
                <string>{94,89}</string>
            </dict>
            <key>B041_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,354},{32,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,58}}</string>
                <key>sourceSize</key>
                <string>{32,58}</string>
            </dict>
            <key>B041_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,354},{42,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,64}}</string>
                <key>sourceSize</key>
                <string>{42,64}</string>
            </dict>
            <key>B041_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,354},{63,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,88}}</string>
                <key>sourceSize</key>
                <string>{63,88}</string>
            </dict>
            <key>B041_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,354},{33,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,60}}</string>
                <key>sourceSize</key>
                <string>{33,60}</string>
            </dict>
            <key>B041_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,354},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B041_rageskill.png</string>
            <key>size</key>
            <string>{437,528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:789b41098247c77d3f90e27b11cd4abd$</string>
            <key>textureFileName</key>
            <string>B041_rageskill.png</string>
        </dict>
    </dict>
</plist>
