<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B041_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,169}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{107,169}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>B041_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{127,167}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{127,167}}</string>
                <key>sourceSize</key>
                <string>{153,173}</string>
            </dict>
            <key>B041_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{135,163}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{135,163}}</string>
                <key>sourceSize</key>
                <string>{165,169}</string>
            </dict>
            <key>B041_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{135,162}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{135,162}}</string>
                <key>sourceSize</key>
                <string>{165,168}</string>
            </dict>
            <key>B041_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,173},{168,156}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{168,156}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>B041_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,173},{168,156}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{168,156}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>B041_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{168,156}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{168,156}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>B041_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,337},{127,168}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{127,168}}</string>
                <key>sourceSize</key>
                <string>{153,174}</string>
            </dict>
            <key>B041_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,337},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,54}</string>
            </dict>
            <key>B041_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,337},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>B041_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{97,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,76}}</string>
                <key>sourceSize</key>
                <string>{97,76}</string>
            </dict>
            <key>B041_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,507},{97,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,74}}</string>
                <key>sourceSize</key>
                <string>{97,74}</string>
            </dict>
            <key>B041_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,507},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B041_attacks.png</string>
            <key>size</key>
            <string>{479,585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a0f955a22fda28c8b17de82ae38dac8$</string>
            <key>textureFileName</key>
            <string>B041_attacks.png</string>
        </dict>
    </dict>
</plist>
