<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B042_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,173}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{151,173}}</string>
                <key>sourceSize</key>
                <string>{169,191}</string>
            </dict>
            <key>B042_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{155,171}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{155,171}}</string>
                <key>sourceSize</key>
                <string>{169,191}</string>
            </dict>
            <key>B042_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{159,171}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{159,171}}</string>
                <key>sourceSize</key>
                <string>{169,191}</string>
            </dict>
            <key>B042_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B042_stand.png</string>
            <key>size</key>
            <string>{475,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d9c814671b6249a49b52c7b196b5968$</string>
            <key>textureFileName</key>
            <string>B042_stand.png</string>
        </dict>
    </dict>
</plist>
