<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B042_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,173}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{151,173}}</string>
                <key>sourceSize</key>
                <string>{169,191}</string>
            </dict>
            <key>B042_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{170,164}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{170,164}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>B042_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{182,162}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,162}}</string>
                <key>sourceSize</key>
                <string>{198,168}</string>
            </dict>
            <key>B042_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{173,158}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,158}}</string>
                <key>sourceSize</key>
                <string>{189,164}</string>
            </dict>
            <key>B042_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,177},{159,156}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,156}}</string>
                <key>sourceSize</key>
                <string>{175,162}</string>
            </dict>
            <key>B042_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{176,221}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{176,221}}</string>
                <key>sourceSize</key>
                <string>{182,227}</string>
            </dict>
            <key>B042_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,337},{243,117}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{243,117}}</string>
                <key>sourceSize</key>
                <string>{255,123}</string>
            </dict>
            <key>B042_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{234,144}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{234,144}}</string>
                <key>sourceSize</key>
                <string>{246,144}</string>
            </dict>
            <key>B042_attacks_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,560},{169,154}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{169,154}}</string>
                <key>sourceSize</key>
                <string>{179,160}</string>
            </dict>
            <key>B042_attacks_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,560},{35,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{35,50}}</string>
                <key>sourceSize</key>
                <string>{47,58}</string>
            </dict>
            <key>B042_attacks_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,560},{62,60}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{62,60}}</string>
                <key>sourceSize</key>
                <string>{90,76}</string>
            </dict>
            <key>B042_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,560},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B042_attacks.png</string>
            <key>size</key>
            <string>{512,716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8aa0571ce9f9cd2ca9b582ed292ccd04$</string>
            <key>textureFileName</key>
            <string>B042_attacks.png</string>
        </dict>
    </dict>
</plist>
