<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B043_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,160}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{137,160}}</string>
                <key>sourceSize</key>
                <string>{165,172}</string>
            </dict>
            <key>B043_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{137,160}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{137,160}}</string>
                <key>sourceSize</key>
                <string>{165,172}</string>
            </dict>
            <key>B043_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{137,160}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{137,160}}</string>
                <key>sourceSize</key>
                <string>{165,172}</string>
            </dict>
            <key>B043_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,326},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B043_stand.png</string>
            <key>size</key>
            <string>{143,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9af0b653ea7995b4c8ee9aba81fcdf7$</string>
            <key>textureFileName</key>
            <string>B043_stand.png</string>
        </dict>
    </dict>
</plist>
