<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B043_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,160}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{137,160}}</string>
                <key>sourceSize</key>
                <string>{165,172}</string>
            </dict>
            <key>B043_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{155,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,159}}</string>
                <key>sourceSize</key>
                <string>{155,159}</string>
            </dict>
            <key>B043_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,164},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B043_jump.png</string>
            <key>size</key>
            <string>{161,325}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04fd2dad343250e0867cc8afdcbd743d$</string>
            <key>textureFileName</key>
            <string>B043_jump.png</string>
        </dict>
    </dict>
</plist>
