<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B043_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,160}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{137,160}}</string>
                <key>sourceSize</key>
                <string>{165,172}</string>
            </dict>
            <key>B043_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{112,148}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,148}}</string>
                <key>sourceSize</key>
                <string>{124,154}</string>
            </dict>
            <key>B043_attacks_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{131,138}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,138}}</string>
                <key>sourceSize</key>
                <string>{139,142}</string>
            </dict>
            <key>B043_attacks_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{124,148}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,148}}</string>
                <key>sourceSize</key>
                <string>{124,154}</string>
            </dict>
            <key>B043_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,164},{129,141}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,141}}</string>
                <key>sourceSize</key>
                <string>{135,147}</string>
            </dict>
            <key>B043_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,164},{150,128}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,128}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>B043_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{147,128}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,134}</string>
            </dict>
            <key>B043_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,314},{131,139}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,139}}</string>
                <key>sourceSize</key>
                <string>{139,145}</string>
            </dict>
            <key>B043_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,314},{160,136}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,136}}</string>
                <key>sourceSize</key>
                <string>{160,142}</string>
            </dict>
            <key>B043_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{188,131}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,131}}</string>
                <key>sourceSize</key>
                <string>{198,137}</string>
            </dict>
            <key>B043_attacks_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,455},{186,129}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,129}}</string>
                <key>sourceSize</key>
                <string>{198,135}</string>
            </dict>
            <key>B043_attacks_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{186,129}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,129}}</string>
                <key>sourceSize</key>
                <string>{198,135}</string>
            </dict>
            <key>B043_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,588},{66,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,17}}</string>
                <key>sourceSize</key>
                <string>{66,17}</string>
            </dict>
            <key>B043_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,588},{63,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,31}}</string>
                <key>sourceSize</key>
                <string>{63,31}</string>
            </dict>
            <key>B043_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,588},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,20}</string>
            </dict>
            <key>B043_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,588},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B043_attacks.png</string>
            <key>size</key>
            <string>{446,719}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b6cb2fa09e82d7628674069117c50fd$</string>
            <key>textureFileName</key>
            <string>B043_attacks.png</string>
        </dict>
    </dict>
</plist>
