<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B043_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,160}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{137,160}}</string>
                <key>sourceSize</key>
                <string>{165,172}</string>
            </dict>
            <key>B043_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{148,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,151}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>B043_rageskill_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{134,148}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{134,148}}</string>
                <key>sourceSize</key>
                <string>{138,154}</string>
            </dict>
            <key>B043_rageskill_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{152,156}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{152,156}}</string>
                <key>sourceSize</key>
                <string>{160,162}</string>
            </dict>
            <key>B043_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,164},{155,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,159}}</string>
                <key>sourceSize</key>
                <string>{155,159}</string>
            </dict>
            <key>B043_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,164},{120,157}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{120,157}}</string>
                <key>sourceSize</key>
                <string>{128,163}</string>
            </dict>
            <key>B043_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{127,158}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{127,158}}</string>
                <key>sourceSize</key>
                <string>{135,164}</string>
            </dict>
            <key>B043_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,325},{134,160}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{134,160}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>B043_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,325},{139,159}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{139,159}}</string>
                <key>sourceSize</key>
                <string>{145,163}</string>
            </dict>
            <key>B043_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{148,156}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,162}</string>
            </dict>
            <key>B043_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,487},{141,156}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{141,156}}</string>
                <key>sourceSize</key>
                <string>{145,162}</string>
            </dict>
            <key>B043_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,487},{132,156}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,156}}</string>
                <key>sourceSize</key>
                <string>{140,162}</string>
            </dict>
            <key>B043_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{114,106}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{114,106}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
            <key>B043_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,645},{118,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,30}}</string>
                <key>sourceSize</key>
                <string>{118,30}</string>
            </dict>
            <key>B043_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,645},{146,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,76}}</string>
                <key>sourceSize</key>
                <string>{146,76}</string>
            </dict>
            <key>B043_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{219,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,148}}</string>
                <key>sourceSize</key>
                <string>{219,148}</string>
            </dict>
            <key>B043_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,753},{154,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,168}}</string>
                <key>sourceSize</key>
                <string>{154,168}</string>
            </dict>
            <key>B043_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,753},{98,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,73}}</string>
                <key>sourceSize</key>
                <string>{98,73}</string>
            </dict>
            <key>B043_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,753},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B043_rageskill.png</string>
            <key>size</key>
            <string>{481,923}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9f0142f2aff3228a572972582c8ac79$</string>
            <key>textureFileName</key>
            <string>B043_rageskill.png</string>
        </dict>
    </dict>
</plist>
