<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B044_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,202}}</string>
                <key>sourceSize</key>
                <string>{217,202}</string>
            </dict>
            <key>B044_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{320,228}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,228}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>B044_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{342,218}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,218}}</string>
                <key>sourceSize</key>
                <string>{342,234}</string>
            </dict>
            <key>B044_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{413,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,392}}</string>
                <key>sourceSize</key>
                <string>{413,392}</string>
            </dict>
            <key>B044_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,232},{293,224}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{293,224}}</string>
                <key>sourceSize</key>
                <string>{329,240}</string>
            </dict>
            <key>B044_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{332,222}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{332,222}}</string>
                <key>sourceSize</key>
                <string>{378,238}</string>
            </dict>
            <key>B044_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,626},{314,247}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{314,247}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>B044_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,626},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B044_rageskill.png</string>
            <key>size</key>
            <string>{887,875}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00cc2dd4a07d7588f61be9dcb6e63fce$</string>
            <key>textureFileName</key>
            <string>B044_rageskill.png</string>
        </dict>
    </dict>
</plist>
