<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B044_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{359,401}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{359,401}}</string>
                <key>sourceSize</key>
                <string>{383,421}</string>
            </dict>
            <key>B044_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{483,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,399}}</string>
                <key>sourceSize</key>
                <string>{483,399}</string>
            </dict>
            <key>B044_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,405},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B044_beattack.png</string>
            <key>size</key>
            <string>{489,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8e34bf7512a1bbd94c37b43c1699b46$</string>
            <key>textureFileName</key>
            <string>B044_beattack.png</string>
        </dict>
    </dict>
</plist>
