<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B044_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,207}}</string>
                <key>sourceSize</key>
                <string>{243,207}</string>
            </dict>
            <key>B044_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{186,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,209}}</string>
                <key>sourceSize</key>
                <string>{186,209}</string>
            </dict>
            <key>B044_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{360,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,426}}</string>
                <key>sourceSize</key>
                <string>{360,426}</string>
            </dict>
            <key>B044_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,2},{592,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,409}}</string>
                <key>sourceSize</key>
                <string>{592,409}</string>
            </dict>
            <key>B044_attacks_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,2},{463,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,434}}</string>
                <key>sourceSize</key>
                <string>{463,434}</string>
            </dict>
            <key>B044_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,2},{117,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,78}}</string>
                <key>sourceSize</key>
                <string>{117,78}</string>
            </dict>
            <key>B044_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{197,206}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{197,206}}</string>
                <key>sourceSize</key>
                <string>{199,220}</string>
            </dict>
            <key>B044_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,438},{187,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{187,195}}</string>
                <key>sourceSize</key>
                <string>{187,213}</string>
            </dict>
            <key>B044_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,438},{200,194}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{200,194}}</string>
                <key>sourceSize</key>
                <string>{206,218}</string>
            </dict>
            <key>B044_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,438},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B044_attacks.png</string>
            <key>size</key>
            <string>{1975,646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f71baa1bf5c4b2f48a18c55fe6b0ce61$</string>
            <key>textureFileName</key>
            <string>B044_attacks.png</string>
        </dict>
    </dict>
</plist>
