<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B045_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{393,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,425}}</string>
                <key>sourceSize</key>
                <string>{393,425}</string>
            </dict>
            <key>B045_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{307,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,221}}</string>
                <key>sourceSize</key>
                <string>{307,221}</string>
            </dict>
            <key>B045_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{320,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,221}}</string>
                <key>sourceSize</key>
                <string>{320,221}</string>
            </dict>
            <key>B045_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{406,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,423}}</string>
                <key>sourceSize</key>
                <string>{406,423}</string>
            </dict>
            <key>B045_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,2},{233,147}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{233,147}}</string>
                <key>sourceSize</key>
                <string>{263,159}</string>
            </dict>
            <key>B045_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,2},{241,189}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{241,189}}</string>
                <key>sourceSize</key>
                <string>{279,209}</string>
            </dict>
            <key>B045_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{202,160}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{202,160}}</string>
                <key>sourceSize</key>
                <string>{232,176}</string>
            </dict>
            <key>B045_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,429},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B045_rageskill.png</string>
            <key>size</key>
            <string>{1914,591}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b2a09814909dd984979d3d4b03fc23d$</string>
            <key>textureFileName</key>
            <string>B045_rageskill.png</string>
        </dict>
    </dict>
</plist>
