<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B045_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,212}}</string>
                <key>sourceSize</key>
                <string>{199,212}</string>
            </dict>
            <key>B045_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{360,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,461}}</string>
                <key>sourceSize</key>
                <string>{360,461}</string>
            </dict>
            <key>B045_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{592,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,418}}</string>
                <key>sourceSize</key>
                <string>{592,418}</string>
            </dict>
            <key>B045_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,2},{432,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,434}}</string>
                <key>sourceSize</key>
                <string>{432,434}</string>
            </dict>
            <key>B045_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,2},{117,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,78}}</string>
                <key>sourceSize</key>
                <string>{117,78}</string>
            </dict>
            <key>B045_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,2},{197,206}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{197,206}}</string>
                <key>sourceSize</key>
                <string>{199,220}</string>
            </dict>
            <key>B045_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{187,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{187,195}}</string>
                <key>sourceSize</key>
                <string>{187,213}</string>
            </dict>
            <key>B045_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,465},{200,194}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{200,194}}</string>
                <key>sourceSize</key>
                <string>{206,218}</string>
            </dict>
            <key>B045_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,465},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B045_attacks.png</string>
            <key>size</key>
            <string>{1911,662}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:850dbcf24e83f0ddb275cc47a18643e4$</string>
            <key>textureFileName</key>
            <string>B045_attacks.png</string>
        </dict>
    </dict>
</plist>
