<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B045_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,424}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{340,424}}</string>
                <key>sourceSize</key>
                <string>{362,458}</string>
            </dict>
            <key>B045_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{394,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,421}}</string>
                <key>sourceSize</key>
                <string>{394,421}</string>
            </dict>
            <key>B045_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,428},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B045_block.png</string>
            <key>size</key>
            <string>{400,851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e453e6a7f49f907765e5ae62d9e701d5$</string>
            <key>textureFileName</key>
            <string>B045_block.png</string>
        </dict>
    </dict>
</plist>
