<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B046_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,424}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{338,424}}</string>
                <key>sourceSize</key>
                <string>{350,446}</string>
            </dict>
            <key>B046_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{338,426}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{338,426}}</string>
                <key>sourceSize</key>
                <string>{350,446}</string>
            </dict>
            <key>B046_jump_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{342,426}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{342,426}}</string>
                <key>sourceSize</key>
                <string>{350,446}</string>
            </dict>
            <key>B046_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,430},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B046_jump.png</string>
            <key>size</key>
            <string>{682,858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9de1b5279f9fa2b2aa5bf58448cf8ec$</string>
            <key>textureFileName</key>
            <string>B046_jump.png</string>
        </dict>
    </dict>
</plist>
