<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B046_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{375,495}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,495}}</string>
                <key>sourceSize</key>
                <string>{375,495}</string>
            </dict>
            <key>B046_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{552,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,375}}</string>
                <key>sourceSize</key>
                <string>{552,375}</string>
            </dict>
            <key>B046_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{349,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,411}}</string>
                <key>sourceSize</key>
                <string>{349,411}</string>
            </dict>
            <key>B046_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,499},{54,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,61}}</string>
                <key>sourceSize</key>
                <string>{54,61}</string>
            </dict>
            <key>B046_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,499},{120,110}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>B046_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,499},{181,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,166}}</string>
                <key>sourceSize</key>
                <string>{181,168}</string>
            </dict>
            <key>B046_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,499},{110,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,177}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>B046_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,499},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B046_attacks.png</string>
            <key>size</key>
            <string>{933,912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12212a646abc3a107451d22d0c8a553d$</string>
            <key>textureFileName</key>
            <string>B046_attacks.png</string>
        </dict>
    </dict>
</plist>
