<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B046_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,424}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{338,424}}</string>
                <key>sourceSize</key>
                <string>{350,446}</string>
            </dict>
            <key>B046_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{480,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,361}}</string>
                <key>sourceSize</key>
                <string>{480,361}</string>
            </dict>
            <key>B046_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,428},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B046_block.png</string>
            <key>size</key>
            <string>{486,791}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06c9f3a10762825bbc42b8de704f66ef$</string>
            <key>textureFileName</key>
            <string>B046_block.png</string>
        </dict>
    </dict>
</plist>
