<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B047_beattack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,425}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{338,425}}</string>
                <key>sourceSize</key>
                <string>{346,443}</string>
            </dict>
            <key>B047_beattack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{345,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,465}}</string>
                <key>sourceSize</key>
                <string>{345,465}</string>
            </dict>
            <key>B047_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,429},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B047_beattack.png</string>
            <key>size</key>
            <string>{351,896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5afc51b9e8b1426d5f6bb581189334f6$</string>
            <key>textureFileName</key>
            <string>B047_beattack.png</string>
        </dict>
    </dict>
</plist>
