<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B047_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,425}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{338,425}}</string>
                <key>sourceSize</key>
                <string>{346,443}</string>
            </dict>
            <key>B047_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{480,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,361}}</string>
                <key>sourceSize</key>
                <string>{480,361}</string>
            </dict>
            <key>B047_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,429},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B047_block.png</string>
            <key>size</key>
            <string>{486,792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1be70602471beaf05328b1662a96b429$</string>
            <key>textureFileName</key>
            <string>B047_block.png</string>
        </dict>
    </dict>
</plist>
