<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B048_block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,147}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{122,147}}</string>
                <key>sourceSize</key>
                <string>{148,153}</string>
            </dict>
            <key>B048_block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,145}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{122,145}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>B048_block_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B048_block.png</string>
            <key>size</key>
            <string>{252,151}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53b20d22c8c7d1a4652520a9f9d11521$</string>
            <key>textureFileName</key>
            <string>B048_block.png</string>
        </dict>
    </dict>
</plist>
