<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B049_beattack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{516,314}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{516,314}}</string>
                <key>sourceSize</key>
                <string>{620,314}</string>
            </dict>
            <key>B049_beattack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{696,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{696,293}}</string>
                <key>sourceSize</key>
                <string>{696,293}</string>
            </dict>
            <key>B049_beattack_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{335,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,213}}</string>
                <key>sourceSize</key>
                <string>{335,213}</string>
            </dict>
            <key>B049_beattack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,613},{219,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,97}}</string>
                <key>sourceSize</key>
                <string>{219,97}</string>
            </dict>
            <key>B049_beattack_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,613},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B049_beattack.png</string>
            <key>size</key>
            <string>{700,828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:771e0712b22331fd12a785e7c8522f3a$</string>
            <key>textureFileName</key>
            <string>B049_beattack.png</string>
        </dict>
    </dict>
</plist>
