<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B050_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{119,147}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{119,147}}</string>
                <key>sourceSize</key>
                <string>{141,161}</string>
            </dict>
            <key>B050_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,59},{122,143}}</string>
                <key>offset</key>
                <string>{-8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,74},{122,143}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>B050_rageskill_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,59},{116,135}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,82},{116,135}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>B050_rageskill_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,204},{116,161}}</string>
                <key>offset</key>
                <string>{-11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,56},{116,161}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>B050_rageskill_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{116,183}}</string>
                <key>offset</key>
                <string>{-11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,34},{116,183}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>B050_rageskill_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,753},{116,215}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{116,215}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>B050_rageskill_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,753},{138,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{138,211}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>B050_rageskill_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,554},{116,195}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{116,195}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>B050_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,204},{134,163}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,54},{134,163}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>B050_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,369},{116,183}}</string>
                <key>offset</key>
                <string>{-11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,34},{116,183}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>B050_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,369},{152,175}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,42},{152,175}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>B050_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,554},{126,197}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{126,197}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>B050_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{116,205}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{116,205}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>B050_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,554},{116,193}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{116,193}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>B050_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{156,171}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,46},{156,171}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>B050_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,204},{118,163}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,54},{118,163}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>B050_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,59},{101,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{101,94}}</string>
                <key>sourceSize</key>
                <string>{103,98}</string>
            </dict>
            <key>B050_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{125,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,55}}</string>
                <key>sourceSize</key>
                <string>{125,55}</string>
            </dict>
            <key>B050_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,59},{76,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,105}}</string>
                <key>sourceSize</key>
                <string>{76,105}</string>
            </dict>
            <key>B050_rageskill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{33,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,19}}</string>
                <key>sourceSize</key>
                <string>{33,19}</string>
            </dict>
            <key>B050_rageskill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{68,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,47}}</string>
                <key>sourceSize</key>
                <string>{68,47}</string>
            </dict>
            <key>B050_rageskill_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>B050_rageskill_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>B050_rageskill_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{63,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>B050_rageskill_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{41,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{41,50}</string>
            </dict>
            <key>B050_rageskill_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{61,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,33}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
            <key>B050_rageskill_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>B050_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B050_rageskill.png</string>
            <key>size</key>
            <string>{502,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d4e2e2536c33df873fd3f93f8b806cb$</string>
            <key>textureFileName</key>
            <string>B050_rageskill.png</string>
        </dict>
    </dict>
</plist>
