<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B050_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,255},{119,147}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{119,147}}</string>
                <key>sourceSize</key>
                <string>{141,161}</string>
            </dict>
            <key>B050_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{115,145}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{115,145}}</string>
                <key>sourceSize</key>
                <string>{165,161}</string>
            </dict>
            <key>B050_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,255},{141,149}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{141,149}}</string>
                <key>sourceSize</key>
                <string>{165,161}</string>
            </dict>
            <key>B050_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{135,117}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,38},{135,117}}</string>
                <key>sourceSize</key>
                <string>{165,161}</string>
            </dict>
            <key>B050_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,255},{117,155}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{117,155}}</string>
                <key>sourceSize</key>
                <string>{165,161}</string>
            </dict>
            <key>B050_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{151,111}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,44},{151,111}}</string>
                <key>sourceSize</key>
                <string>{165,161}</string>
            </dict>
            <key>B050_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,120},{139,133}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{139,133}}</string>
                <key>sourceSize</key>
                <string>{165,161}</string>
            </dict>
            <key>B050_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{133,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,115}}</string>
                <key>sourceSize</key>
                <string>{133,115}</string>
            </dict>
            <key>B050_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,120},{119,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,130}}</string>
                <key>sourceSize</key>
                <string>{119,130}</string>
            </dict>
            <key>B050_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{98,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,112}}</string>
                <key>sourceSize</key>
                <string>{98,112}</string>
            </dict>
            <key>B050_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{69,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,116}}</string>
                <key>sourceSize</key>
                <string>{69,116}</string>
            </dict>
            <key>B050_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B050_attacks.png</string>
            <key>size</key>
            <string>{502,412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eafa71bb65981cdfc4c4d14acd2de73d$</string>
            <key>textureFileName</key>
            <string>B050_attacks.png</string>
        </dict>
    </dict>
</plist>
