<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B051_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,225}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{178,225}}</string>
                <key>sourceSize</key>
                <string>{216,237}</string>
            </dict>
            <key>B051_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,226}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{178,226}}</string>
                <key>sourceSize</key>
                <string>{216,270}</string>
            </dict>
            <key>B051_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{178,224}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,35},{178,224}}</string>
                <key>sourceSize</key>
                <string>{216,270}</string>
            </dict>
            <key>B051_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{178,240}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{178,240}}</string>
                <key>sourceSize</key>
                <string>{216,270}</string>
            </dict>
            <key>B051_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{184,258}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{184,258}}</string>
                <key>sourceSize</key>
                <string>{216,270}</string>
            </dict>
            <key>B051_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{178,226}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{178,226}}</string>
                <key>sourceSize</key>
                <string>{216,270}</string>
            </dict>
            <key>B051_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,262},{178,226}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{178,226}}</string>
                <key>sourceSize</key>
                <string>{216,270}</string>
            </dict>
            <key>B051_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,262},{178,226}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{178,226}}</string>
                <key>sourceSize</key>
                <string>{216,270}</string>
            </dict>
            <key>B051_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,262},{178,226}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{178,226}}</string>
                <key>sourceSize</key>
                <string>{216,270}</string>
            </dict>
            <key>B051_rageskill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,262},{61,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{61,58}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>B051_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,262},{44,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,95}}</string>
                <key>sourceSize</key>
                <string>{44,95}</string>
            </dict>
            <key>B051_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,262},{67,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,94}}</string>
                <key>sourceSize</key>
                <string>{67,94}</string>
            </dict>
            <key>B051_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,262},{93,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>B051_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{99,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,109}}</string>
                <key>sourceSize</key>
                <string>{99,109}</string>
            </dict>
            <key>B051_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,490},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>B051_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,490},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>B051_rageskill_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,490},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>B051_rageskill_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,490},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>B051_rageskill_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,490},{25,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>B051_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,490},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B051_rageskill.png</string>
            <key>size</key>
            <string>{995,601}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2d465106ee7fa01602950ba0c116459$</string>
            <key>textureFileName</key>
            <string>B051_rageskill.png</string>
        </dict>
    </dict>
</plist>
