<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B052_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,138},{107,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{107,136}}</string>
                <key>sourceSize</key>
                <string>{125,144}</string>
            </dict>
            <key>B052_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{115,138}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{115,138}}</string>
                <key>sourceSize</key>
                <string>{139,144}</string>
            </dict>
            <key>B052_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{121,137}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{121,137}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>B052_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,247},{121,130}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{121,130}}</string>
                <key>sourceSize</key>
                <string>{147,136}</string>
            </dict>
            <key>B052_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{138,126}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{138,126}}</string>
                <key>sourceSize</key>
                <string>{168,132}</string>
            </dict>
            <key>B052_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,274},{15,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{15,34}}</string>
                <key>sourceSize</key>
                <string>{17,36}</string>
            </dict>
            <key>B052_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,368},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>B052_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,274},{48,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,105}}</string>
                <key>sourceSize</key>
                <string>{48,105}</string>
            </dict>
            <key>B052_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,322},{52,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,92}}</string>
                <key>sourceSize</key>
                <string>{52,92}</string>
            </dict>
            <key>B052_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{54,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{54,76}}</string>
                <key>sourceSize</key>
                <string>{54,80}</string>
            </dict>
            <key>B052_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,422},{52,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,71}}</string>
                <key>sourceSize</key>
                <string>{52,73}</string>
            </dict>
            <key>B052_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B052_attacks.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82d1b7b05341b34139bf94e25c7e280d$</string>
            <key>textureFileName</key>
            <string>B052_attacks.png</string>
        </dict>
    </dict>
</plist>
