<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B053_attacks_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,144},{103,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,37}}</string>
                <key>sourceSize</key>
                <string>{103,37}</string>
            </dict>
            <key>B053_attacks_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,377},{138,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,132}}</string>
                <key>sourceSize</key>
                <string>{138,132}</string>
            </dict>
            <key>B053_attacks_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,116},{103,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,117}}</string>
                <key>sourceSize</key>
                <string>{103,117}</string>
            </dict>
            <key>B053_attacks_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{112,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,58}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>B053_attacks_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,121},{114,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,60}}</string>
                <key>sourceSize</key>
                <string>{114,60}</string>
            </dict>
            <key>B053_attacks_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,58},{108,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,58}}</string>
                <key>sourceSize</key>
                <string>{108,58}</string>
            </dict>
            <key>B053_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,196},{85,145}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{85,145}}</string>
                <key>sourceSize</key>
                <string>{103,151}</string>
            </dict>
            <key>B053_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,0},{102,144}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{102,144}}</string>
                <key>sourceSize</key>
                <string>{124,148}</string>
            </dict>
            <key>B053_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,184},{143,136}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,136}}</string>
                <key>sourceSize</key>
                <string>{159,140}</string>
            </dict>
            <key>B053_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{131,196}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{131,196}}</string>
                <key>sourceSize</key>
                <string>{159,202}</string>
            </dict>
            <key>B053_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{181,95}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{181,95}}</string>
                <key>sourceSize</key>
                <string>{191,101}</string>
            </dict>
            <key>B053_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,0},{121,88}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{121,88}}</string>
                <key>sourceSize</key>
                <string>{145,94}</string>
            </dict>
            <key>B053_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,377},{121,128}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{121,128}}</string>
                <key>sourceSize</key>
                <string>{145,134}</string>
            </dict>
            <key>B053_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,341},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>B053_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,0},{53,56}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
            <key>B053_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,144},{43,26}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>B053_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,341},{34,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,23}}</string>
                <key>sourceSize</key>
                <string>{34,23}</string>
            </dict>
            <key>B053_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,144},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>B053_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,341},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>B053_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B053_attacks.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7d5ee939b9e1f22ca90cfbc5715d574$</string>
            <key>textureFileName</key>
            <string>B053_attacks.png</string>
        </dict>
    </dict>
</plist>
