<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B054_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,353},{115,147}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{115,147}}</string>
                <key>sourceSize</key>
                <string>{125,155}</string>
            </dict>
            <key>B054_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,247},{106,176}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{106,176}}</string>
                <key>sourceSize</key>
                <string>{122,182}</string>
            </dict>
            <key>B054_attacks_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,608},{114,111}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,111}}</string>
                <key>sourceSize</key>
                <string>{126,117}</string>
            </dict>
            <key>B054_attacks_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,467},{106,142}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{106,142}}</string>
                <key>sourceSize</key>
                <string>{122,148}</string>
            </dict>
            <key>B054_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,243},{100,201}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,201}}</string>
                <key>sourceSize</key>
                <string>{122,207}</string>
            </dict>
            <key>B054_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,147},{100,201}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,201}}</string>
                <key>sourceSize</key>
                <string>{122,207}</string>
            </dict>
            <key>B054_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,343},{162,159}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{162,159}}</string>
                <key>sourceSize</key>
                <string>{172,165}</string>
            </dict>
            <key>B054_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{111,262}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{111,262}}</string>
                <key>sourceSize</key>
                <string>{135,268}</string>
            </dict>
            <key>B054_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{132,283}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{132,283}}</string>
                <key>sourceSize</key>
                <string>{142,289}</string>
            </dict>
            <key>B054_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,0},{147,225}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,225}}</string>
                <key>sourceSize</key>
                <string>{161,231}</string>
            </dict>
            <key>B054_attacks_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,357},{110,144}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,144}}</string>
                <key>sourceSize</key>
                <string>{122,150}</string>
            </dict>
            <key>B054_attacks_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,573},{110,119}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,119}}</string>
                <key>sourceSize</key>
                <string>{122,125}</string>
            </dict>
            <key>B054_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{120,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,106}}</string>
                <key>sourceSize</key>
                <string>{120,106}</string>
            </dict>
            <key>B054_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,579},{116,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,117}}</string>
                <key>sourceSize</key>
                <string>{116,117}</string>
            </dict>
            <key>B054_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,247},{122,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,110}}</string>
                <key>sourceSize</key>
                <string>{122,110}</string>
            </dict>
            <key>B054_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,468},{111,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,121}}</string>
                <key>sourceSize</key>
                <string>{111,121}</string>
            </dict>
            <key>B054_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,683},{77,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,96}}</string>
                <key>sourceSize</key>
                <string>{77,96}</string>
            </dict>
            <key>B054_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,573},{114,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>B054_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B054_attacks.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b56e7bd7856ef1c5fd0052ded109a89$</string>
            <key>textureFileName</key>
            <string>B054_attacks.png</string>
        </dict>
    </dict>
</plist>
