<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B057_attacks_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,465},{47,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,28}}</string>
                <key>sourceSize</key>
                <string>{47,28}</string>
            </dict>
            <key>B057_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{73,161}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{73,161}}</string>
                <key>sourceSize</key>
                <string>{91,167}</string>
            </dict>
            <key>B057_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,305},{76,160}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{90,164}</string>
            </dict>
            <key>B057_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,144},{122,155}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,155}}</string>
                <key>sourceSize</key>
                <string>{124,159}</string>
            </dict>
            <key>B057_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,299},{126,153}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,153}}</string>
                <key>sourceSize</key>
                <string>{126,157}</string>
            </dict>
            <key>B057_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{124,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{124,144}}</string>
                <key>sourceSize</key>
                <string>{144,148}</string>
            </dict>
            <key>B057_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{194,135}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{194,135}}</string>
                <key>sourceSize</key>
                <string>{208,139}</string>
            </dict>
            <key>B057_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{194,135}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{194,135}}</string>
                <key>sourceSize</key>
                <string>{208,139}</string>
            </dict>
            <key>B057_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,144},{147,151}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{147,151}}</string>
                <key>sourceSize</key>
                <string>{157,155}</string>
            </dict>
            <key>B057_attacks_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,262},{90,147}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{90,147}}</string>
                <key>sourceSize</key>
                <string>{110,151}</string>
            </dict>
            <key>B057_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,465},{74,40}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{74,40}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>B057_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,144},{132,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,118}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>B057_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,295},{66,90}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{66,90}}</string>
                <key>sourceSize</key>
                <string>{74,124}</string>
            </dict>
            <key>B057_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,135},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>B057_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,166},{20,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,33}}</string>
                <key>sourceSize</key>
                <string>{22,35}</string>
            </dict>
            <key>B057_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B057_attacks.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffdc52a5bab9cec9e800d2a128dd8c6a$</string>
            <key>textureFileName</key>
            <string>B057_attacks.png</string>
        </dict>
    </dict>
</plist>
