<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B058_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{162,177}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{162,177}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>B058_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{167,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,176}}</string>
                <key>sourceSize</key>
                <string>{167,176}</string>
            </dict>
            <key>B058_jump_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B058_jump.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ebdc5858b8309b8ce8e9834e7597447$</string>
            <key>textureFileName</key>
            <string>B058_jump.png</string>
        </dict>
    </dict>
</plist>
