<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B058_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1013},{89,11}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,11}}</string>
                <key>sourceSize</key>
                <string>{89,13}</string>
            </dict>
            <key>B058_attacks_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,829},{162,177}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{162,177}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>B058_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,247},{162,174}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{162,174}}</string>
                <key>sourceSize</key>
                <string>{196,180}</string>
            </dict>
            <key>B058_attacks_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,508},{321,175}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{321,175}}</string>
                <key>sourceSize</key>
                <string>{335,181}</string>
            </dict>
            <key>B058_attacks_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,822},{162,176}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{162,176}}</string>
                <key>sourceSize</key>
                <string>{196,182}</string>
            </dict>
            <key>B058_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,831},{214,182}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{214,182}}</string>
                <key>sourceSize</key>
                <string>{228,188}</string>
            </dict>
            <key>B058_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,485},{292,272}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,272}}</string>
                <key>sourceSize</key>
                <string>{292,278}</string>
            </dict>
            <key>B058_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,777},{217,217}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,217}}</string>
                <key>sourceSize</key>
                <string>{237,223}</string>
            </dict>
            <key>B058_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,508},{323,175}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,175}}</string>
                <key>sourceSize</key>
                <string>{343,181}</string>
            </dict>
            <key>B058_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,172},{313,269}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,269}}</string>
                <key>sourceSize</key>
                <string>{343,275}</string>
            </dict>
            <key>B058_attacks_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{336,233}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{336,233}}</string>
                <key>sourceSize</key>
                <string>{356,239}</string>
            </dict>
            <key>B058_attacks_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{435,164}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{435,164}}</string>
                <key>sourceSize</key>
                <string>{447,170}</string>
            </dict>
            <key>B058_attacks_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{446,164}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{446,164}}</string>
                <key>sourceSize</key>
                <string>{466,170}</string>
            </dict>
            <key>B058_attacks_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,485},{19,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,42}}</string>
                <key>sourceSize</key>
                <string>{19,42}</string>
            </dict>
            <key>B058_attacks_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,485},{19,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,42}}</string>
                <key>sourceSize</key>
                <string>{19,42}</string>
            </dict>
            <key>B058_attacks_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,86},{136,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,86}}</string>
                <key>sourceSize</key>
                <string>{152,86}</string>
            </dict>
            <key>B058_attacks_311.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,0},{142,86}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{142,86}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>B058_attacks_312.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,409},{82,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{82,36}}</string>
                <key>sourceSize</key>
                <string>{84,38}</string>
            </dict>
            <key>B058_attacks_313.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,777},{93,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{93,38}}</string>
                <key>sourceSize</key>
                <string>{93,44}</string>
            </dict>
            <key>B058_attacks_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,172},{78,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,59}}</string>
                <key>sourceSize</key>
                <string>{78,59}</string>
            </dict>
            <key>B058_attacks_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,871},{76,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,60}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>B058_attacks_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,994},{77,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,28}}</string>
                <key>sourceSize</key>
                <string>{77,28}</string>
            </dict>
            <key>B058_attacks_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,777},{84,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,45}}</string>
                <key>sourceSize</key>
                <string>{84,45}</string>
            </dict>
            <key>B058_attacks_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,777},{83,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,37}}</string>
                <key>sourceSize</key>
                <string>{83,37}</string>
            </dict>
            <key>B058_attacks_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,164},{83,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,54}}</string>
                <key>sourceSize</key>
                <string>{83,54}</string>
            </dict>
            <key>B058_attacks_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,814},{64,57}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{64,57}}</string>
                <key>sourceSize</key>
                <string>{76,57}</string>
            </dict>
            <key>B058_attacks_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,409},{156,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,102}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>B058_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B058_attacks.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb26d4963615a09bc31d103957fa2ac6$</string>
            <key>textureFileName</key>
            <string>B058_attacks.png</string>
        </dict>
    </dict>
</plist>
