<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B058_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,614},{162,177}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{162,177}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>B058_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,614},{325,188}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{325,188}}</string>
                <key>sourceSize</key>
                <string>{341,192}</string>
            </dict>
            <key>B058_rageskill_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,780},{236,179}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{236,179}}</string>
                <key>sourceSize</key>
                <string>{252,185}</string>
            </dict>
            <key>B058_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,613},{321,167}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{321,167}}</string>
                <key>sourceSize</key>
                <string>{331,173}</string>
            </dict>
            <key>B058_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,614},{258,166}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,166}}</string>
                <key>sourceSize</key>
                <string>{258,172}</string>
            </dict>
            <key>B058_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,780},{309,199}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,199}}</string>
                <key>sourceSize</key>
                <string>{335,205}</string>
            </dict>
            <key>B058_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{532,233}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,233}}</string>
                <key>sourceSize</key>
                <string>{532,237}</string>
            </dict>
            <key>B058_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,398},{508,216}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{508,216}}</string>
                <key>sourceSize</key>
                <string>{526,222}</string>
            </dict>
            <key>B058_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,233},{516,237}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,237}}</string>
                <key>sourceSize</key>
                <string>{516,243}</string>
            </dict>
            <key>B058_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,0},{421,170}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,170}}</string>
                <key>sourceSize</key>
                <string>{443,176}</string>
            </dict>
            <key>B058_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,170},{416,157}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{416,157}}</string>
                <key>sourceSize</key>
                <string>{436,159}</string>
            </dict>
            <key>B058_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,327},{80,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,46}}</string>
                <key>sourceSize</key>
                <string>{80,46}</string>
            </dict>
            <key>B058_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,154},{115,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,56}}</string>
                <key>sourceSize</key>
                <string>{115,56}</string>
            </dict>
            <key>B058_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,939},{156,80}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,80}}</string>
                <key>sourceSize</key>
                <string>{176,102}</string>
            </dict>
            <key>B058_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,470},{222,143}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,56},{222,143}}</string>
                <key>sourceSize</key>
                <string>{286,279}</string>
            </dict>
            <key>B058_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,0},{154,60}}</string>
                <key>offset</key>
                <string>{-21,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{154,60}}</string>
                <key>sourceSize</key>
                <string>{196,104}</string>
            </dict>
            <key>B058_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,780},{260,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{260,183}}</string>
                <key>sourceSize</key>
                <string>{260,269}</string>
            </dict>
            <key>B058_rageskill_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,269},{129,74}}</string>
                <key>offset</key>
                <string>{-22,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,31},{129,74}}</string>
                <key>sourceSize</key>
                <string>{187,158}</string>
            </dict>
            <key>B058_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>B058_rageskill.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a4f1af44baede23099b4a898b4a5fe9$</string>
            <key>textureFileName</key>
            <string>B058_rageskill.png</string>
        </dict>
    </dict>
</plist>
