<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SiegeAttackBegin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{42,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{42,38}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeAttackBegin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,192},{36,40}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{36,40}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeAttackBegin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,156},{40,40}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{40,40}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeAttackBegin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,150},{40,38}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{40,38}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeAttackBegin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,194},{40,38}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{40,38}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeAttackBegin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{46,38}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{46,38}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeAttackBegin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{48,34}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{48,34}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeAttackBegin7.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,30}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{50,30}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeAttackBegin8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,30}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{50,30}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeAttackBegin9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{42,30}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,23},{42,30}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeDeath0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,44},{36,44}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{36,44}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeDeath1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,116},{34,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{34,42}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeDeath2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,82},{34,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{34,38}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeDeath3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,118},{34,30}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{34,30}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeDeath4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,118},{30,28}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{30,28}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeDeath5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,160},{40,28}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,32},{40,28}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeWalking0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,152},{40,38}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{40,38}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeWalking1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,78},{42,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{42,38}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeWalking10.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,198},{40,38}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{40,38}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeWalking11.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,118},{40,36}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{40,36}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeWalking2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,74},{42,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{42,40}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeWalking3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{44,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{44,40}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeWalking4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,42},{44,38}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{44,38}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeWalking5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,38},{44,38}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{44,38}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeWalking6.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,34},{44,38}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{44,38}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeWalking7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{44,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{44,38}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeWalking8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{42,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{42,40}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>SiegeWalking9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{40,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{40,40}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Siege.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73fa77d413615300dd3a9943bb433c88:c0485454c354215dc499b3f1f12ac970:4e496a20f43f01f3996b3d21259344e8$</string>
            <key>textureFileName</key>
            <string>Siege.png</string>
        </dict>
    </dict>
</plist>
