<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ygjrdeath0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{52,34}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,27},{52,34}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>ygjrdeath1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,36},{54,30}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,32},{54,30}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>ygjrdeath2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,34}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{54,34}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>ygjrdeath3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,32}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{54,32}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ygjrdeath.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f41c08edff016b1484a0ca5f3a56ebf6:74bc887b55cbb377b74dc0cbbcc650e6:441b8e008e6ef938a044478ae6ec1bcc$</string>
            <key>textureFileName</key>
            <string>ygjrdeath.png</string>
        </dict>
    </dict>
</plist>
